competitors-news-screening-jtxuA1xrJcoxYYVH.json
{"createdAt":"2025-08-21T08:45:09.289Z","updatedAt":"2025-08-27T15:06:51.809Z","id":"jtxuA1xrJcoxYYVH","name":"competitors-news-screening","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.CompanyID }}/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"is_company","value":"true"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1488,608],"id":"d434986a-d915-4989-8951-cb3b624aea5a","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"pTb3HlTRFEJKrunW","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.items }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,384],"id":"0c72f651-be47-4be5-87fe-2f974bb32991","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1952,608],"id":"93801a34-1cc4-4170-92b5-758476ce0c82","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.share_url }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"=","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.author.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"=","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.parsed_datetime }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"=","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"=","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,608],"id":"cf169583-8ead-4248-910e-a1a7d8d901ac","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"LinkedinResearch","operator":{"type":"string","operation":"equals"},"id":"1411d67d-fb99-4d54-b522-859f4424de51"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedinResearch"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[272,192],"id":"6507ab10-0c86-4858-bb14-8f8b4449ba82","name":"Switch"},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/linkedin/company/{{ $json.companyName }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,592],"id":"92d4b62d-462f-4cb2-bed3-125ddffa10ea","name":"Get Company Details","credentials":{"httpHeaderAuth":{"id":"pTb3HlTRFEJKrunW","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c5402369-6268-42da-81cf-60eb6ffa6d39","name":"logoUrl","value":"=[\"{{ $json.logo_large }}\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,592],"id":"ebc13582-e25f-4b66-adf4-ba52ff9ba844","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5,4]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[720,480],"id":"f9fc7271-1026-4ccd-98d7-7ef662c196ab","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1184,608],"id":"806eab4c-595e-482e-8d59-d1c4822da7d5","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,608],"id":"581c1fba-3fa5-4b03-b888-95ac789d7f7e","name":"Wait","webhookId":"8df9ccbd-d8a1-4d32-8c34-5f5f2b678036"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,64],"id":"be0ba975-3a50-4e4c-8045-0b1c4a20268d","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $('Aggregate').item.json.data }}","messages":{"messageValues":[{"message":"=Create a Report Business Strategy analysis based on the info obtained from Linkedin Posts, what are each of these companies focusing on, give educated guesses about what the companies are doing in terms of efforts.\n\nFrom the data, give strategic bussiness intelligence details about every companies.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2064,64],"id":"17c555bb-0ccc-4934-83ba-4c1c69e04576","name":"Basic LLM Chain"},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json[\"text\"] + \"\\n\\n# Annex\\n\\n\" +  $('Message a model').item.json.message.content}}","type":"string"},{"id":"9e9a18ae-e155-4616-8fd2-c072b2d47095","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2416,64],"id":"b719b7e8-3c2b-4ac1-bf26-a75285d7b7d4","name":"Edit Fields2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2528,64],"id":"eba2a3ca-c750-4d63-ac2d-1430158698a3","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.items }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1632,608],"id":"fe2dbefa-da7e-4341-899f-f985f6d2020d","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,544],"id":"c01c5bf5-0f9f-46c5-bf45-ae682098ebfb","name":"Edit Fields4"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const companyName = item.json.Url.trim().split('company/').pop();\n  if (companyName) {\n    console.log()\n    item.json.companyName = companyName.replace(/(\\/)$/, '');\n  }\n  \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,384],"id":"104b0c0e-7ce7-4b76-a5dc-9dcbe261d982","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2800,608],"id":"762aad81-366d-4700-94fa-7d6635083667","name":"Should create Department"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"61e6888a-52bc-4f75-b9c4-aa141d406e42"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[288,768],"id":"50b2b484-cbbd-4b0e-ad81-b9f0c89383bd","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"37a87ab2-6b61-4181-b717-79e51ca6ec63","name":"Drive folder Id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,960],"id":"a4c3801e-9f0b-4bfd-8824-fc6d35a1245f","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields7').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields7').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3200,400],"id":"64ab7f9b-7b8d-4728-9f7c-780e250695a1","name":"Edit Fields6"},{"parameters":{"path":"08bddbd8-555d-4f1c-a533-69450123eabb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[112,192],"id":"35914710-9190-4904-b1bc-b1fc739fb37d","name":"Webhook","webhookId":"08bddbd8-555d-4f1c-a533-69450123eabb"},{"parameters":{"content":"## Get Company Data","height":1380,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"c2f6db63-b1af-4b2f-b61e-b986eb334fe2","name":"Sticky Note"},{"parameters":{"content":"## News Scraping + Saving Automation [Along with weekly Reporting]","height":784,"width":3020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[528,352],"typeVersion":1,"id":"1e814214-7521-4274-9e59-df976aecaf94","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3120,592],"id":"dcfdef5a-044f-4ad3-bb56-b1ab7276db94","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2944,560],"id":"9b37ba2d-e0f2-45ad-a1bb-41659f4af051","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"HWlffOu4EAPHRCeX","name":"OpenAi account"}}},{"parameters":{"content":"##  weekly Reporting\n","height":340,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[528,0],"typeVersion":1,"id":"0ee1838a-8a56-4734-8e1a-38aaef10f18b","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,720],"id":"ba0e3eec-1e67-4cd8-a914-caf01be7464b","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblmvH3SawXaCpgWZ"},"id":"={{ $('Webhook').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[128,384],"id":"55b5c382-f00d-4685-b4a8-8d48053dd1ab","name":"Get a record","credentials":{"airtableTokenApi":{"id":"tt1RhGivQbf8t29q","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{"folderId":{"__rl":true,"value":"1iHIzyka2s_lqzV_GaVuqvuDu2QcELNd3","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[112,768],"id":"6d72bbaa-0da0-411d-acc5-bd89618a9ccb","name":"Search files and folders","alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"bLTmm8piJTUq8rQr","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Edit Fields3').item.json.name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1iHIzyka2s_lqzV_GaVuqvuDu2QcELNd3","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[128,960],"id":"a22b1fad-be7c-43f5-8797-ff53f28da2c9","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"bLTmm8piJTUq8rQr","name":"Google Drive account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblmvH3SawXaCpgWZ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get a record').item.json.id }}","Name":"={{ $('Edit Fields3').item.json.name }}","CompanyID":"={{ $('Edit Fields3').item.json.id }}","Status":"Add to Schedule","CompanyDescription":"={{ $('Edit Fields3').item.json.description }}","CompanyWebsite":"={{ $('Edit Fields3').item.json.website }}","PublicIdentifier":"={{ $('Edit Fields3').item.json.public_identifier }}","companyLogo":"={{ $('Edit Fields3').item.json.logoUrl.map(link => ({ url: link })) }}","Drive Folder Id":"={{ $json[\"Drive folder Id\"] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"Research","value":"Research"},{"name":"Add to Schedule","value":"Add to Schedule"}],"readOnly":false,"removed":false},{"id":"CompanyID","displayName":"CompanyID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"CompanyDescription","displayName":"CompanyDescription","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyWebsite","displayName":"CompanyWebsite","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PublicIdentifier","displayName":"PublicIdentifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"companyLogo","displayName":"companyLogo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Job Postings","displayName":"Job Postings","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Drive Folder Id","displayName":"Drive Folder Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"reports","displayName":"reports","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[128,1168],"id":"d423a0dd-b6df-4447-a94b-a04860282357","name":"Update record","credentials":{"airtableTokenApi":{"id":"tt1RhGivQbf8t29q","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblmvH3SawXaCpgWZ"},"filterByFormula":"{Status} = \"Add to Schedule\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1008,608],"id":"7b45bc72-d42b-454e-a8d0-0fd39a5237a5","name":"Search records","credentials":{"airtableTokenApi":{"id":"tt1RhGivQbf8t29q","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=Competitor Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2672,64],"id":"5532810f-2893-40e6-a9b9-4d22169302f0","name":"Send a message","webhookId":"641a5094-ab57-4ca8-9ee0-602be708a991","credentials":{"gmailOAuth2":{"id":"Ct7oTN7K7etctF53","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown').item.json.Details }}","Date":"={{ $('Aggregate').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2832,64],"id":"4c76d1cc-a94b-40d2-bc4f-3216670b9ea8","name":"Create a record","credentials":{"airtableTokenApi":{"id":"tt1RhGivQbf8t29q","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"News Postings","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Applicants":"={{ $('Edit Fields6').item.json.Applicants }}","Description":"={{ $('Edit Fields6').item.json.Description }}","listedAt":"={{ $('Edit Fields6').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields6').item.json.listedAt }}","scrapedAt":"={{ new Date().toISOString() }}","Title":"={{ $('Edit Fields6').item.json.Title }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing","Department":"={{ $('Edit Fields6').item.json.Department }}","Location":"={{ $('Edit Fields6').item.json.Location }}","CompanyLink":"={{ $('Edit Fields6').item.json.companyRecordID }}"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3440,672],"id":"d941b34d-a88e-4695-81ce-5268e3ae1cdb","name":"Create a record1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"tt1RhGivQbf8t29q","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields6').item.json.CompanyName }}_{{ $('Edit Fields6').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3424,400],"id":"bb5148e7-b7ac-49ca-9e5e-5cf07e2ef39d","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"OOXhxtvywafB0GAj","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Post Title\n\n{{ $('Edit Fields6').item.json.Title }}\n\n## Category\n\n{{ $('Edit Fields6').item.json.message.content.department }}\n\n## Post Text\n\n{{ $('Edit Fields6').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[3280,672],"id":"4f89e538-c82c-4836-92cd-759d551f62d9","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"OOXhxtvywafB0GAj","name":"Google Docs account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"95d91c9c-7569-482f-bb9e-c9a854fea3b2","leftValue":"={{ new Date($json[\"parsed_datetime\"]).getTime() }}","rightValue":"={{ Date.now() - $('Search records').item.json['Previous Days to Scrape'] * 24 * 60 * 60 * 1000 }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,608],"id":"7a030221-3425-4ba0-9a80-31fd5491bf8b","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"a3c3831b-2835-45ad-a8f1-4f59e8e98b16","name":"Title","value":"={{ $json.message.content }}","type":"string"},{"id":"d38601d4-3746-4ea6-9b25-91fd6f1a5091","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"b6398e0f-0f90-4c54-80be-a4fd1abe78f3","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"ddde66d3-8876-464f-8a37-ea34c859736f","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"4c092f4a-c2c5-4b64-915a-975ca634ef5d","name":"Location","value":"={{ $('Edit Fields1').item.json.Title }}","type":"string"},{"id":"9ddc843d-a4c3-426a-830f-41100f1f9994","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"bf3cd863-8169-4c99-8b17-6a350ff611df","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"975b2814-1197-4761-82a8-2363d8bc8947","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"b028aac1-004b-401a-b51a-2d12b75db661","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"9b21ed6f-4b0d-41f5-96f1-8d0738e099e6","name":"Drive Folder Id","value":"={{ $('Edit Fields1').item.json['Drive Folder Id'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2656,608],"id":"81084a1c-bf29-45ac-82b9-911c5a1d44ee","name":"Edit Fields7"},{"parameters":{"promptType":"define","text":"=Post description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert business intelligence analyst-role classifier. Given a post of a company in Linkedin, output the single most relevant **category name**.  \nReturn **only** the category name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed categories fit, create a concise, Title-Case category name of ≤3 words that best groups the role; reuse that exact name for any future similar posts.  \nOnly output **FAILED** when the input is empty or contains no discernible info to be categorized.\n\n**Canonical Categories**\n\n- Completed Projects and Infrastructure\n\n- Awarded Projects\n\n- Innovation and Technology\n\n- Sustainability, Environment and Social Impact\n\n- Recognitions, Awards and Rankings\n\n- Financial Results and Corporate Strategy\n\n- Partnerships and Collaborations\n\n- Employer Branding and Talent\n\n- Events and Institutional Participation\n\n- Corporate Communication\n\n**Examples**\n\n- *Input*: “La construcción del Museo Guggenheim Bilbao fue una obra que no solo redefinió el skyline de la ciudad, sino también su futuro.\\n\\nMás que acero y titanio, este proyecto fue visión, colaboración y la prueba de que la arquitectura puede cambiar el pulso de una comunidad entera.\\n\\nHoy, sigue siendo un símbolo de innovación, arte y regeneración urbana.\\n\\n👉 Conoce cómo lo hicimos posible: https://ow.ly/P7sq50VPitx”  \n  *Output*: Proyectos e Infraestructuras Ejecutadas  \n\n- *Input*: “📆 El 13 de mayo, a cierre de mercado en Estados Unidos (21h CET / 16h ET), publicaremos nuestros resultados financieros correspondientes al primer trimestre de 2025\\nDescubre todas las novedades usando nuestro hashtag 👉 #ResultadosFerrovial2025”  \n  *Output*: Resultados Financieros y Estrategia Corporativa  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2928,400],"id":"9536cb2c-b9fc-4870-8450-d34f6af93aa0","name":"Add Category","executeOnce":false},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Crea un título para el post de Linkedin siguiente: {{ $json.Description }}. No incluyas en el título ni emojis, ni hastag ni comillas, sólo texto plano."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2384,608],"id":"f05ecd12-82f8-45e3-9049-69077990d4bf","name":"Create a Post Title","credentials":{"openAiApi":{"id":"HWlffOu4EAPHRCeX","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2064,224],"id":"ccf8dd9d-dc8e-4bd7-a526-bf5fe8b6c651","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"HWlffOu4EAPHRCeX","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=Eres un extractor determinista de datos. Devuelves únicamente contenido en Markdown válido, sin explicaciones ni código.\n\nEntrada JSON (array con un solo objeto que contiene data, que es una lista de ítems):\n{{ JSON.stringify($json, null, 2) }}\n\nTarea\n\nRecorre data[*]. Para cada elemento:\n\ntitle = fields.Title (string).\n\nurl = fields.Location (URL).\n\ndept = fields.Department (string, si falta usa \"Uncategorized\").\n\ncompany = infierela desde la URL de LinkedIn:\n\nLa URL tiene forma https://www.linkedin.com/posts/<slug>_... o .../posts/<slug>-....\n\nToma el segmento <slug> inmediatamente después de /posts/ y conviértelo a nombre legible:\n\nReemplaza guiones por espacios y aplica Title Case.\n\nNormaliza algunos casos:\n\n\"grupo-acs\" → \"Grupo ACS\"\n\n\"dragados-sa\" → \"Dragados\"\n\n\"cpb-contractors\" → \"CPB Contractors\"\n\nSi no puedes inferir, usa \"Unknown Company\".\n\nAgrupa por company y dentro por dept.\n\nOrdena:\n\nEmpresas A→Z,\n\nCategorías A→Z,\n\nPosts por title A→Z.\n\nEscapa [ y ] en los títulos para que no rompan el markdown.\n\nSalida EXACTA (sin texto adicional):\n\nyaml\nCopiar\nEditar\n## {Company A}\n\n### {Department A1}\n- [{title} ]({url})\n- [{title} ]({url})\n\n### {Department A2}\n- [{title} ]({url})\n\n---\n\n## {Company B}\n...\nIncluye el separador --- entre empresas.\n\nNo incluyas bloques de código, firmas ni explicaciones.\n\nOmite ítems sin Title o sin Location válidos."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1744,64],"id":"d92823f0-3adf-4cd8-ac90-15a162b062cc","name":"Message a model","credentials":{"openAiApi":{"id":"HWlffOu4EAPHRCeX","name":"OpenAi account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create a Post Title","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Get Company Details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get Company Details","type":"main","index":0}]]},"Should create Department":{"main":[[{"node":"Add Category","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Add Category","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Add Category","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Code","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Should create Department","type":"main","index":0}]]},"Add Category":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Create a Post Title":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Message a model":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"659e7d65-a252-45e5-8bd7-791d0b846794","triggerCount":2,"shared":[{"createdAt":"2025-08-21T08:45:09.289Z","updatedAt":"2025-08-21T08:45:09.289Z","role":"workflow:owner","workflowId":"jtxuA1xrJcoxYYVH","projectId":"e8gWqGDyBxcRtjym"}],"tags":[]}