competitors-news-screening-gmqWSCYROHaFSXmc.json
{"createdAt":"2025-08-11T22:14:05.267Z","updatedAt":"2025-08-11T22:43:39.094Z","id":"gmqWSCYROHaFSXmc","name":"Competitors News Screening","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.CompanyID }}/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,592],"id":"06c7da25-8c59-44de-9b9e-78aebc482e84","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,368],"id":"117693a7-d420-4b7b-bab2-5aaf32fe2983","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1696,592],"id":"2620ab80-38ef-4a27-91a8-5fd970ccbf56","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,592],"id":"a724f9c2-6c6f-4c2b-b616-42fde53ea53f","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"LinkedinResearch","operator":{"type":"string","operation":"equals"},"id":"1411d67d-fb99-4d54-b522-859f4424de51"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedinResearch"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,176],"id":"caf6ac9e-1504-4472-a34d-b50392411efc","name":"Switch"},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/linkedin/company/{{ $json.companyName }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,576],"id":"48e47382-5a1a-4757-bc80-e94275265643","name":"Get Company Details","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c5402369-6268-42da-81cf-60eb6ffa6d39","name":"logoUrl","value":"=[\"{{ $json.logo_large }}\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,576],"id":"10594adf-0baa-4c82-9724-b06f169884e4","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[384,464],"id":"9df65365-a394-4fe6-8309-d08cbac2fa79","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[848,592],"id":"a72c2eb2-3b79-4d97-9edf-51510bcdae3e","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,592],"id":"5c1d7c8d-df9e-46cc-8a59-f48e45df59ad","name":"Wait","webhookId":"8df9ccbd-d8a1-4d32-8c34-5f5f2b678036"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1408,48],"id":"4c51434b-c7ea-4b99-81c8-5b8af8e9678c","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign, what are each of these companies focusing on, give educated guesses about what the companies are doing in terms of efforts.\n\nFrom the data, give hiring details about every companies.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1568,48],"id":"90986660-7253-4e89-9bf2-44901324d750","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1552,208],"id":"16b265aa-2fef-435a-bc61-233f5559d555","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,48],"id":"41333b1d-522d-42e5-9031-996ebf1afc33","name":"Edit Fields2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1984,48],"id":"dc832d28-149a-4882-893b-f773142f2951","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,592],"id":"7976f55f-754d-42ae-9fcc-f8b7a43c2f51","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,528],"id":"30781b28-3899-4b6e-8d33-49c0416b2c37","name":"Edit Fields4"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2176,384],"id":"2ec41ef6-2634-4a51-a89c-7b81d2460658","name":"Add Department","executeOnce":false},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const companyName = item.json.Url.trim().split('company/').pop();\n  if (companyName) {\n    console.log()\n    item.json.companyName = companyName.replace(/(\\/)$/, '');\n  }\n  \n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,368],"id":"e5a325da-8dde-4bd1-b834-b7f28d6e049d","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,592],"id":"576ee22c-0b42-45b0-ad30-1ffea4fa1c47","name":"Should create Department"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"61e6888a-52bc-4f75-b9c4-aa141d406e42"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-48,752],"id":"6a9056a9-4bdf-44d0-a71b-ab0eb2225537","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"37a87ab2-6b61-4181-b717-79e51ca6ec63","name":"Drive folder Id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,944],"id":"64e30b2b-7cfe-4c63-810d-b7a7b99e1cdc","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields1').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields1').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,384],"id":"88a16520-2434-46e5-9e24-202284675fb1","name":"Edit Fields6"},{"parameters":{"path":"08bddbd8-555d-4f1c-a533-69450123eabb","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,176],"id":"3f12630a-89c2-4c54-adc7-b8b1ef8cd603","name":"Webhook","webhookId":"08bddbd8-555d-4f1c-a533-69450123eabb"},{"parameters":{"content":"## Get Company Data","height":1380,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-336,-16],"typeVersion":1,"id":"445866a9-9bd1-43d2-b092-993f235d827c","name":"Sticky Note"},{"parameters":{"content":"## News Scraping + Saving Automation [Along with weekly Reporting]","height":1040,"width":2860,"color":6},"type":"n8n-nodes-base.stickyNote","position":[304,352],"typeVersion":1,"id":"ec6215fb-4e6e-4bd7-bf8b-21a397961aa8","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2368,576],"id":"299d10c1-2ae3-458c-a67d-257039226280","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,544],"id":"f2f5e7f3-ebed-43c8-be55-839e229237f8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"content":"##  weekly Reporting\n","height":340,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[192,-16],"typeVersion":1,"id":"71396a10-52f9-4775-a758-7a197af12079","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,704],"id":"246fd0d2-d558-4f01-9347-350310820b1a","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblmvH3SawXaCpgWZ"},"id":"={{ $('Webhook').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-208,368],"id":"1fa42dca-204e-442b-b764-13bf60223e5f","name":"Get a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{"folderId":{"__rl":true,"value":"1iHIzyka2s_lqzV_GaVuqvuDu2QcELNd3","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-224,752],"id":"90a4fe02-5589-4c03-8ef1-3dbbeec6af48","name":"Search files and folders","alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Edit Fields3').item.json.name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1iHIzyka2s_lqzV_GaVuqvuDu2QcELNd3","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,944],"id":"ebbd140c-ca32-4298-bc27-d3a4fb4c31e3","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appNAEgTAuBUiGTQn","mode":"list","cachedResultName":"Linkedin Competitor News Spyware","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appNAEgTAuBUiGTQn/tblmvH3SawXaCpgWZ"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get a record').item.json.id }}","Name":"={{ $('Edit Fields3').item.json.name }}","CompanyID":"={{ $('Edit Fields3').item.json.id }}","Status":"Add to Schedule","CompanyDescription":"={{ $('Edit Fields3').item.json.description }}","CompanyWebsite":"={{ $('Edit Fields3').item.json.website }}","PublicIdentifier":"={{ $('Edit Fields3').item.json.public_identifier }}","companyLogo":"={{ $('Edit Fields3').item.json.logoUrl.map(link => ({ url: link })) }}","Drive Folder Id":"={{ $json[\"Drive folder Id\"] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"Research","value":"Research"},{"name":"Add to Schedule","value":"Add to Schedule"}],"readOnly":false,"removed":false},{"id":"CompanyID","displayName":"CompanyID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"CompanyDescription","displayName":"CompanyDescription","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyWebsite","displayName":"CompanyWebsite","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"PublicIdentifier","displayName":"PublicIdentifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"companyLogo","displayName":"companyLogo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Job Postings","displayName":"Job Postings","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Drive Folder Id","displayName":"Drive Folder Id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"reports","displayName":"reports","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-208,1152],"id":"9b225291-5850-492f-acdb-ea35b0abd76f","name":"Update record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblmvH3SawXaCpgWZ"},"filterByFormula":"{Status} = \"Add to Schedule\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[672,592],"id":"9589f157-e04b-4ac1-9463-bd639a7ac193","name":"Search records","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=Competitor Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2128,48],"id":"73b43d27-4830-402d-9556-7a36d1b5b63a","name":"Send a message","webhookId":"641a5094-ab57-4ca8-9ee0-602be708a991","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown').item.json.Details }}","Date":"={{ $('Aggregate').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2288,48],"id":"98a92d24-6c05-4d89-b09b-7fada31f7937","name":"Create a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields6').item.json.Title }}","Description":"={{ $('Edit Fields6').item.json.Description }}","Applicants":"={{ $('Edit Fields6').item.json.Applicants }}","Location":"={{ $('Edit Fields6').item.json.Location }}","CompanyLink":"={{ $('Edit Fields6').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields6').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields6').item.json.expiresAt }}","Department":"={{ $('Edit Fields6').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2688,656],"id":"2ff56e78-fe54-4d7c-b593-9f4298389fe6","name":"Create a record1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields6').item.json.CompanyName }}_{{ $('Edit Fields6').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2672,384],"id":"8ea19bda-8eab-4ae2-8cdd-7cd5ad12fa47","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields6').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2528,656],"id":"e96552a6-0e2f-482f-a63e-7a6df64bc007","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Should create Department","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Get Company Details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Add Department":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get Company Details","type":"main","index":0}]]},"Should create Department":{"main":[[{"node":"Add Department","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Update record","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Add Department","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Add Department","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Code","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Create a record1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"fba4eb65-11ac-401a-845b-6e61827f6ae0","triggerCount":2,"tags":[]}