linkedin-people-screening01-JdPn8a9YY7BbLfPj.json
{"createdAt":"2025-09-06T19:14:00.281Z","updatedAt":"2025-09-07T20:23:10.834Z","id":"JdPn8a9YY7BbLfPj","name":"Linkedin People Screening01","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api15.unipile.com:14591/api/v1/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"request_url","value":"=https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(companyUrn:urn%3Ali%3Afsd_company%3A{{ $json.CompanyID }})&queryId=voyagerJobsTalentBrandDashOrganizationJobs.326e1760d35d0283521e8e3ac72cc747"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,608],"id":"fa8dc7ff-1224-45c9-9edc-207bf9bc304d","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,384],"id":"5eb78981-4b51-43a0-8f89-e3f7c8d81b42","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1472,608],"id":"3d8c89e1-86bd-4e63-83c1-6598c8c2d641","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,608],"id":"1bd809e8-eea9-4d7c-b045-43d7056c80df","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"LinkedinResearch","operator":{"type":"string","operation":"equals"},"id":"1411d67d-fb99-4d54-b522-859f4424de51"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedinResearch"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-704,192],"id":"aacc1543-f14b-482d-89a2-7488c13e81c4","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c5402369-6268-42da-81cf-60eb6ffa6d39","name":"logoUrl","value":"={{ $json.profile_picture_url_large }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,592],"id":"10da3fb3-e883-44e9-be32-df6b2f86b64e","name":"Edit Fields3","disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,480],"id":"032f0dc3-3736-4c7a-935d-084008b3c7fa","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,608],"id":"c13da0e0-b665-4836-8267-8fd13aaa3689","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,608],"id":"99f3e9aa-d110-47a8-8593-22c0face3ace","name":"Wait","webhookId":"53836086-37f8-43e4-8cd1-7b4ef1ae6efd"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1184,64],"id":"a803bdfe-91a0-4632-a014-10fbdd974b83","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign, what are each of these companies focusing on, give educated guesses about what the companies are doing in terms of efforts.\n\nFrom the data, give hiring details about every companies.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1344,64],"id":"1ecf65df-573d-462d-b04f-4d7fa66d00d9","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1328,224],"id":"d19dda14-a91d-4844-9064-1fd7c58e5eaa","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,64],"id":"7d429a6e-da55-40b7-94ac-1218122b3a61","name":"Edit Fields2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1792,64],"id":"f1fc4511-859a-4947-95fe-c118909ab68f","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,608],"id":"51f423a5-57af-4205-83eb-fb1dc72a74b6","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,544],"id":"ec731225-3e74-4582-b9d8-553a0202ac44","name":"Edit Fields4"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1984,400],"id":"889b4f0a-597b-487a-941b-f657072f3e3c","name":"Add Department","executeOnce":false},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const linkedinUrl = item.json[\"Linkedin URL\"];\n  if (linkedinUrl) {\n    // Quitar barra final si existe y quedarnos con el último segmento\n    const PeopleName = linkedinUrl.replace(/\\/$/, '').split('/').pop();\n    item.json.PeopleName = PeopleName;\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,384],"id":"1172b26f-7e66-4283-84be-44da60c4e466","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,608],"id":"dda392f3-af60-4bce-a8c9-d218f3138c32","name":"Should create Department"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"61e6888a-52bc-4f75-b9c4-aa141d406e42"}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,768],"id":"d6f0aebc-8007-4c65-9a1c-7f75b9f74101","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"37a87ab2-6b61-4181-b717-79e51ca6ec63","name":"Drive folder Id","value":"={{ $json.id }}","type":"string"},{"id":"8b643e6c-606c-4544-9d2e-b45f21753630","name":"education","value":"={{ $('Get People Details').item.json.education }}","type":"array"},{"id":"97fa785a-1363-4292-aae7-72d1665b247c","name":"work_experience","value":"={{ $('Get People Details').item.json.work_experience }}","type":"array"},{"id":"d5920738-6e57-43c6-89fc-1b2ff06d4c8d","name":"skills","value":"={{ $('Get People Details').item.json.skills }}","type":"array"},{"id":"098f2ded-e50f-4efc-83e1-fc850abce7c4","name":"languages","value":"={{ $('Get People Details').item.json.languages }}","type":"array"},{"id":"ef494599-8dce-4af3-aaed-73d05c7dccaa","name":"certifications","value":"={{ $('Get People Details').item.json.certifications }}","type":"array"},{"id":"138b2b80-e4cd-4294-8099-510c4df8a013","name":"volunteering_experience","value":"={{ $('Get People Details').item.json.volunteering_experience }}","type":"array"},{"id":"81bcd2e3-b022-468a-970b-26be12cd32d1","name":"projects","value":"={{ $('Get People Details').item.json.projects }}","type":"array"},{"id":"de5761c5-61c8-4b0d-8b5f-a200584e290d","name":"recommendations_received","value":"={{ $('Get People Details').item.json.recommendations.received }}","type":"array"},{"id":"aaa45d34-db9c-4159-8c9f-f7247d8c2942","name":"recommendations_given","value":"={{ $('Get People Details').item.json.recommendations.given }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,1008],"id":"489053f5-db47-40a2-b715-81ff2003043b","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields1').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields1').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,400],"id":"f23589f3-a264-46a6-ac11-48526cd0cd8d","name":"Edit Fields6"},{"parameters":{"path":"4446d915-4bc6-450f-b3f0-ee8d97df9c2d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,192],"id":"1fd2ad62-a70f-43fb-926a-35e5d3426373","name":"Webhook","webhookId":"4446d915-4bc6-450f-b3f0-ee8d97df9c2d"},{"parameters":{"content":"## Get Company Data","height":2452,"width":1156,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1168,0],"typeVersion":1,"id":"e19447c6-534e-4a65-b2ab-92757b800e38","name":"Sticky Note"},{"parameters":{"content":"## Job Scraping + Saving Automation [Along with weekly Reporting]","height":544,"width":2972,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,352],"typeVersion":1,"id":"5118ce73-a7f6-4849-9f0b-890bdde50eb9","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2176,592],"id":"c84bf96a-5d6c-43c9-9380-d4af2fa1e682","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1936,560],"id":"2d76982f-db5d-49aa-9101-e8ec98624b6c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"content":"##  weekly Reporting\n","height":340,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"49fadbf9-c359-45a7-a268-c9ee8624f4e3","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,1552],"id":"06717990-6872-4676-a29d-013a6defc502","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"id":"={{ $('Webhook').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-848,384],"id":"f5534383-e404-4eb4-8049-d66c44ec6883","name":"Get a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Get a record').item.json.Name }}","filter":{"folderId":{"__rl":true,"value":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1040,768],"id":"6f759786-1c41-496b-b01b-1dde7f25e2e9","name":"Search files and folders","alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Get a record').item.json.Name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-640,800],"id":"90320e4c-24c5-44f1-862b-f7aacc2b1a3b","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get a record').item.json.id }}","Status":"Done","Follower Count":"={{ $('Edit Fields3').item.json.follower_count }}","Connections Count":"={{ $('Edit Fields3').item.json.connections_count }}","provider_id":"={{ $('Edit Fields3').item.json.provider_id }}","public_identifier":"={{ $('Edit Fields3').item.json.public_identifier }}","First Name":"={{ $('Edit Fields3').item.json.first_name }}","Last Name":"={{ $('Edit Fields3').item.json.last_name }}","Full Name":"={{ $('Edit Fields3').item.json.first_name }} {{ $('Edit Fields3').item.json.last_name }}","Headline":"={{ $('Edit Fields3').item.json.headline }}","Location":"={{ $('Edit Fields3').item.json.location }}","Profile Picture":"={{ $('Get People Details').item.json.profile_picture_url }}","Profile Picture Large":"={{ $('Get People Details').item.json.profile_picture_url_large }}","Country":"={{ $('Edit Fields3').item.json.primary_locale.country }}","Email 01":"={{ $('Edit Fields3').item.json.contact_info.emails[0] }}","Email 03":"={{ $('Edit Fields3').item.json.contact_info.emails[2] }}","Email 02":"={{ $('Edit Fields3').item.json.contact_info.emails[3] }}","Phone 01":"={{ $('Edit Fields3').item.json.contact_info.phones[0] }}","Phone 02":"={{ $('Edit Fields3').item.json.contact_info.phones[1] }}","Phone 03":"={{ $('Edit Fields3').item.json.contact_info.phones[2] }}","Website 01":"={{ $('Get People Details').item.json.websites[0] }}","Website 02":"={{ $('Get People Details').item.json.websites[1] }}","Website 03":"={{ $('Get People Details').item.json.websites[2] }}","Summary":"={{ $('Get People Details').item.json.summary }}","Background Picture":"={{ $('Get People Details').item.json.background_picture_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-368,800],"id":"d1b494a9-e76b-4b64-84d9-f5161115eeed","name":"Update record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblmvH3SawXaCpgWZ"},"filterByFormula":"{Status} = \"Done\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,608],"id":"1165508e-efc6-489c-8958-444b016d070e","name":"Search records","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=Competitor Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1936,64],"id":"41fb4054-4a84-4565-ae3a-6c37b967098c","name":"Send a message","webhookId":"5b4c7b42-0855-4351-92b8-78c9b77ae43e","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown').item.json.Details }}","Date":"={{ $('Aggregate').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2096,64],"id":"309253a3-f2a0-4296-a45d-d8b008130994","name":"Create a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields6').item.json.Title }}","Description":"={{ $('Edit Fields6').item.json.Description }}","Applicants":"={{ $('Edit Fields6').item.json.Applicants }}","Location":"={{ $('Edit Fields6').item.json.Location }}","CompanyLink":"={{ $('Edit Fields6').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields6').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields6').item.json.expiresAt }}","Department":"={{ $('Edit Fields6').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2496,672],"id":"2c8853e3-db6c-465f-8e58-7f16a0e27765","name":"Create a record1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields6').item.json.CompanyName }}_{{ $('Edit Fields6').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2480,400],"id":"e485f011-41a3-4cd3-9f77-df2a6f2bc940","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields6').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2336,672],"id":"f69ca158-30ef-4ad5-8924-6efbcf824b44","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.PeopleName }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"linkedin_sections","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,592],"id":"81f7c802-6d58-4289-8a15-136a0d279d11","name":"Get People Details","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbltkSL4xcSTkMgU0","mode":"list","cachedResultName":"Education","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbltkSL4xcSTkMgU0"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.school }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Degree":"={{ $json.degree }}","School":"={{ $json.school }}","School ID":"={{ $json.school_id }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Linkedin URL (from Person)","displayName":"Linkedin URL (from Person)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Degree","displayName":"Degree","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School","displayName":"School","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School ID","displayName":"School ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-352,1040],"id":"3c19bb4a-0c50-45ed-80c7-e011bf632979","name":"Create a record Education","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=education","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1040],"id":"8825cc85-c81b-4f6a-ad99-35c88ef0893d","name":"Split Out Education"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblLbXsCG8LXCmxuP","mode":"list","cachedResultName":"Work Experience","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblLbXsCG8LXCmxuP"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.company }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Company Name":"={{ $json.company }}","Company ID":"={{ $json.company_id }}","Position":"={{ $json.position }}","Location":"={{ $json.location }}","Description":"={{ $json.description }}","Skills":"={{ JSON.stringify($json.skills || []) }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company ID","displayName":"Company ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1200],"id":"bcac4b0c-2da5-4eec-b756-d37443861524","name":"Create a record Work Experience","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=work_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1200],"id":"a9bc12b7-610e-4aa3-b2f5-bd72cf71ecbf","name":"Split Out Work Experience"},{"parameters":{"fieldToSplitOut":"=skills","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1376],"id":"56e315fb-8518-4a3e-b13a-8cae19a56a52","name":"Split Out Skills"},{"parameters":{"fieldToSplitOut":"=certifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1520],"id":"d0925604-5b12-4ec7-a20b-e563c04f0b11","name":"Split Out Certifications"},{"parameters":{"fieldToSplitOut":"=languages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1648],"id":"8d8a375a-d351-41cf-b7c6-7f612b9120cb","name":"Split Out Language"},{"parameters":{"fieldToSplitOut":"=volunteering_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1792],"id":"eaf86f26-5f86-4a6c-a07b-47db793e0170","name":"Split Out Volunteering Experience"},{"parameters":{"fieldToSplitOut":"=projects","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1936],"id":"095990ee-7d5d-405a-bc98-f64c6f6f3828","name":"Split Out Projects"},{"parameters":{"fieldToSplitOut":"=recommendations_received","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,2064],"id":"393e5434-fcac-4f8b-a668-1ca896217c86","name":"Split Out Recomendation Received"},{"parameters":{"fieldToSplitOut":"=recommendations_given","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,2240],"id":"212add0e-7703-4cc8-ab42-2e83dbddf526","name":"Split Out Recomendation Given"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleWK1t5zUfHDGCZ","mode":"list","cachedResultName":"Skill","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleWK1t5zUfHDGCZ"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Skill Name":"={{ $json.name }}","Endorsement Count":"={{ $json.endorsement_count }}","Insights":"={{ JSON.stringify($json.insights || []) }}","Endorsement ID":"={{ $json.endorsement_id }}","Endorsed":"={{ $json.endorsed }}"},"matchingColumns":[],"schema":[{"id":"Skill Name","displayName":"Skill Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Endorsement Count","displayName":"Endorsement Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Insights","displayName":"Insights","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Endorsement ID","displayName":"Endorsement ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Endorsed","displayName":"Endorsed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-352,1376],"id":"4ef1f06a-e739-4042-9ab6-5f2f85483500","name":"Create a record Skills","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbllLAWxyfu8g0Usc","mode":"list","cachedResultName":"Certification","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbllLAWxyfu8g0Usc"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Certification Name":"={{ $json.name }}","Organization":"={{ $json.organization }}","URL":"={{ $json.url }}"},"matchingColumns":[],"schema":[{"id":"Certification Name","displayName":"Certification Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Organization","displayName":"Organization","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1520],"id":"66941825-c676-4a04-8952-9a80ef71a89a","name":"Create a record Certifications","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblNNVEAMt0qbulXT","mode":"list","cachedResultName":"Language","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblNNVEAMt0qbulXT"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Language Name":"={{ $json.name }}","Proficiency":"={{ $json.proficiency }}"},"matchingColumns":[],"schema":[{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Proficiency","displayName":"Proficiency","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Elementary proficiency","value":"Elementary proficiency"},{"name":"Limited working proficiency","value":"Limited working proficiency"},{"name":"Professional working proficiency","value":"Professional working proficiency"},{"name":"Full professional proficiency","value":"Full professional proficiency"},{"name":"Native or bilingual proficiency","value":"Native or bilingual proficiency"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,1648],"id":"22f01c46-a3bf-4a07-8c4b-3463879d84e9","name":"Create a record Work Language","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblckAg3Zs9OiC4E7","mode":"list","cachedResultName":"Volunteering Experience","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblckAg3Zs9OiC4E7"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.company }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Company Name":"={{ $json.company }}","Description":"={{ $json.description }}","Cause":"={{ $json.cause }}","Role":"={{ $json.role }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cause","displayName":"Cause","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1792],"id":"26b3d7db-dac4-4f39-a172-523df2594d9f","name":"Create a record Work Volunteering Experience","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblX2Bb4BQHe17Hf2","mode":"list","cachedResultName":"Project","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblX2Bb4BQHe17Hf2"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Description":"={{ $json.description }}","Skills":"={{ JSON.stringify($json.skills || []) }}","Project Name":"={{ $json.name }}"},"matchingColumns":[],"schema":[{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,1936],"id":"792ce0ab-f918-43b0-b422-485201149c72","name":"Create a record Work Projects","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbljGz4uEQvTyfkGR","mode":"list","cachedResultName":"Recommendation","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbljGz4uEQvTyfkGR"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.actor.first_name }} {{ $json.actor.last_name }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Text":"={{ $json.text }}","Direction":"Received","Actor First Name":"={{ $json.actor.first_name }}","Actor Last Name":"={{ $json.actor.last_name }}","Actor Headline":"={{ $json.actor.headline }}","Actor LinkedIn URL":"={{ $json.actor.public_profile_url }}","Actor Photo URL":"={{ $json.actor.profile_picture_url }}","Caption":"={{ $json.caption }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Direction","displayName":"Direction","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Received","value":"Received"},{"name":"Given","value":"Given"}],"readOnly":false,"removed":false},{"id":"Actor First Name","displayName":"Actor First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Last Name","displayName":"Actor Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Headline","displayName":"Actor Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor LinkedIn URL","displayName":"Actor LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Photo URL","displayName":"Actor Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-480,2080],"id":"1fda105f-5204-4bad-84cb-b668c182332c","name":"Create a record Recomendation received","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbljGz4uEQvTyfkGR","mode":"list","cachedResultName":"Recommendation","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbljGz4uEQvTyfkGR"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.actor.first_name }} {{ $json.actor.last_name }}","Actor First Name":"={{ $json.actor.first_name }}","Text":"={{ $json.text }}","Actor Last Name":"={{ $json.actor.last_name }}","Actor Headline":"={{ $json.actor.headline }}","Actor LinkedIn URL":"={{ $json.actor.public_profile_url }}","Actor Photo URL":"={{ $json.actor.profile_picture_url }}","Caption":"={{ $json.caption }}","Direction":"Given","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Direction","displayName":"Direction","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Received","value":"Received"},{"name":"Given","value":"Given"}],"readOnly":false,"removed":false},{"id":"Actor First Name","displayName":"Actor First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Last Name","displayName":"Actor Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Headline","displayName":"Actor Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor LinkedIn URL","displayName":"Actor LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Photo URL","displayName":"Actor Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,2240],"id":"f9518851-e9e3-4b59-bee3-8e581eed97e2","name":"Create a record Recomendation Given","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"Status":"In progress","Follower Count":0,"Connections Count":0,"id":"={{ $json.query.recordId }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-992,384],"id":"e4228c69-e7c9-4073-b43f-dd8cc95d4abc","name":"Update record \"In Progress\"","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"method":"POST","url":"https://api15.unipile.com:14591/api/v1/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"request_url","value":"=https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(companyUrn:urn%3Ali%3Afsd_company%3A{{ $json.CompanyID }})&queryId=voyagerJobsTalentBrandDashOrganizationJobs.326e1760d35d0283521e8e3ac72cc747"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,1616],"id":"3b67a919-1bbe-4c27-a3e0-33deac6bbf33","name":"HTTP Request1","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3552,1392],"id":"5e1f7f83-8450-4b1b-a804-9b148333afcc","name":"Edit Fields7"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3760,1616],"id":"4db8580a-d730-4cca-aa01-88cd65cbde79","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items1').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3920,1616],"id":"ae73db8e-63cd-405f-9ecf-67ca67970cad","name":"Edit Fields8","alwaysOutputData":true},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,1552],"id":"98e950e0-67b2-4fa5-ae95-f3766b4961f2","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3056,1616],"id":"5554e7e8-2606-465d-a766-68adc5b3364f","name":"Wait1","webhookId":"53836086-37f8-43e4-8cd1-7b4ef1ae6efd"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,1008],"id":"e1493e73-727f-49f9-98e0-ad03514a85d8","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign of people profile scrapping in Linkedin, what are each of these people currently working on, their education, and give educated guesses about what the people has acomplished.\n\nFrom the data, give rich details about every person.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1328,1008],"id":"38dfabc2-fdd3-41ce-92ee-435a9e52ab1f","name":"Basic LLM Chain1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1312,1168],"id":"4916190b-caf4-4db2-853d-3a010e1e5757","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,1008],"id":"262d65f0-7135-48da-865b-792e68575adc","name":"Edit Fields9"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1776,1008],"id":"d4ed009a-2dde-46c7-8bdd-1f82bdef3691","name":"Markdown1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3360,1616],"id":"bce11dd1-e5c2-4bd6-9284-f9803f852f97","name":"If1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3568,1552],"id":"f19fa324-500c-4397-939e-cd592265e6ba","name":"Edit Fields10"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4272,1408],"id":"b9befd80-8bfe-4b14-ba61-2a01a16d06f8","name":"Add Department1","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,1616],"id":"0b565dba-a18e-4dd6-ba2c-f05d15fa3667","name":"Should create Department1"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields8').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields8').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields8').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields8').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields8').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields8').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields8').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields8').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields8').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields8').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,1408],"id":"2680d936-feee-46af-b186-2381b213e099","name":"Edit Fields11"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4464,1600],"id":"774b0821-3989-48c1-be6a-5cb4ce120b5c","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4224,1568],"id":"c72e146f-d38b-4625-b0c1-4560350b8ce5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"filterByFormula":"{Report} = \"To be Done\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[432,1552],"id":"b96fd61d-5f87-4abc-b674-df8a42e4e469","name":"Search records1","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=People Linkedin Scrapper Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1920,1008],"id":"54f25b17-eae1-4e3d-9f9f-07326876806a","name":"Send a message1","webhookId":"5b4c7b42-0855-4351-92b8-78c9b77ae43e","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown1').item.json.Details }}","Date":"={{ $('Aggregate1').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2080,1008],"id":"fc135634-5fba-43cd-9df6-af976eff57fb","name":"Create a record2","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields11').item.json.Title }}","Description":"={{ $('Edit Fields11').item.json.Description }}","Applicants":"={{ $('Edit Fields11').item.json.Applicants }}","Location":"={{ $('Edit Fields11').item.json.Location }}","CompanyLink":"={{ $('Edit Fields11').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields11').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields11').item.json.expiresAt }}","Department":"={{ $('Edit Fields11').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4784,1680],"id":"e8321649-8574-4bfc-adfb-7d2ebed9ab50","name":"Create a record3","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields11').item.json.CompanyName }}_{{ $('Edit Fields11').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4768,1408],"id":"a8c6eecd-c973-4339-8101-645131cb79a7","name":"Create a document1","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields11').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4624,1680],"id":"ecad7e8d-9143-4fc8-959e-b2da5c10daec","name":"Update a document1","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"folderId":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","title":"={{ $json['Full Name'] }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[944,1568],"id":"0192d16a-9679-4eab-a4e4-903687f5094a","name":"Create a document2","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=### {{ $('Loop Over Items1').item.json.Name }}\n\n## Linkedin URL:\n{{ $('Loop Over Items1').item.json['Linkedin URL'] }}\n\n## Headline:\n{{ $('Loop Over Items1').item.json.Headline }}\n\n## Summary:\n{{ $('Loop Over Items1').item.json.Summary }}\n\n## Work Experience:\n{{ $('Loop Over Items1').item.json['Work Experience'] }}\n\n## Education:\n{{ $('Loop Over Items1').item.json.Education }}\n\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1136,1568],"id":"284f5330-afbc-429e-a9e3-5d8f9aed5cf9","name":"Update a document2","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"Follower Count":0,"Connections Count":0,"Report Doc":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Report","displayName":"Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No Report","value":"No Report"},{"name":"To be Done","value":"To be Done"},{"name":"In Progress","value":"In Progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Report Doc","displayName":"Report Doc","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1360,1568],"id":"59462d00-6d79-4fff-ad52-14549d1a8f94","name":"Create a record4","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"content":"Report of the People Scrapping Campaign\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":864,"width":2960},"type":"n8n-nodes-base.stickyNote","position":[0,944],"typeVersion":1,"id":"deae6775-00dd-43c6-bd41-a5b6ba660667","name":"Sticky Note3"}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Should create Department","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update record \"In Progress\"","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Add Department":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get People Details","type":"main","index":0}]]},"Should create Department":{"main":[[{"node":"Add Department","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Split Out Education","type":"main","index":0},{"node":"Split Out Work Experience","type":"main","index":0},{"node":"Split Out Skills","type":"main","index":0},{"node":"Split Out Certifications","type":"main","index":0},{"node":"Split Out Language","type":"main","index":0},{"node":"Split Out Volunteering Experience","type":"main","index":0},{"node":"Split Out Projects","type":"main","index":0},{"node":"Split Out Recomendation Received","type":"main","index":0},{"node":"Split Out Recomendation Given","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Add Department","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Add Department","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search records1","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Code","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Update record","type":"main","index":0},{"node":"Edit Fields5","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Get People Details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Split Out Education":{"main":[[{"node":"Create a record Education","type":"main","index":0}]]},"Split Out Work Experience":{"main":[[{"node":"Create a record Work Experience","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Split Out Skills":{"main":[[{"node":"Create a record Skills","type":"main","index":0}]]},"Split Out Certifications":{"main":[[{"node":"Create a record Certifications","type":"main","index":0}]]},"Split Out Language":{"main":[[{"node":"Create a record Work Language","type":"main","index":0}]]},"Split Out Volunteering Experience":{"main":[[{"node":"Create a record Work Volunteering Experience","type":"main","index":0}]]},"Split Out Projects":{"main":[[{"node":"Create a record Work Projects","type":"main","index":0}]]},"Split Out Recomendation Received":{"main":[[{"node":"Create a record Recomendation received","type":"main","index":0}]]},"Split Out Recomendation Given":{"main":[[{"node":"Create a record Recomendation Given","type":"main","index":0}]]},"Update record \"In Progress\"":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Should create Department1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Create a document2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Edit Fields9":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Add Department1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Should create Department1":{"main":[[{"node":"Add Department1","type":"main","index":0}],[]]},"Edit Fields11":{"main":[[{"node":"Create a document1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Add Department1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Add Department1","type":"ai_languageModel","index":0}]]},"Search records1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Create a record2","type":"main","index":0}]]},"Create a record3":{"main":[[]]},"Create a document1":{"main":[[{"node":"Update a document1","type":"main","index":0}]]},"Update a document1":{"main":[[{"node":"Create a record3","type":"main","index":0}]]},"Create a document2":{"main":[[{"node":"Update a document2","type":"main","index":0}]]},"Update a document2":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}],"Split Out Education":[{"json":{"degree":"Civil Engineer, Structures and Foundations","school_id":"166617","school":"Universidad Politécnica de Madrid","start":"1/1/1993","end":"1/1/1999"}},{"json":{"degree":"PhD, Civil Engineering","school_id":"38246","school":"Universidad de Cantabria","start":"1/1/2012","end":"1/1/2015"}},{"json":{"degree":"MBA Executive, MBA Executive. Sustainable Development","school_id":"40482","school":"EOI Business School","start":"1/1/2010","end":"1/1/2011"}},{"json":{"degree":"Master Universitario, Master’s Degree in Research in Civil Engineer","school_id":"38246","school":"Universidad de Cantabria","start":"1/1/2009","end":"1/1/2010"}},{"json":{"degree":"EGB, BUP y COU, Ciencias puras","school":"Colegio Nuestra Señora de las Maravillas. La Salle","start":"1/1/1980","end":"1/1/1993"}}],"Split Out Work Experience":[{"json":{"company_id":"14040","company":"Ferrovial","position":"Head of Innovation Strategy & Growth","location":"On-site","skills":["Estrategias de crecimiento","Estrategia empresarial","Business Strategy","Estrategia","Planificación estratégica","Planificación de negocios","Capacidad de análisis"],"start":"2/1/2025","end":null}},{"json":{"company_id":"14040","company":"Ferrovial","position":"Head of Innovation Growth","location":"On-site","description":"At Ferrovial in Innovation Growth Department. I'm focused on creating more sources of revenue for Ferrovial linked to the core from existing internal and external future developments, establishing partnerships to jointly go to market, and creating new business lines for Ferrovial.","skills":["Desarrollo empresarial","Estrategias de crecimiento","Growth","Generación de nuevas empresas","Empresas emergentes"],"start":"11/1/2022","end":"2/1/2025"}},{"json":{"company_id":"43360","company":"Universidad Nebrija","position":"Head and Professor of Digital Construction","location":"Madrid, Community of Madrid, Spain · On-site","description":"At Nebrija University, I am applying my experience in areas such as artificial intelligence, the internet of things, the cloud, 3D printing, and mixed, virtual or augmented reality in the Architecture Department so that students can enter the job market with knowledge in all these digital technologies applied to the world of Construction.","skills":["Tecnología de la información","Innovación digital","Artificial Intelligence","IA generativa","Innovación tecnológica","Transformación digital","Gestión de obras de construcción","Digital","Educación","Construction","Civil Engineering","Engineering"],"start":"9/1/2023","end":null}},{"json":{"company_id":"15449","company":"Prosegur","position":"Chief Innovation Officer (CIO) & Digital Product Development Director","description":"•\tDevelop New Digital Products with our own IP based on technologies like Cloud, Internet of Things, Data Science, Artificial Intelligence and Electronic Security Systems.\n•\tStrategic partnerships: Alliances to co-innovate (Microsoft)","skills":["Sistemas Electrónicos de Seguridad","Artificial Intelligence","Cloud Computing","Internet of Things","Virtual Reality"],"start":"1/1/2021","end":"11/1/2022"}},{"json":{"company_id":"15449","company":"Prosegur","position":"Chief Innovation Officer (CIO)","description":"•\tCreate GenzAI Platform, a Global Edge-Cloud Platform that connects all our managed devices with IoT, stores all the data and applies Artificial Intelligence to increase efficiency at our Control Centers. Foundation of New Products.\n•\tImplement Open Innovation strategy connecting with startup ecosystem and empowering our employees’ ideas. \n•\tObtain funding to support our Innovation and Digital Transformation Programs from the European Investment Bank (57,7M€) and tax credits (3,5M€/yr)","skills":["Artificial Intelligence","Cloud Computing"],"start":"9/1/2019","end":"1/1/2021"}},{"json":{"company_id":"31481","company":"ACCIONA","position":"Director of Acciona's Advanced and Digital Innovation Hub","description":"•\tDigital Innovation Projects developed by six Skill Centers:  3D Printing, Mixed Reality, AI and Robotics, Data Science (Big Data & Analytics), Connected Things and Blockchain & New Tech.\n•\tNew Business line of Large-Scale 3D printing in Dubai\n•\tFirst 3d Printed Foot Bridge in the World (Alcobendas).","skills":["Reality Capture","3D Printing","Blockchain","Virtual Reality"],"start":"9/1/2017","end":"9/1/2019"}},{"json":{"company_id":"31481","company":"ACCIONA","position":"Technology Transfer Director","description":"•\tNew Business lines creation from technologies developed within ACCIONA. Transferring technology internally and externally (ACCIONA clients). Intellectual Property management.","skills":["3D Printing","Inglés","Energías renovables"],"start":"3/1/2011","end":"9/1/2017"}},{"json":{"company_id":"31481","company":"ACCIONA","position":"Innovation Director","description":"•\tBusiness launch of products from Tech Innovation Center.\n•\tManagement of advanced technological projects: 8 R&D  projects managed and funded by CDTI and FP7 (Europe)\n•\t8 Scientific journals publications & 7 patents as inventor","skills":["Ingeniería civil"],"start":"2/1/2007","end":"3/1/2011"}},{"json":{"company_id":"38933","company":"Dragados","position":"Site Work General Manager","location":"Madrid Area, Spain","description":"•\tSite Work General Manager of \"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto\" 103,3M€\n•\tSite Work General Manager of \"Extension Works of Airfield of Torrejon Air Military Base and other complementary works\" Project for client AENA. Budget: 61,5M€.\n•\tSite Work Production Manager. Bridges Department during the construction of Radial 2 Highway for client HENARSA (Autopistas del Henares S.A.). Budget: 246,5M€\n•\tSite Work Technical Manager at \"Underground Hydroelectrical Central of Millares II\" Project for client IBERDROLA. Budget: 15,2M€.","skills":[],"start":"11/1/1999","end":"2/1/2007"}}],"Split Out Skills":[{"json":{"name":"Estrategia","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":25,"endorsed":false}},{"json":{"name":"Planificación estratégica","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":26,"endorsed":false}},{"json":{"name":"Planificación de negocios","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":27,"endorsed":false}},{"json":{"name":"Capacidad de análisis","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":28,"endorsed":false}},{"json":{"name":"Desarrollo empresarial","endorsement_count":1,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":20,"endorsed":false}},{"json":{"name":"Estrategias de crecimiento","endorsement_count":1,"insights":["2 experiences at Ferrovial"],"endorsement_id":21,"endorsed":false}},{"json":{"name":"Growth","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":22,"endorsed":false}},{"json":{"name":"Generación de nuevas empresas","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":23,"endorsed":false}},{"json":{"name":"Empresas emergentes","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":24,"endorsed":false}},{"json":{"name":"Tecnología de la información","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":11,"endorsed":false}},{"json":{"name":"Innovación digital","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":13,"endorsed":false}},{"json":{"name":"Innovación tecnológica","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":16,"endorsed":false}},{"json":{"name":"Transformación digital","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":17,"endorsed":false}},{"json":{"name":"Digital","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":18,"endorsed":false}},{"json":{"name":"Educación","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":19,"endorsed":false}},{"json":{"name":"Large Language Models (LLMs)","endorsement_count":0,"insights":["What Is Generative AI?","ChatGPT Prompt Engineering for Developers","LangChain for LLM Application Development"],"endorsement_id":15,"endorsed":false}},{"json":{"name":"IA generativa","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija","What Is Generative AI?","ChatGPT Prompt Engineering for Developers"],"endorsement_id":14,"endorsed":false}},{"json":{"name":"Artificial Intelligence","endorsement_count":3,"insights":["3 experiences across Universidad Nebrija and 1 other company","Generative AI: The Evolution of Thoughtful Online Search","Comisión de Inteligencia Artificial"],"endorsement_id":3,"endorsed":false}},{"json":{"name":"Cloud Computing","endorsement_count":0,"insights":["2 experiences at Prosegur","Google Cloud Platform Fundamentals: Core Infrastructure","Introduction to AWS for Non-Engineers: 1 Cloud Concepts"],"endorsement_id":774415623,"endorsed":false}},{"json":{"name":"Internet of Things","endorsement_count":3,"insights":["Chief Innovation Officer (CIO) & Digital Product Development Director at Prosegur"],"endorsement_id":9,"endorsed":false}},{"json":{"name":"3D Printing","endorsement_count":1,"insights":["2 experiences across ACCIONA and 1 other company","Impresión 3D para reconstruir el pasado"],"endorsement_id":5,"endorsed":false}},{"json":{"name":"Augmented Reality","endorsement_count":1,"insights":[],"endorsement_id":2,"endorsed":false}},{"json":{"name":"Virtual Reality","endorsement_count":1,"insights":["2 experiences across Prosegur and 1 other company","What Business Leaders Need to Know about Web3 (+ Metaverse)","What Is the Metaverse?"],"endorsement_id":1,"endorsed":false}},{"json":{"name":"Data Science","endorsement_count":1,"insights":[],"endorsement_id":6,"endorsed":false}},{"json":{"name":"Robotics","endorsement_count":1,"insights":[],"endorsement_id":4,"endorsed":false}},{"json":{"name":"5G","endorsement_count":1,"insights":[],"endorsement_id":8,"endorsed":false}},{"json":{"name":"Blockchain","endorsement_count":1,"insights":["Director of Acciona's Advanced and Digital Innovation Hub at ACCIONA","Acciona's project \"Compliance by Blockchain\" won Compliance Expansion Awards 2018"],"endorsement_id":7,"endorsed":false}},{"json":{"name":"Sistemas Electrónicos de Seguridad","endorsement_count":0,"insights":["Chief Innovation Officer (CIO) & Digital Product Development Director at Prosegur"],"endorsement_id":12,"endorsed":false}},{"json":{"name":"Energías renovables","endorsement_count":13,"insights":["Technology Transfer Director at Acciona","INTEGRACIÓN DE RENOVABLES EN PLANTAS DEPURADORAS RESUMEN"],"endorsement_id":170460724,"endorsed":false}},{"json":{"name":"Construcción","endorsement_count":29,"insights":[],"endorsement_id":170460725,"endorsed":false}},{"json":{"name":"Ingeniería civil","endorsement_count":26,"insights":["Innovation Director at Acciona"],"endorsement_id":170460719,"endorsed":false}},{"json":{"name":"Project Management","endorsement_count":21,"insights":[],"endorsement_id":170460739,"endorsed":false}},{"json":{"name":"Estrategia empresarial","endorsement_count":18,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":170460722,"endorsed":false}},{"json":{"name":"Microsoft PowerPoint","endorsement_count":0,"insights":["Passed LinkedIn Skill Assessment"],"endorsement_id":1632329573,"endorsed":false}},{"json":{"name":"Construction","endorsement_count":12,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460727,"endorsed":false}},{"json":{"name":"Gestión de contratos","endorsement_count":12,"insights":[],"endorsement_id":170460728,"endorsed":false}},{"json":{"name":"Microsoft Project","endorsement_count":11,"insights":[],"endorsement_id":170460731,"endorsed":false}},{"json":{"name":"Gestión de obras de construcción","endorsement_count":10,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460729,"endorsed":false}},{"json":{"name":"Business Strategy","endorsement_count":10,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":170460742,"endorsed":false}},{"json":{"name":"Engineering","endorsement_count":9,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460734,"endorsed":false}},{"json":{"name":"Civil Engineering","endorsement_count":8,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460730,"endorsed":false}},{"json":{"name":"Project Planning","endorsement_count":8,"insights":[],"endorsement_id":170460744,"endorsed":false}},{"json":{"name":"Español","endorsement_count":7,"insights":[],"endorsement_id":170460723,"endorsed":false}},{"json":{"name":"AutoCAD","endorsement_count":6,"insights":[],"endorsement_id":170460726,"endorsed":false}},{"json":{"name":"Negotiation","endorsement_count":6,"insights":[],"endorsement_id":170460745,"endorsed":false}},{"json":{"name":"Renewable Energy","endorsement_count":4,"insights":["INTEGRACIÓN DE RENOVABLES EN PLANTAS DEPURADORAS RESUMEN","LIFE+ RENEWATT: Renewable Energy integration and Energy Efficient Systems to reduce energy consumption in Waste Water Treatment Plants (WWTP)"],"endorsement_id":170460732,"endorsed":false}},{"json":{"name":"Negociación","endorsement_count":5,"insights":[],"endorsement_id":170460735,"endorsed":false}},{"json":{"name":"Negociación de contratos","endorsement_count":5,"insights":[],"endorsement_id":170460740,"endorsed":false}},{"json":{"name":"Spanish","endorsement_count":3,"insights":[],"endorsement_id":170460738,"endorsed":false}},{"json":{"name":"Energía","endorsement_count":4,"insights":[],"endorsement_id":170460741,"endorsed":false}},{"json":{"name":"Contract Negotiation","endorsement_count":2,"insights":[],"endorsement_id":170460733,"endorsed":false}},{"json":{"name":"Energy","endorsement_count":2,"insights":[],"endorsement_id":170460736,"endorsed":false}},{"json":{"name":"Construction Management","endorsement_count":2,"insights":[],"endorsement_id":170460743,"endorsed":false}},{"json":{"name":"Contract Management","endorsement_count":1,"insights":[],"endorsement_id":170460737,"endorsed":false}},{"json":{"name":"Inglés","endorsement_count":0,"insights":["Technology Transfer Director at Acciona","Colegio Nuestra Señora de las Maravillas. La Salle"],"endorsement_id":1714743092,"endorsed":false}},{"json":{"name":"Microsoft Excel","endorsement_count":0,"insights":["Passed LinkedIn Skill Assessment"],"endorsement_id":1632808883,"endorsed":false}},{"json":{"name":"Reality Capture","endorsement_count":1,"insights":["Director of Acciona's Advanced and Digital Innovation Hub at ACCIONA","New Business Line based on Reality Capture Technology"],"endorsement_id":10,"endorsed":false}},{"json":{"name":"Amazon Web Services (AWS)","endorsement_count":0,"insights":[],"endorsement_id":170460746,"endorsed":false}},{"json":{"name":"Generative AI","endorsement_count":0,"insights":["Ethics in the Age of Generative AI"],"endorsement_id":1714743094,"endorsed":false}},{"json":{"name":"Computer Ethics","endorsement_count":0,"insights":["Ethics in the Age of Generative AI"],"endorsement_id":1714743093,"endorsed":false}},{"json":{"name":"Grasshopper","endorsement_count":0,"insights":["Learning Grasshopper"],"endorsement_id":1714743095,"endorsed":false}},{"json":{"name":"Generative Design","endorsement_count":0,"insights":["Fusion 360: Generative Design"],"endorsement_id":1714743097,"endorsed":false}},{"json":{"name":"Autodesk Fusion 360","endorsement_count":0,"insights":["Fusion 360: Generative Design"],"endorsement_id":1714743096,"endorsed":false}},{"json":{"name":"Building Information Modeling (BIM)","endorsement_count":0,"insights":["BIM Foundations"],"endorsement_id":1714743098,"endorsed":false}},{"json":{"name":"Microsoft Azure","endorsement_count":0,"insights":["Building in Azure AI Studio"],"endorsement_id":1714743100,"endorsed":false}},{"json":{"name":"Artificial Intelligence (AI)","endorsement_count":0,"insights":["Building in Azure AI Studio","Comisión de Inteligencia Artificial"],"endorsement_id":1714743099,"endorsed":false}}],"Split Out Language":[{"json":{"name":"Español","proficiency":"Native or bilingual proficiency"}},{"json":{"name":"Inglés","proficiency":"Full professional proficiency"}}],"Split Out Volunteering Experience":[{"json":{"company":"Digital Diabetes (www.digital-diabetes.com)","cause":"Health","description":"¡Hola! Mi nombre es Daniel García y soy un padre de una niña maravillosa, llamada Lucía que debutó a los 10 años con diabetes 1. Estos meses desde que ha debutado ha sido una continua búsqueda de medidas que pudieran hacerle la vida más fácil. Muchas de esas medidas han venido de la mano de la Tecnología y por ello, como creo que el mundo avanza cuando compartes, he decidido crear el Blog Digital Diabetes (www.digital-diabetes.com) para compartir con todos vosotros los descubrimientos y logros que he ido alcanzando para hacer la vida más fácil de mi hija Lucía gracias a la Tecnología.","role":"Founder🔹Tecnología Digital aplicada a la Salud","start":"7/1/2022","end":null}},{"json":{"company":"Colegio de Ingenieros de Caminos, Canales y Puertos","cause":"Science and Technology","description":"Damos soporte y consejo a compañeros Ingenieros de Caminos que quieran explorar otras salidas profesionales de su carrera, como es mi caso, en el mundo de la Innovacion","role":"Experto en Red de Ayuda (EredA) de Caminos Madrid","start":"10/1/2020","end":null}},{"json":{"company":"ACCIONA","cause":"Environment","description":"ACCIONA held its corporate volunteer program, in which employees became teachers for a day, leading workshops on sustainability for children aged 6 to 10. This year, 600 employees took part, teaching over 13,000 schoolchildren.\n\nThe ACCIONA volunteers visited over 100 schools and, for a few hours, told the students about the importance of sustainable development. In this fifth edition, the activities and games focused on the UN Sustainable Development Goals, particularly the four with which our employees are most familiar because of their work: efficient water management, renewable energy, resilient infrastructure, and combating climate change.\n\nThe main goal of Volunteer Day is to involve children with improving the environment through small everyday gestures and to raise their awareness about the active role they can play in achieving sustainable development. It also imbues the values of sustainability in our employees\n","role":"Volunteer","start":"6/1/2011","end":"9/1/2019"}}],"Split Out Projects":[{"json":{"name":"World's first Large Scale 3D Printed Pedestrian Bridge. Alcobendas (Madrid, Spain)","description":"The city of Alcobendas in Spain has just unveiled the first ever 3D printed pedestrian bridge made entirely of concrete. Measuring 12 metres in length and 1.75 metres in width, the landmark structure represents a milestone in civil engineering, an industry which up until now has been reluctant to use additive manufacturing. The bridge was inaugurated earlier today by Alcobendas city officials in Castilla La Mancha Park.\nMade up of 8 separate pieces that fit together, the architectural design of the walkway was implemented by the Institute of Advanced Architecture of Catalonia, and later constructed by ACCIONA, a Spanish civil engineering company. ACCIONA can now claim the renowned status of the first construction company in the world to execute a large scale civil engineering project using 3D printing.\nThe stunning walkway was designed through techniques of organic and biomimetic architecture, according to an official statement from the Alcobendas city council, and resembles naturally occurring forms found in the environment.\n","skills":["3D Printing"],"start":"12/1/2016","end":null}},{"json":{"name":"Concrete Large Scale 3D Printing Technology","description":"ACCIONA is pushing hard innovation and is developing new technology to implement Concrete Large Scale 3D Printing technology in several markets, as Singular Architectural Constructions, Preservation of Historical & Cultural Heritage and Customized Urban Areas. ","skills":["3D Printing"],"start":"6/1/2016","end":null}},{"json":{"name":"New Business Line based on Reality Capture Technology","description":"Reality Capture Technology offers highly accurate 3D virtual reality content for the industrial, real estate, tourism and facility management sectors. Its ability to capture existing conditions and store them in a digital format allows to create a virtual immersive visit of a space, take real measurements and identify alternatives to optimize operating costs and calculate reforms and maintenance remotely, quickly and more reliably ","skills":["Virtual Reality","Reality Capture"],"start":"2/1/2016","end":null}},{"json":{"name":"LIFE+ RENEWATT: Renewable Energy integration and Energy Efficient Systems to reduce energy consumption in Waste Water Treatment Plants (WWTP)","description":"RENEWATT Project has the final objective of reducing energy consuption throug different actions in WWTP, focusing the optimization in the biological reactor aireation process and introducing renewable energy as input source ","skills":["Renewable Energy","Energías renovables"],"start":"1/1/2015","end":null}},{"json":{"name":"Building of caisson-type mooring dolphins using fiber reinforced polymeric materials at El Rosario Port in Fuerteventura","description":"ACCIONA has developed and patented a construction system which minimizes the environmental impact and reduces the resources needed in the building of port infrastructure. Its composite material caissons are made from glass fiber combined with polymeric resins and replace conventionally-made concrete forms. The construction system has been implemented as a pioneering solution in works to extend mooring points on cruise ship wharfs at El Rosario Port in Fuerteventura, Canary Islands, developed by Las Palmas Port Authority: engineering, construction and location. ACCIONA’s solution can, by its nature, be applied to the performance and extension of any such quays, seawalls and mooring points in ports. It has significant environmental and operational advantages with respect to the concrete caissons used up to now. ","skills":[],"start":"1/1/2014","end":null}},{"json":{"name":"Construction of Cuenca Carbon Fiber Stress-Ribbon Pedestrian Bridge","description":"The Cuenca Carbon Fiber Stress-Ribbon Footbridge, across the Jucar River, is located in Cuenca, Spain. It is owned by Cuenca City and it was designed and constructed by ACCIONA. This bridge was completed and opened to the public in 2011. The Cuenca Stress-Ribbon Footbridge is a stress ribbon bridge with three spans (72 m × 3 m). The bridge width is 3 m and the total length is 216 m, which makes it become the longest stressed ribbon bridge in Spain and the eighth in the world. This bridge has two concrete piers, whose heights are 21.6 m and 16.98 m, respectively. The bridge decks are steel reinforced concrete slabs with the dimension of 3 m × 3.5 m and the stress ribbon supporting them consists of 16 CFRP cables. These CFRP cables were divided into four groups in transverse direction and fixed under the concrete slabs. Longitudinally, the stress ribbon was divided into five sections, and each section is a CFRP cable with a length of 43.7 m and a diameter of 41 mm. These CFRP cables were connected by an “8” shaped pin connection with each other. ","skills":[],"start":"6/1/2011","end":null}},{"json":{"name":"Construction of Almuñecar Carbon Fiber Pedestrian Bridge (Madrid)","description":"Almuñécar footbridge was built in Madrid in 2010 to substitute an old reinforced concrete footbridge crossing the Manzanares river. It has a span of 44 m, a width of 3.5 m and it is formed by a single FRP girder of 230 kN with a linear piece-wise axis and an inverted “Ω” cross section. The girder, completely made of carbon fibre, presents a series of longitudinal and transversal stiffeners to be able to accomplish with the challenging architectural requirements: a girder with a depth not greater than 1.20 m and with its inner surface completely covered with prefabricated reinforced concrete slabs.","skills":[],"start":"12/1/2010","end":null}},{"json":{"name":"Advanced concrete technologies implementation in shell footbridges over Madrid river in MRio Project","description":"Two shell footbridges for the MRio (Madrid river) has been built by ACCIONA Infraestructuras. These footbriges are characterized by a double curvature cover with 49.08 m span, and 43.46 m platform span. In this site, the ACCIONA R&D Department has implemented with great success two technologies of Advanced Materials: Application of self-compacting concrete in extreme conditions of temperature and quick formwork removal structures applying the concrete maturity control technology, both technologies developed in the ACCIONA R&D Technological Center in Madrid.","skills":[],"start":"11/1/2010","end":null}},{"json":{"name":"Development and experimentation of the MLG system (Light Rail Transit of Granada): First spanish slab track system embedded in concrete performed with a mixture of rubber from scrap tires and resins with polymeric matrix","description":"During the construction of the project U.T.E Campus de la Salud Armilla (Granada) ACCIONA has developed and applied successfully in a test pilot of eight hundred meters of simple track a new slab track railway system using rubber from scrap tires and resins with polymeric matrix, which it allows to reduce the high environmental impact caused by the landfills of used tires, distinguishing a high level of airborne noise, a key parameter in an urban railway system, due to presence of closed buildings. ","skills":[],"start":"12/1/2009","end":null}},{"json":{"name":"Recycling of slurry type material from the excavation of retaining walls in the enlargement of the airfield at Malaga Airport","description":"During the construction of the project “Ampliación del Campo de Vuelos del Aeropuerto de Málaga”, ACCIONA has developed and applied successfully a technology that allows to recycle the mud produced during the excavation works for making concrete diaphragm walls. Applying this technology we reach different goals: we can recycle the mud produced and use it to build the embankment of the landing strip of the airport, avoiding the strong environmental problems that produces mud dumps, reduce the traffic of soil transport vehicles around the site and also we decrease the emission of CO2 gases to the atmosphere because of the reduction of travels between the site and the mud dum.","skills":[],"start":"7/1/2009","end":null}},{"json":{"name":"Construction of two FRP bridges in M-111 Highway (Madrid)","description":"These two bridges are located on the outskirts of Madrid along the M111 freeway and were built in 2007. These two bridges are identical, made up of three simple supported 14m span of 4 FRP girders each. ","skills":[],"start":"10/1/2007","end":null}},{"json":{"name":"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto (Madrid)","description":"- From 2005 to 2007: Site Work General Manager of \"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto (Madrid)\" Project for MINTRA, company that belongs to COMUNIDAD DE MADRID. Budget: 103.279.732 €.","skills":[],"start":"1/1/2007","end":null}},{"json":{"name":"Development of an innovative lime treatment applied to the materials bored with a Tunneling Boring Machine (TBM) used in enlargement of Subway Line 11 Project (Madrid)","description":"This project, submitted in the context of the policy of respect towards the environment shown throughout the duration of the Expansion Works of the Madrid Metro Transit Network, refers to the treatment applied to the materials extracted during the excavation works done by the TBM \"Excavolina\" in Line 11 of the Madrid Metro, carried out by MINTRA (Madrid Infraestructura del Transporte) in the Autonomous Community of Madrid with Dragados acting as Contracton In arder to be able to work under pressure, a prerequisite for all works done in urban environments such as the city of Madrid, it is essential to turn the materials produced at the front end at such high rates that the fill materials turras practically into sludge (material in a liquid state). Transporting tisis material in trucks through urban thoroughfares causes cleaning problems. The real issue, however, arises when taking these materials to the dumpsite, since their fluid nature malees their disposal and drying up difficult, needing large dumping surfaces to alternate load dumping while the drying process takes place.\nThe study carried out verifies that said material, when containing slightly to somewhat clayish sands having low-medium plasticity, can be treated with dehydrated lime (quicklime) in dosages of 1-2% by weight in the same working pit, producing in a few hours a material that is completely different and can be used as embankment fill in other infrastructures, having an acceptable quality that is equivalent to tolerable I suitable soils.\nThe results obtained are not good if the raw material is highly plasticity grey clay (locally known as \"peñuela\").","skills":[],"start":"1/1/2006","end":null}},{"json":{"name":"Extension of Airstrip of Torrejon Air Military Base and other complementary works","description":"- From 2004 to 2005: Site Work General Manager of \"Extension of Airstrip of Torrejon Air Military Base and other complementary works\" Project for AENA. Budget: 61.498.750 €.","skills":[],"start":"1/1/2005","end":null}},{"json":{"name":"Construction of New Torrejon Road Link with A-2 Highway","description":"- 2003: Site Work General Manager of \"Construction of New Torrejon Road Link with A-2 Highway\" Project for HENARSA (Autopistas del Henares S.A.) and MINISTERIO DE FOMENTO, during Radial 2 Project. Budget: 5.241.000 €.","skills":[],"start":"1/1/2003","end":null}},{"json":{"name":"Radial 2 Highway. Madrid M-50 - Guadalajara","description":"- From 2001 to 2003: Site Work Production Manager. Bridges Area during the construction of Radial 2 Highway for HENARSA (Autopistas del Henares S.A.) and MINISTERIO DE FOMENTO. Section 2 Madrid M-50 - Guadalajara. When the project finished I became Site Work General Manager of UTE Radial 2 Project. Budget: 246.452.365 €.","skills":[],"start":"1/1/2003","end":null}},{"json":{"name":"Underground Hydroelectrical Power Plant of Millares II","description":"- 2000: Site Work Technical Manager at \"Underground Hydroelectrical Power Plant of Millares II\" Project for IBERDROLA. Budget: 15.246.589 €.","skills":[],"start":"1/1/2000","end":null}},{"json":{"name":"Acceso Sur a Terra Mítica Project from A-7 Highway to Terra Mítica Amusement Park and \"Red Viaria Peatonal de Terra Mítica","description":"- 1999: Site Work Production Manager at \"Acceso Sur a Terra Mítica, Enlace\" Project from A-7 Highway to Terra Mítica Amusement Park and \"Red Viaria Peatonal de Terra Mítica\" Project for SPTA (Sociedad Parque Temático Alicante).","skills":[],"start":"11/1/1999","end":null}},{"json":{"name":"Acciona Smart Home. Viviendas Inteligentes Acciona Inmobiliaria","description":"ACCIONA da un paso más en la innovación con sus Smarthomes.\nComodidad, sencillez y ecoeficiencia para que disfrutes de tu hogar con los que más quieres. ","skills":[],"start":"1/1/2018","end":"12/1/2019"}},{"json":{"name":"First 5G Music Festival. 4K 360º Video streaming trasmitted to inmersive headsets in Cruilla Music Festival (Barcelona)","description":"Cruïlla has become one of the first worldwide test banks of 5G technology applied to the entertainment and live music industry thanks to Mobile World Capital Barcelona, ​​Cellnex Telecom, ACCIONA, MASMOVIL and Qwilt, in the framework of the 5G Barcelona initiative. The festival took place between 3 and 6 July at the Parc del Fòrum in Barcelona.\n\nThanks to this initiative, attendees to the tenth edition of the festival have been able to experience what it feels like to enjoy live a concert from the stage, alongside their favorite artists, through an immersive 360º virtual reality experience.\n\nLinks: \n- La Razón: Realidad Virtual en concierto. https://www.larazon.es/sociedad/medio-ambiente/realidad-virtual-en-concierto-JG24221679\n- MWC: Cruïlla Barcelona presume de ser el primer festival 5G de Europa. https://www.mobileworldlive.com/spanish/cruilla-barcelona-presume-de-ser-el-primer-festival-5g-de-europa/\n- El Confidencial: Cuatro días en el primer festival 5G: así es ver a Love of Lesbian en realidad virtual. https://www.elconfidencial.com/tecnologia/2019-07-15/festival-cruilla-barcelona-5g-realidad-virtual-bra_2111895/\n- Timeout: Així és la tecnologia 5G que et porta dalt de l'escenari del Cruïlla. https://www.timeout.cat/barcelona/ca/noticies/aixi-es-la-tecnologia-5g-que-et-porta-dalt-de-lescenari-del-cruilla-070619","skills":["Virtual Reality"],"start":"1/1/2019","end":"7/1/2019"}},{"json":{"name":"Virtual Reality Event in Acciona Shareholders Meeting. 360º Video shown on 350 Oculus Go VR glasses","description":"On April of 2019, we received a commitment from our Board to use the most innovative Virtual Reality technology in Acciona 2019 Shareholders Annual Meeting.\nThe first challenge was to be able to record a 360º video in more than five countries all around the world of most important Acciona projects. The second challenge was to install a launcher system of 360º video simultaneously during Acciona Shareholders meeting in 350 Oculus Go Virtual Reality glasses.\nThe result was amazing as we achieve the goal due to the excellent collaboration between our partners, Virtual Voyagers, and our Acciona colleagues of IT and Acciona Producciones y Diseño.\n","skills":["Virtual Reality"],"start":"4/1/2019","end":"5/1/2019"}},{"json":{"name":" Spain’s National Archaeological Museum and Acciona Presented The First Romanesque Arch Printed in 3D","description":"Spain's National Archaeological Museum (MAN) and ACCIONA presented today in Madrid the first architectural item of cultural heritage to be reproduced full-scale by means of 3D printing in concrete. It is a replica of the San Pedro de las Dueñas Arch, the original of which is part of the Museum's collection. As of today, the replica is located in the garden at the National Archaeological Museum.\nThis technological milestone is the result of a collaboration agreement between the National Archaeological Museum and ACCIONA with the aim of applying cutting-edge techniques that contribute to raising awareness and preserving Spain's historical heritage.","skills":["Reality Capture"],"start":"4/1/2018","end":"4/1/2019"}},{"json":{"name":"First Micro Concrete Large Scale 3D Printed Pedestrian Bridge in Alcobendas (Madrid, Spain)","description":"The city of Alcobendas in Spain has just unveiled the first ever 3D printed pedestrian bridge made of concrete. Measuring 12 metres in length and 1.75 metres in width, the landmark structure represents a milestone in civil engineering, an industry which up until now has been reluctant to use additive manufacturing. The bridge was inaugurated on December of 2016 by Alcobendas city officials in Castilla La Mancha Park.\nMade up of 8 separate pieces that fit together, the architectural design of the walkway was implemented by the Institute of Advanced Architecture of Catalonia, and later constructed by Acciona, a Spanish civil engineering company. Acciona can now claim the renowned status of the first construction company in the world to execute a large scale civil engineering project using 3D printing.\nThe stunning walkway was designed through techniques of organic and biomimetic architecture, according to an official statement from the Alcobendas city council, and resembles naturally occurring forms found in the environment.","skills":[],"start":"8/1/2015","end":"12/1/2016"}}]},"versionId":"b91a47f3-1d96-44f9-88d2-ba4ecdaf9980","triggerCount":2,"shared":[{"createdAt":"2025-09-06T19:14:00.281Z","updatedAt":"2025-09-06T19:14:00.281Z","role":"workflow:owner","workflowId":"JdPn8a9YY7BbLfPj","projectId":"8XYD7Ip26tz9IjW7"}],"tags":[]}