linkedin-people-screening-P3AEJ9LKmbpygDKz.json
{"createdAt":"2025-09-06T09:31:11.336Z","updatedAt":"2025-09-06T19:09:31.109Z","id":"P3AEJ9LKmbpygDKz","name":"Linkedin People Screening","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api15.unipile.com:14591/api/v1/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"request_url","value":"=https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(companyUrn:urn%3Ali%3Afsd_company%3A{{ $json.CompanyID }})&queryId=voyagerJobsTalentBrandDashOrganizationJobs.326e1760d35d0283521e8e3ac72cc747"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,592],"id":"6176ebd1-850d-4761-b511-2f4b841416fa","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,368],"id":"1359d138-f14b-4edc-b01c-6308cd6e4f55","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1696,592],"id":"23afa59c-bbe0-4b8b-80bd-2c2826c5fd4f","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1824,592],"id":"93e1358c-7b60-4ee8-a150-85af4084b1b1","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"LinkedinResearch","operator":{"type":"string","operation":"equals"},"id":"1411d67d-fb99-4d54-b522-859f4424de51"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedinResearch"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-64,176],"id":"18a00c8b-dbdc-4bb9-9dac-618732dd9dc4","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c5402369-6268-42da-81cf-60eb6ffa6d39","name":"logoUrl","value":"=[\"{{ $json.logo_large }}\"]","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,576],"id":"a44b2054-3d3b-4011-83db-3fff2c11a566","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[384,464],"id":"35e0ef56-3507-427a-9901-31d60e51caeb","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[848,592],"id":"c48763b2-3bad-4bac-856e-9d9ce2fbec02","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,592],"id":"492df434-e238-4632-a9e3-d6370f4f7b11","name":"Wait","webhookId":"53836086-37f8-43e4-8cd1-7b4ef1ae6efd"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1408,48],"id":"3c341c36-cfd5-4c18-a4a0-860b66b22053","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign, what are each of these companies focusing on, give educated guesses about what the companies are doing in terms of efforts.\n\nFrom the data, give hiring details about every companies.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1568,48],"id":"7e5e5330-677d-4711-822c-35f3596cf8a6","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1552,208],"id":"a2d55ae7-49b4-4cb0-93ce-b96b4d984e3b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1872,48],"id":"f12e1056-20b5-4bed-8643-3384b821b7f3","name":"Edit Fields2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1984,48],"id":"eb93464e-6592-46bd-b9fa-4691f3139c74","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1296,592],"id":"dce884db-1ee8-4c77-9215-d956bff95594","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1504,528],"id":"4a34e7f0-90b8-4532-a982-6f1192bc306b","name":"Edit Fields4"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2176,384],"id":"2a1fb8f0-ef8a-4ee6-9c8b-cfdd0a723141","name":"Add Department","executeOnce":false},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const linkedinUrl = item.json[\"Linkedin URL\"];\n  if (linkedinUrl) {\n    // Quitar barra final si existe y quedarnos con el último segmento\n    const PeopleName = linkedinUrl.replace(/\\/$/, '').split('/').pop();\n    item.json.PeopleName = PeopleName;\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,368],"id":"e3277661-216d-4450-a406-8de67d9f6c4e","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,592],"id":"55c933d6-6409-459d-8744-2f1b24f19247","name":"Should create Department"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"61e6888a-52bc-4f75-b9c4-aa141d406e42"}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,752],"id":"666af4d2-ad30-4621-84d0-17cb9a0bb25e","name":"Switch1"},{"parameters":{"assignments":{"assignments":[{"id":"37a87ab2-6b61-4181-b717-79e51ca6ec63","name":"Drive folder Id","value":"={{ $json.id }}","type":"string"},{"id":"8b643e6c-606c-4544-9d2e-b45f21753630","name":"education","value":"={{ $('Get People Details').item.json.education }}","type":"array"},{"id":"97fa785a-1363-4292-aae7-72d1665b247c","name":"work_experience","value":"={{ $('Get People Details').item.json.work_experience }}","type":"array"},{"id":"d5920738-6e57-43c6-89fc-1b2ff06d4c8d","name":"skills","value":"={{ $('Get People Details').item.json.skills }}","type":"array"},{"id":"098f2ded-e50f-4efc-83e1-fc850abce7c4","name":"languages","value":"={{ $('Get People Details').item.json.languages }}","type":"array"},{"id":"ef494599-8dce-4af3-aaed-73d05c7dccaa","name":"certifications","value":"={{ $('Get People Details').item.json.certifications }}","type":"array"},{"id":"138b2b80-e4cd-4294-8099-510c4df8a013","name":"volunteering_experience","value":"={{ $('Get People Details').item.json.volunteering_experience }}","type":"array"},{"id":"81bcd2e3-b022-468a-970b-26be12cd32d1","name":"projects","value":"={{ $('Get People Details').item.json.projects }}","type":"array"},{"id":"de5761c5-61c8-4b0d-8b5f-a200584e290d","name":"recommendations","value":"={{ $('Get People Details').item.json.recommendations }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,944],"id":"99df7652-461a-41f8-86da-82e1a40dd7e2","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields1').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields1').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2448,384],"id":"dd4e729f-64f1-417f-8e87-752880a4775e","name":"Edit Fields6"},{"parameters":{"path":"4446d915-4bc6-450f-b3f0-ee8d97df9c2d","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-560,336],"id":"c70d7c60-e6cf-4f3a-b085-5ae3d93620ab","name":"Webhook","webhookId":"4446d915-4bc6-450f-b3f0-ee8d97df9c2d"},{"parameters":{"content":"## Get Company Data","height":1380,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-304,0],"typeVersion":1,"id":"18dec16d-81bb-4ad5-88c3-75ee4ac67a0a","name":"Sticky Note"},{"parameters":{"content":"## Job Scraping + Saving Automation [Along with weekly Reporting]","height":1040,"width":2860,"color":6},"type":"n8n-nodes-base.stickyNote","position":[304,352],"typeVersion":1,"id":"caad1d46-c642-4f95-a855-b69bf7881fb6","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2368,576],"id":"5d44e320-84d4-4166-87df-6aa9dedabbf9","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,544],"id":"6d14dc7d-fba1-4347-844c-e01ca4e9df88","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"content":"##  weekly Reporting\n","height":340,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[192,-16],"typeVersion":1,"id":"3420653b-2d43-47d6-9931-6eb1e9b742b6","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,704],"id":"9ec0ba93-09ea-4afe-9e51-eb459345aacf","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"id":"={{ $('Webhook').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-208,368],"id":"bb0a48c5-d50f-4dee-82cc-16ea1ac6168f","name":"Get a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Get a record').item.json.Name }}","filter":{"folderId":{"__rl":true,"value":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-16,752],"id":"9e18de28-6a6a-462a-97f5-2495769b5fe9","name":"Search files and folders","alwaysOutputData":true,"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Get a record').item.json.Name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,944],"id":"86aa387f-2beb-4a18-8282-fc3cfae6a371","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get a record').item.json.id }}","Status":"Add to Schedule","Follower Count":"={{ $('Edit Fields3').item.json.follower_count }}","Connections Count":"={{ $('Edit Fields3').item.json.connections_count }}","provider_id":"={{ $('Edit Fields3').item.json.provider_id }}","public_identifier":"={{ $('Edit Fields3').item.json.public_identifier }}","First Name":"={{ $('Edit Fields3').item.json.first_name }}","Last Name":"={{ $('Edit Fields3').item.json.last_name }}","Full Name":"={{ $('Edit Fields3').item.json.first_name }} {{ $('Edit Fields3').item.json.last_name }}","Headline":"={{ $('Edit Fields3').item.json.headline }}","Location":"={{ $('Edit Fields3').item.json.location }}","Profile Picture":"={{ $('Edit Fields3').item.json.profile_picture_url }}","Profile Picture Large":"={{ $('Edit Fields3').item.json.profile_picture_url_large }}","Background Picture":"={{ $('Edit Fields3').item.json.background_picture_url }}","Country":"={{ $('Edit Fields3').item.json.primary_locale.country }}","Email 01":"={{ $('Edit Fields3').item.json.contact_info.emails[0] }}","Email 03":"={{ $('Edit Fields3').item.json.contact_info.emails[2] }}","Email 02":"={{ $('Edit Fields3').item.json.contact_info.emails[3] }}","Phone 01":"={{ $('Edit Fields3').item.json.contact_info.phones[0] }}","Phone 02":"={{ $('Edit Fields3').item.json.contact_info.phones[1] }}","Phone 03":"={{ $('Edit Fields3').item.json.contact_info.phones[2] }}","Website 01":"={{ $('Get People Details').item.json.websites[0] }}","Website 02":"={{ $('Get People Details').item.json.websites[1] }}","Website 03":"={{ $('Get People Details').item.json.websites[2] }}","Summary":"={{ $('Get People Details').item.json.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Add to Schedule","value":"Add to Schedule"}],"readOnly":false,"removed":false},{"id":"Attachments","displayName":"Attachments","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Attachment Summary","displayName":"Attachment Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,1152],"id":"db202f7f-40c2-495a-8a5b-658dd6eafb80","name":"Update record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblmvH3SawXaCpgWZ"},"filterByFormula":"{Status} = \"Add to Schedule\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[672,592],"id":"535107c3-e316-43b9-bde7-ee3abefc8678","name":"Search records","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=Competitor Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2128,48],"id":"381201ec-7611-4ce5-b725-0a0ab6e3d57c","name":"Send a message","webhookId":"5b4c7b42-0855-4351-92b8-78c9b77ae43e","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown').item.json.Details }}","Date":"={{ $('Aggregate').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2288,48],"id":"223726aa-8855-48ef-b1bc-cce17f2b5c9e","name":"Create a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields6').item.json.Title }}","Description":"={{ $('Edit Fields6').item.json.Description }}","Applicants":"={{ $('Edit Fields6').item.json.Applicants }}","Location":"={{ $('Edit Fields6').item.json.Location }}","CompanyLink":"={{ $('Edit Fields6').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields6').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields6').item.json.expiresAt }}","Department":"={{ $('Edit Fields6').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2688,656],"id":"887f35f3-ea3b-40b4-afd4-4bd0fe8f3dd0","name":"Create a record1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields6').item.json.CompanyName }}_{{ $('Edit Fields6').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2672,384],"id":"5cf89c29-9767-4a3b-bbc6-91bb9e449c10","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields6').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2528,656],"id":"191e5cbd-9684-49f5-86d7-844480a08aa9","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.PeopleName }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"linkedin_sections","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,576],"id":"796d3dc6-548e-4bef-ac29-c2c1e083b48a","name":"Get People Details","credentials":{"httpHeaderAuth":{"id":"W5lrMyHWBG5HE1PR","name":"Header Auth account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbltkSL4xcSTkMgU0","mode":"list","cachedResultName":"Education","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbltkSL4xcSTkMgU0"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.school }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Degree":"={{ $json.degree }}","School":"={{ $json.school }}","School ID":"={{ $json.school_id }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Linkedin URL (from Person)","displayName":"Linkedin URL (from Person)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Degree","displayName":"Degree","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School","displayName":"School","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School ID","displayName":"School ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,944],"id":"83ff7f49-0def-474c-98b5-19e6e3b3e906","name":"Create a record Education","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=education","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,944],"id":"d40aa3f7-f771-4a35-b74e-78045f53d0c4","name":"Split Out Education"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblLbXsCG8LXCmxuP","mode":"list","cachedResultName":"Work Experience","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblLbXsCG8LXCmxuP"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.school }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company ID","displayName":"Company ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"Estrategias de crecimiento","value":"Estrategias de crecimiento"},{"name":"Estrategia empresarial","value":"Estrategia empresarial"},{"name":"Business Strategy","value":"Business Strategy"},{"name":"Estrategia","value":"Estrategia"},{"name":"Planificación estratégica","value":"Planificación estratégica"},{"name":"Planificación de negocios","value":"Planificación de negocios"},{"name":"Capacidad de análisis","value":"Capacidad de análisis"},{"name":"Desarrollo empresarial","value":"Desarrollo empresarial"},{"name":"Growth","value":"Growth"},{"name":"Generación de nuevas empresas","value":"Generación de nuevas empresas"},{"name":"Empresas emergentes","value":"Empresas emergentes"},{"name":"Tecnología de la información","value":"Tecnología de la información"},{"name":"Innovación digital","value":"Innovación digital"},{"name":"Artificial Intelligence","value":"Artificial Intelligence"},{"name":"IA generativa","value":"IA generativa"},{"name":"Innovación tecnológica","value":"Innovación tecnológica"},{"name":"Transformación digital","value":"Transformación digital"},{"name":"Gestión de obras de construcción","value":"Gestión de obras de construcción"},{"name":"Digital","value":"Digital"},{"name":"Educación","value":"Educación"},{"name":"Construction","value":"Construction"},{"name":"Civil Engineering","value":"Civil Engineering"},{"name":"Engineering","value":"Engineering"},{"name":"Sistemas Electrónicos de Seguridad","value":"Sistemas Electrónicos de Seguridad"},{"name":"Cloud Computing","value":"Cloud Computing"},{"name":"Internet of Things","value":"Internet of Things"},{"name":"Virtual Reality","value":"Virtual Reality"},{"name":"Reality Capture","value":"Reality Capture"},{"name":"3D Printing","value":"3D Printing"},{"name":"Blockchain","value":"Blockchain"},{"name":"Inglés","value":"Inglés"},{"name":"Energías renovables","value":"Energías renovables"},{"name":"Ingeniería civil","value":"Ingeniería civil"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[560,1104],"id":"8f7a24cb-f970-4790-bbab-73dd8118ca2f","name":"Create a record Work Experience","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=work_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1104],"id":"b534ca3a-dc75-4ac8-9ea1-c9c48e108f5d","name":"Split Out Work Experience"},{"parameters":{"fieldToSplitOut":"=skills","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1280],"id":"d4415731-66b7-4c2d-9f15-7cd1555855d4","name":"Split Out Skills"},{"parameters":{"fieldToSplitOut":"=certifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1424],"id":"979bb9fa-cf21-4299-990e-46c1fa551105","name":"Split Out Certifications"},{"parameters":{"fieldToSplitOut":"=languages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1552],"id":"c71e0654-0e3c-4e1a-a94f-af17f4e7b4fc","name":"Split Out Language"},{"parameters":{"fieldToSplitOut":"=volunteering_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1696],"id":"85620f77-a3ee-4caa-813f-0a8ae85ff072","name":"Split Out Volunteering Experience"},{"parameters":{"fieldToSplitOut":"=projects","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1840],"id":"45b5a1fa-df6e-4213-996c-33986eeb50bf","name":"Split Out Projects"},{"parameters":{"fieldToSplitOut":"={{ $('Get People Details').item.json.recommendations }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,1968],"id":"698d164c-e52a-4131-bd5f-489b6b8fe86d","name":"Split Out Projects1"}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Should create Department","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Add Department":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get People Details","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0}]]},"Should create Department":{"main":[[{"node":"Add Department","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Update record","type":"main","index":0},{"node":"Split Out Recomendations","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Add Department","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Add Department","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Code","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Get People Details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Split Out Education":{"main":[[{"node":"Create a record Education","type":"main","index":0}]]},"Update record":{"main":[[]]},"Split Out Work Experience":{"main":[[{"node":"Create a record Work Experience","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}],"Code":[{"json":{"id":"recmhE5dqsfx6yLL1","createdTime":"2025-09-06T09:38:39.000Z","Name":"José Daniel García Espinel","Status":"Research","Attachment Summary":{"state":"error","errorType":"emptyDependency","value":null,"isStale":false},"Linkedin URL":"https://www.linkedin.com/in/jose-daniel-garcia-espinel/","PeopleName":"jose-daniel-garcia-espinel"}}],"Get People Details":[{"json":{"object":"UserProfile","provider":"LINKEDIN","provider_id":"ACoAAAN2gysBVPAUdZSGaMA9wIAbcnlvR4N-Xnc","public_identifier":"jose-daniel-garcia-espinel","member_urn":"58098475","first_name":"José Daniel","last_name":"García Espinel","headline":"Head of Innovation Strategy & Growth at Ferrovial. Senior Engineer specialized in Innovation, Technology and Product Development🔹Artificial Intelligence🔹IoT🔹Cloud🔹3D Printing🔹Extended Reality🔹Digital Tech","primary_locale":{"country":"US","language":"en"},"is_open_profile":false,"is_premium":false,"is_influencer":false,"is_creator":true,"is_relationship":true,"network_distance":"FIRST_DEGREE","is_self":false,"websites":["https://josedanielgarciaespinel.wordpress.com/","www.digital-diabetes.com","https://orcid.org/0000-0003-1430-3718"],"follower_count":8034,"connections_count":4602,"location":"Greater Madrid Metropolitan Area","contact_info":{"emails":["ttinerfeno@gmail.com"],"phones":["+34670400158"]},"profile_picture_url":"https://media.licdn.com/dms/image/v2/C4E03AQE5igs3TLyjTw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1616844000850?e=1759968000&v=beta&t=SrIx2Sf_WZruIsGbS0hXMManQn67QGT1I5UVQWZ8Pek","profile_picture_url_large":"https://media.licdn.com/dms/image/v2/C4E03AQE5igs3TLyjTw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1616844000850?e=1759968000&v=beta&t=5anE8TX_VFsKGIudOcqn8C7NFRzI9o52KNtK5xy3xos","background_picture_url":"https://media.licdn.com/dms/image/v2/D4D16AQGldykHXoz2mA/profile-displaybackgroundimage-shrink_200_800/profile-displaybackgroundimage-shrink_200_800/0/1665067763014?e=1759968000&v=beta&t=hXarAeRJ3HNXLd7C-aHBCWW6Lm51AV4cSafxREGeiMA","education":[{"degree":"Civil Engineer, Structures and Foundations","school_id":"166617","school":"Universidad Politécnica de Madrid","start":"1/1/1993","end":"1/1/1999"},{"degree":"PhD, Civil Engineering","school_id":"38246","school":"Universidad de Cantabria","start":"1/1/2012","end":"1/1/2015"},{"degree":"MBA Executive, MBA Executive. Sustainable Development","school_id":"40482","school":"EOI Business School","start":"1/1/2010","end":"1/1/2011"},{"degree":"Master Universitario, Master’s Degree in Research in Civil Engineer","school_id":"38246","school":"Universidad de Cantabria","start":"1/1/2009","end":"1/1/2010"},{"degree":"EGB, BUP y COU, Ciencias puras","school":"Colegio Nuestra Señora de las Maravillas. La Salle","start":"1/1/1980","end":"1/1/1993"}],"work_experience":[{"company_id":"14040","company":"Ferrovial","position":"Head of Innovation Strategy & Growth","location":"On-site","skills":["Estrategias de crecimiento","Estrategia empresarial","Business Strategy","Estrategia","Planificación estratégica","Planificación de negocios","Capacidad de análisis"],"start":"2/1/2025","end":null},{"company_id":"14040","company":"Ferrovial","position":"Head of Innovation Growth","location":"On-site","description":"At Ferrovial in Innovation Growth Department. I'm focused on creating more sources of revenue for Ferrovial linked to the core from existing internal and external future developments, establishing partnerships to jointly go to market, and creating new business lines for Ferrovial.","skills":["Desarrollo empresarial","Estrategias de crecimiento","Growth","Generación de nuevas empresas","Empresas emergentes"],"start":"11/1/2022","end":"2/1/2025"},{"company_id":"43360","company":"Universidad Nebrija","position":"Head and Professor of Digital Construction","location":"Madrid, Community of Madrid, Spain · On-site","description":"At Nebrija University, I am applying my experience in areas such as artificial intelligence, the internet of things, the cloud, 3D printing, and mixed, virtual or augmented reality in the Architecture Department so that students can enter the job market with knowledge in all these digital technologies applied to the world of Construction.","skills":["Tecnología de la información","Innovación digital","Artificial Intelligence","IA generativa","Innovación tecnológica","Transformación digital","Gestión de obras de construcción","Digital","Educación","Construction","Civil Engineering","Engineering"],"start":"9/1/2023","end":null},{"company_id":"15449","company":"Prosegur","position":"Chief Innovation Officer (CIO) & Digital Product Development Director","description":"•\tDevelop New Digital Products with our own IP based on technologies like Cloud, Internet of Things, Data Science, Artificial Intelligence and Electronic Security Systems.\n•\tStrategic partnerships: Alliances to co-innovate (Microsoft)","skills":["Sistemas Electrónicos de Seguridad","Artificial Intelligence","Cloud Computing","Internet of Things","Virtual Reality"],"start":"1/1/2021","end":"11/1/2022"},{"company_id":"15449","company":"Prosegur","position":"Chief Innovation Officer (CIO)","description":"•\tCreate GenzAI Platform, a Global Edge-Cloud Platform that connects all our managed devices with IoT, stores all the data and applies Artificial Intelligence to increase efficiency at our Control Centers. Foundation of New Products.\n•\tImplement Open Innovation strategy connecting with startup ecosystem and empowering our employees’ ideas. \n•\tObtain funding to support our Innovation and Digital Transformation Programs from the European Investment Bank (57,7M€) and tax credits (3,5M€/yr)","skills":["Artificial Intelligence","Cloud Computing"],"start":"9/1/2019","end":"1/1/2021"},{"company_id":"31481","company":"ACCIONA","position":"Director of Acciona's Advanced and Digital Innovation Hub","description":"•\tDigital Innovation Projects developed by six Skill Centers:  3D Printing, Mixed Reality, AI and Robotics, Data Science (Big Data & Analytics), Connected Things and Blockchain & New Tech.\n•\tNew Business line of Large-Scale 3D printing in Dubai\n•\tFirst 3d Printed Foot Bridge in the World (Alcobendas).","skills":["Reality Capture","3D Printing","Blockchain","Virtual Reality"],"start":"9/1/2017","end":"9/1/2019"},{"company_id":"31481","company":"ACCIONA","position":"Technology Transfer Director","description":"•\tNew Business lines creation from technologies developed within ACCIONA. Transferring technology internally and externally (ACCIONA clients). Intellectual Property management.","skills":["3D Printing","Inglés","Energías renovables"],"start":"3/1/2011","end":"9/1/2017"},{"company_id":"31481","company":"ACCIONA","position":"Innovation Director","description":"•\tBusiness launch of products from Tech Innovation Center.\n•\tManagement of advanced technological projects: 8 R&D  projects managed and funded by CDTI and FP7 (Europe)\n•\t8 Scientific journals publications & 7 patents as inventor","skills":["Ingeniería civil"],"start":"2/1/2007","end":"3/1/2011"},{"company_id":"38933","company":"Dragados","position":"Site Work General Manager","location":"Madrid Area, Spain","description":"•\tSite Work General Manager of \"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto\" 103,3M€\n•\tSite Work General Manager of \"Extension Works of Airfield of Torrejon Air Military Base and other complementary works\" Project for client AENA. Budget: 61,5M€.\n•\tSite Work Production Manager. Bridges Department during the construction of Radial 2 Highway for client HENARSA (Autopistas del Henares S.A.). Budget: 246,5M€\n•\tSite Work Technical Manager at \"Underground Hydroelectrical Central of Millares II\" Project for client IBERDROLA. Budget: 15,2M€.","skills":[],"start":"11/1/1999","end":"2/1/2007"}],"skills":[{"name":"Estrategia","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":25,"endorsed":false},{"name":"Planificación estratégica","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":26,"endorsed":false},{"name":"Planificación de negocios","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":27,"endorsed":false},{"name":"Capacidad de análisis","endorsement_count":0,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":28,"endorsed":false},{"name":"Desarrollo empresarial","endorsement_count":1,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":20,"endorsed":false},{"name":"Estrategias de crecimiento","endorsement_count":1,"insights":["2 experiences at Ferrovial"],"endorsement_id":21,"endorsed":false},{"name":"Growth","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":22,"endorsed":false},{"name":"Generación de nuevas empresas","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":23,"endorsed":false},{"name":"Empresas emergentes","endorsement_count":0,"insights":["Head of Innovation Growth at Ferrovial"],"endorsement_id":24,"endorsed":false},{"name":"Tecnología de la información","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":11,"endorsed":false},{"name":"Innovación digital","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":13,"endorsed":false},{"name":"Innovación tecnológica","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":16,"endorsed":false},{"name":"Transformación digital","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":17,"endorsed":false},{"name":"Digital","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":18,"endorsed":false},{"name":"Educación","endorsement_count":1,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":19,"endorsed":false},{"name":"Large Language Models (LLMs)","endorsement_count":0,"insights":["What Is Generative AI?","ChatGPT Prompt Engineering for Developers","LangChain for LLM Application Development"],"endorsement_id":15,"endorsed":false},{"name":"IA generativa","endorsement_count":0,"insights":["Head and Professor of Digital Construction at Universidad Nebrija","What Is Generative AI?","ChatGPT Prompt Engineering for Developers"],"endorsement_id":14,"endorsed":false},{"name":"Artificial Intelligence","endorsement_count":3,"insights":["3 experiences across Universidad Nebrija and 1 other company","Generative AI: The Evolution of Thoughtful Online Search","Comisión de Inteligencia Artificial"],"endorsement_id":3,"endorsed":false},{"name":"Cloud Computing","endorsement_count":0,"insights":["2 experiences at Prosegur","Google Cloud Platform Fundamentals: Core Infrastructure","Introduction to AWS for Non-Engineers: 1 Cloud Concepts"],"endorsement_id":774415623,"endorsed":false},{"name":"Internet of Things","endorsement_count":3,"insights":["Chief Innovation Officer (CIO) & Digital Product Development Director at Prosegur"],"endorsement_id":9,"endorsed":false},{"name":"3D Printing","endorsement_count":1,"insights":["2 experiences across ACCIONA and 1 other company","Impresión 3D para reconstruir el pasado"],"endorsement_id":5,"endorsed":false},{"name":"Augmented Reality","endorsement_count":1,"insights":[],"endorsement_id":2,"endorsed":false},{"name":"Virtual Reality","endorsement_count":1,"insights":["2 experiences across Prosegur and 1 other company","What Business Leaders Need to Know about Web3 (+ Metaverse)","What Is the Metaverse?"],"endorsement_id":1,"endorsed":false},{"name":"Data Science","endorsement_count":1,"insights":[],"endorsement_id":6,"endorsed":false},{"name":"Robotics","endorsement_count":1,"insights":[],"endorsement_id":4,"endorsed":false},{"name":"5G","endorsement_count":1,"insights":[],"endorsement_id":8,"endorsed":false},{"name":"Blockchain","endorsement_count":1,"insights":["Director of Acciona's Advanced and Digital Innovation Hub at ACCIONA","Acciona's project \"Compliance by Blockchain\" won Compliance Expansion Awards 2018"],"endorsement_id":7,"endorsed":false},{"name":"Sistemas Electrónicos de Seguridad","endorsement_count":0,"insights":["Chief Innovation Officer (CIO) & Digital Product Development Director at Prosegur"],"endorsement_id":12,"endorsed":false},{"name":"Energías renovables","endorsement_count":13,"insights":["Technology Transfer Director at Acciona","INTEGRACIÓN DE RENOVABLES EN PLANTAS DEPURADORAS RESUMEN"],"endorsement_id":170460724,"endorsed":false},{"name":"Construcción","endorsement_count":29,"insights":[],"endorsement_id":170460725,"endorsed":false},{"name":"Ingeniería civil","endorsement_count":26,"insights":["Innovation Director at Acciona"],"endorsement_id":170460719,"endorsed":false},{"name":"Project Management","endorsement_count":21,"insights":[],"endorsement_id":170460739,"endorsed":false},{"name":"Estrategia empresarial","endorsement_count":18,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":170460722,"endorsed":false},{"name":"Microsoft PowerPoint","endorsement_count":0,"insights":["Passed LinkedIn Skill Assessment"],"endorsement_id":1632329573,"endorsed":false},{"name":"Construction","endorsement_count":12,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460727,"endorsed":false},{"name":"Gestión de contratos","endorsement_count":12,"insights":[],"endorsement_id":170460728,"endorsed":false},{"name":"Microsoft Project","endorsement_count":11,"insights":[],"endorsement_id":170460731,"endorsed":false},{"name":"Gestión de obras de construcción","endorsement_count":10,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460729,"endorsed":false},{"name":"Business Strategy","endorsement_count":10,"insights":["Head of Innovation Strategy & Growth at Ferrovial"],"endorsement_id":170460742,"endorsed":false},{"name":"Engineering","endorsement_count":9,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460734,"endorsed":false},{"name":"Civil Engineering","endorsement_count":8,"insights":["Head and Professor of Digital Construction at Universidad Nebrija"],"endorsement_id":170460730,"endorsed":false},{"name":"Project Planning","endorsement_count":8,"insights":[],"endorsement_id":170460744,"endorsed":false},{"name":"Español","endorsement_count":7,"insights":[],"endorsement_id":170460723,"endorsed":false},{"name":"AutoCAD","endorsement_count":6,"insights":[],"endorsement_id":170460726,"endorsed":false},{"name":"Negotiation","endorsement_count":6,"insights":[],"endorsement_id":170460745,"endorsed":false},{"name":"Renewable Energy","endorsement_count":4,"insights":["INTEGRACIÓN DE RENOVABLES EN PLANTAS DEPURADORAS RESUMEN","LIFE+ RENEWATT: Renewable Energy integration and Energy Efficient Systems to reduce energy consumption in Waste Water Treatment Plants (WWTP)"],"endorsement_id":170460732,"endorsed":false},{"name":"Negociación","endorsement_count":5,"insights":[],"endorsement_id":170460735,"endorsed":false},{"name":"Negociación de contratos","endorsement_count":5,"insights":[],"endorsement_id":170460740,"endorsed":false},{"name":"Spanish","endorsement_count":3,"insights":[],"endorsement_id":170460738,"endorsed":false},{"name":"Energía","endorsement_count":4,"insights":[],"endorsement_id":170460741,"endorsed":false},{"name":"Contract Negotiation","endorsement_count":2,"insights":[],"endorsement_id":170460733,"endorsed":false},{"name":"Energy","endorsement_count":2,"insights":[],"endorsement_id":170460736,"endorsed":false},{"name":"Construction Management","endorsement_count":2,"insights":[],"endorsement_id":170460743,"endorsed":false},{"name":"Contract Management","endorsement_count":1,"insights":[],"endorsement_id":170460737,"endorsed":false},{"name":"Inglés","endorsement_count":0,"insights":["Technology Transfer Director at Acciona","Colegio Nuestra Señora de las Maravillas. La Salle"],"endorsement_id":1714743092,"endorsed":false},{"name":"Microsoft Excel","endorsement_count":0,"insights":["Passed LinkedIn Skill Assessment"],"endorsement_id":1632808883,"endorsed":false},{"name":"Reality Capture","endorsement_count":1,"insights":["Director of Acciona's Advanced and Digital Innovation Hub at ACCIONA","New Business Line based on Reality Capture Technology"],"endorsement_id":10,"endorsed":false},{"name":"Amazon Web Services (AWS)","endorsement_count":0,"insights":[],"endorsement_id":170460746,"endorsed":false},{"name":"Generative AI","endorsement_count":0,"insights":["Ethics in the Age of Generative AI"],"endorsement_id":1714743094,"endorsed":false},{"name":"Computer Ethics","endorsement_count":0,"insights":["Ethics in the Age of Generative AI"],"endorsement_id":1714743093,"endorsed":false},{"name":"Grasshopper","endorsement_count":0,"insights":["Learning Grasshopper"],"endorsement_id":1714743095,"endorsed":false},{"name":"Generative Design","endorsement_count":0,"insights":["Fusion 360: Generative Design"],"endorsement_id":1714743097,"endorsed":false},{"name":"Autodesk Fusion 360","endorsement_count":0,"insights":["Fusion 360: Generative Design"],"endorsement_id":1714743096,"endorsed":false},{"name":"Building Information Modeling (BIM)","endorsement_count":0,"insights":["BIM Foundations"],"endorsement_id":1714743098,"endorsed":false},{"name":"Microsoft Azure","endorsement_count":0,"insights":["Building in Azure AI Studio"],"endorsement_id":1714743100,"endorsed":false},{"name":"Artificial Intelligence (AI)","endorsement_count":0,"insights":["Building in Azure AI Studio","Comisión de Inteligencia Artificial"],"endorsement_id":1714743099,"endorsed":false}],"languages":[{"name":"Español","proficiency":"Native or bilingual proficiency"},{"name":"Inglés","proficiency":"Full professional proficiency"}],"certifications":[{"name":"Comisión de Inteligencia Artificial","organization":"Universidad Nebrija","url":"https://1drv.ms/b/c/18824368c54171a9/EaBXjxUSa2xEqnOyAxq1vEwBCk1RPTyYs151jbtkbm6MtA?e=GTqq6J"},{"name":"Business of Data Centers (es-ES)","organization":"DCD>Academy","url":"https://www.credly.com/badges/b01df3fc-e46e-4e41-a65d-558cc8d422f7/linked_in_profile"},{"name":"Building in Azure AI Studio","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/8ca7218bc283c95652ecc37ed6457b8a54ad6274ea5e79361c8b1cccf9bf5431"},{"name":"Generative AI for everyone","organization":"Coursera","url":"https://www.coursera.org/account/accomplishments/certificate/Y4BRSZQHFPAT?utm_source=android&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course"},{"name":"BIM Foundations","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/9f0251007942f8a19959835900d5093637890abf08b28e4c3cb19de58a0b8aac"},{"name":"Fusion 360: Generative Design","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/e8e940d7167b4088c80c2bf2a32eb415e255d05b84cffa04d42c45a3a1ef5df3"},{"name":"Generative Design Foundations","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/d0457d4dc1ee51fa262db7ecf92a1314a340c145777594dbadb92f689bdad674"},{"name":"Learning Grasshopper","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/ba7dc2680940a8723f72273287885a7608dd8e98faf8a1c3d876abfa18ea7230"},{"name":"Rhino 7 Essential Training","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/1b58eed5307b681293942ac8a079480a1fa2af571eeb2545d6e529702f3672bd"},{"name":"Ethics in the Age of Generative AI","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/e08e37fa3e5bb58ea5d7c0345f586c6e033b06db10fca9867adbe595834a9036"},{"name":"Generative AI: The Evolution of Thoughtful Online Search","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/2fd227b428b346ffa40d2195b01098f1c48c243a267efb46c56a579e3d95f55e"},{"name":"LangChain: Chat with Your Data","organization":"DeepLearning.AI","url":"www.deeplearning.com"},{"name":"Streamlining Your Work with Microsoft Bing Chat","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/d338f7b0653e8cf0f508498e1b13db9dad69452147cf91ad1dbf650121d4b827"},{"name":"What Is Generative AI?","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/8ea8ae2c57de4f2bb7433b5e6eb83c3666028ae6ab48637f0af7f04d825b2c0c"},{"name":"LangChain for LLM Application Development","organization":"DeepLearning.AI","url":"www.deeplearning.ai"},{"name":"ChatGPT Prompt Engineering for Developers","organization":"DeepLearning.AI","url":"www.deeplearning.ai"},{"name":"Designing Growth Strategies","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/9233fa335fc823b2d599d0fd0e5ced6a8456c667f6a2215a8b29ff37274a28ef"},{"name":"Foundations of Raising Capital","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/e8dc065c388314cfa24b924219cacb8f7e824116b171c807dbacacbd822f4c57"},{"name":"Superhuman Innovation (Blinkist Summary)","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/cbd9c480a192a0f636b09ae3f05aa5f9c524473e0d3cce86e283937d2c674592"},{"name":"Introduction to AWS for Non-Engineers: 2 Security","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/d29141e0858eda3336096a87284662929ace16dc07e736c9fa94d0b914495041"},{"name":"Introduction to AWS for Non-Engineers: 3 Core Services","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/7be311a96004a56900c7bbf2e40808ec612a6cdcbf15dcf3bea7ce071519e30d"},{"name":"Introduction to AWS for Non-Engineers: 4 Billing and Pricing","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/3f7eac09654261559fb654377f5b809aed557fac806babe034f8a1bf297e7f6e"},{"name":"Introduction to AWS for Non-Engineers: 1 Cloud Concepts","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/e5bad92fe569bbe13ab4cc899d3a3e708de021bf0ed3acc26fbd6cf5eca822e7"},{"name":"What Business Leaders Need to Know about Web3 (+ Metaverse)","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/e9b2b48fb424d11f7cdf5a28de4500339593e2bdd4385efc35c6d7165ea1b708"},{"name":"What Is the Metaverse?","organization":"LinkedIn","url":"https://www.linkedin.com/learning/certificates/175e2cad406f116d575892f51688a3d237210426397b3e5df4090b03a0ee3f4c"},{"name":"Digital Product Management: Modern Fundamentals","organization":"University of Virginia Darden School of Business","url":"http://coursera.org/verify/PL7VWTPCYKB7"},{"name":"Innovation Through Design: Think, Make, Break, Repeat","organization":"Coursera","url":"https://www.coursera.org/account/accomplishments/certificate/DEXWQQQETNBL"},{"name":"Curso de IoT - UP","organization":"Prosegur","url":"https://prosegurlearning.csod.com/LMS/Eval/CustomCertificate.aspx?qs=%5e%5e%5e3XZHkOEnMczQq%2fxEvbsinHKs4PX%2frnArDr9IlqjRqErWE95q91kk%2bIfs0PUFJYMlt%2fwEkABAn4UCnyd53BzF5BG%2fIatT29P579P%2fwpTDCoH8e%2flONplxhlLdodlsH9NH"},{"name":"Google Cloud Platform Fundamentals: Core Infrastructure","organization":"Coursera","url":"https://www.coursera.org/account/accomplishments/verify/J6L3LY22PPMM"},{"name":" Getting Started with AI on Jetson Nano ","organization":"NVIDIA","url":"https://courses.nvidia.com/courses/course-v1:DLI+C-RX-02+V1/about"},{"name":"AI For Everyone","organization":"Coursera","url":"https://www.coursera.org/account/accomplishments/verify/GCJXZ9WBPZRN"},{"name":"Curso de Python desde Cero","organization":"UniPython","url":"https://unipython.com/curso-python-nivel-principiante/"},{"name":"Electrónica Digital para Makers con FPGAs libres","organization":"Patrimonio Tecnologico de la Humanidad. Obijuan","url":"https://github.com/Obijuan/digital-electronics-with-open-FPGAs-tutorial/wiki"},{"name":"Curso de Programacion de Arduino desde cero","organization":"Programarfacil.com","url":"https://campus.programarfacil.com/"},{"name":"Curso de Programacion del ESP8266","organization":"Programarfacil.com","url":"https://campus.programarfacil.com/"}],"summary":"PhD in Civil Engineering specialized in Digital Innovation, Technology, Digital Transformation and Product Development. With great experience in the development of New Lines of Business based on Advanced Digital Technology such as Artificial Intelligence, Internet of Things, Cloud, 3D Printing and Mixed/Virtual/Augmented Reality (Metaverse). \n\n🔹𝙈𝙮 𝙥𝙧𝙤𝙛𝙚𝙨𝙨𝙞𝙤𝙣𝙖𝙡 𝙚𝙭𝙥𝙚𝙧𝙞𝙚𝙣𝙘𝙚 𝙝𝙖𝙨 𝙗𝙚𝙚𝙣 𝙖𝙡𝙬𝙖𝙮𝙨 𝙡𝙞𝙣𝙠𝙚𝙙 𝙩𝙤 𝙏𝙚𝙘𝙝𝙣𝙤𝙡𝙤𝙜𝙮 𝙖𝙣𝙙 𝙄𝙣𝙣𝙤𝙫𝙖𝙩𝙞𝙤𝙣.\n\nI have worked in the Private Security sector at Prosegur as Chief Innovation Officer (CIO) and Director of Product Development. I have developed New Digital Products with our own IP based on Cloud technologies, IoT, Data Science, AI and Electronic Security Systems. I have established strategic alliances to co-innovate with technology companies such as Microsoft, Axis or Bosch. \n\nI have experience in Construction, Renewable Energy and Water sectors at Acciona, one of the most important Spanish companies in Renewable Energy, Water and Construction. I developed Digital Innovation Projects: 3D Printing, Mixed Reality, AI and Robotics, Data Science (Big Data & Analytics), IoT and Blockchain.\n\n🔹𝙍+𝘿, 𝙋𝙖𝙩𝙚𝙣𝙩𝙨 𝙖𝙣𝙙 𝙎𝙘𝙞𝙚𝙣𝙩𝙞𝙛𝙞𝙘 𝙋𝙪𝙗𝙡𝙞𝙘𝙖𝙩𝙞𝙤𝙣𝙨\n\nDirector of Innovation at the Acciona Infraestructuras Technology Centre. I wrote 8 scientific publications and published 7 patents as an inventor. \n\n🔹𝘽𝙪𝙨𝙞𝙣𝙚𝙨𝙨 𝙀𝙭𝙥𝙚𝙧𝙞𝙚𝙣𝙘𝙚\n\nExtensive experience in the construction sector as Site Manager in large infrastructure projects of more than € 200M in Dragados (ACS).\n\n🔹𝙈𝙮 𝘼𝙘𝙝𝙞𝙚𝙫𝙚𝙢𝙚𝙣𝙩𝙨\n\nPROSEGUR\n\nNew digital products \n-GenzAI: AI and IoT Platform \n-G-Safety: Covid Free Workspaces\n-Business Continuity: IoT monitoring \n-G-Home: AI-based smart alarm \n-G-CRA: Automation of alarm reception \n\nOpen Innovation\n-#ComeIn: Open Innovation \n-The Best Rocket: Ideation \n-The Explorer Rocket: Intrapreneurship \n-Innovation Days\n\nInnovation Management\n-EIB: Loan from the European Investment Bank \n-Partnership with Microsoft\n\nDigital Innovation\n-Yellow: Robotic dog for patrols \n-Digital Twins: Prosegur Metaverse \n\nACCIONA\n\nNew lines of digital business \n-Large scale 3D printing(Dubai) \n-Reality Capture: Digital Twins \n\nDigital Innovation\n-Robotics: 40 tons Autonomous truck \n-Smart Home: IoT for Real State \n-Blockchain: Compliance commitment \n-IN(3D)USTRY: 3d Printing \n-Inmersive Techs: Mixed Reality VR & AR \n-Renewatt: Renewables for WWTPs","volunteering_experience":[{"company":"Digital Diabetes (www.digital-diabetes.com)","cause":"Health","description":"¡Hola! Mi nombre es Daniel García y soy un padre de una niña maravillosa, llamada Lucía que debutó a los 10 años con diabetes 1. Estos meses desde que ha debutado ha sido una continua búsqueda de medidas que pudieran hacerle la vida más fácil. Muchas de esas medidas han venido de la mano de la Tecnología y por ello, como creo que el mundo avanza cuando compartes, he decidido crear el Blog Digital Diabetes (www.digital-diabetes.com) para compartir con todos vosotros los descubrimientos y logros que he ido alcanzando para hacer la vida más fácil de mi hija Lucía gracias a la Tecnología.","role":"Founder🔹Tecnología Digital aplicada a la Salud","start":"7/1/2022","end":null},{"company":"Colegio de Ingenieros de Caminos, Canales y Puertos","cause":"Science and Technology","description":"Damos soporte y consejo a compañeros Ingenieros de Caminos que quieran explorar otras salidas profesionales de su carrera, como es mi caso, en el mundo de la Innovacion","role":"Experto en Red de Ayuda (EredA) de Caminos Madrid","start":"10/1/2020","end":null},{"company":"ACCIONA","cause":"Environment","description":"ACCIONA held its corporate volunteer program, in which employees became teachers for a day, leading workshops on sustainability for children aged 6 to 10. This year, 600 employees took part, teaching over 13,000 schoolchildren.\n\nThe ACCIONA volunteers visited over 100 schools and, for a few hours, told the students about the importance of sustainable development. In this fifth edition, the activities and games focused on the UN Sustainable Development Goals, particularly the four with which our employees are most familiar because of their work: efficient water management, renewable energy, resilient infrastructure, and combating climate change.\n\nThe main goal of Volunteer Day is to involve children with improving the environment through small everyday gestures and to raise their awareness about the active role they can play in achieving sustainable development. It also imbues the values of sustainability in our employees\n","role":"Volunteer","start":"6/1/2011","end":"9/1/2019"}],"projects":[{"name":"World's first Large Scale 3D Printed Pedestrian Bridge. Alcobendas (Madrid, Spain)","description":"The city of Alcobendas in Spain has just unveiled the first ever 3D printed pedestrian bridge made entirely of concrete. Measuring 12 metres in length and 1.75 metres in width, the landmark structure represents a milestone in civil engineering, an industry which up until now has been reluctant to use additive manufacturing. The bridge was inaugurated earlier today by Alcobendas city officials in Castilla La Mancha Park.\nMade up of 8 separate pieces that fit together, the architectural design of the walkway was implemented by the Institute of Advanced Architecture of Catalonia, and later constructed by ACCIONA, a Spanish civil engineering company. ACCIONA can now claim the renowned status of the first construction company in the world to execute a large scale civil engineering project using 3D printing.\nThe stunning walkway was designed through techniques of organic and biomimetic architecture, according to an official statement from the Alcobendas city council, and resembles naturally occurring forms found in the environment.\n","skills":["3D Printing"],"start":"12/1/2016","end":null},{"name":"Concrete Large Scale 3D Printing Technology","description":"ACCIONA is pushing hard innovation and is developing new technology to implement Concrete Large Scale 3D Printing technology in several markets, as Singular Architectural Constructions, Preservation of Historical & Cultural Heritage and Customized Urban Areas. ","skills":["3D Printing"],"start":"6/1/2016","end":null},{"name":"New Business Line based on Reality Capture Technology","description":"Reality Capture Technology offers highly accurate 3D virtual reality content for the industrial, real estate, tourism and facility management sectors. Its ability to capture existing conditions and store them in a digital format allows to create a virtual immersive visit of a space, take real measurements and identify alternatives to optimize operating costs and calculate reforms and maintenance remotely, quickly and more reliably ","skills":["Virtual Reality","Reality Capture"],"start":"2/1/2016","end":null},{"name":"LIFE+ RENEWATT: Renewable Energy integration and Energy Efficient Systems to reduce energy consumption in Waste Water Treatment Plants (WWTP)","description":"RENEWATT Project has the final objective of reducing energy consuption throug different actions in WWTP, focusing the optimization in the biological reactor aireation process and introducing renewable energy as input source ","skills":["Renewable Energy","Energías renovables"],"start":"1/1/2015","end":null},{"name":"Building of caisson-type mooring dolphins using fiber reinforced polymeric materials at El Rosario Port in Fuerteventura","description":"ACCIONA has developed and patented a construction system which minimizes the environmental impact and reduces the resources needed in the building of port infrastructure. Its composite material caissons are made from glass fiber combined with polymeric resins and replace conventionally-made concrete forms. The construction system has been implemented as a pioneering solution in works to extend mooring points on cruise ship wharfs at El Rosario Port in Fuerteventura, Canary Islands, developed by Las Palmas Port Authority: engineering, construction and location. ACCIONA’s solution can, by its nature, be applied to the performance and extension of any such quays, seawalls and mooring points in ports. It has significant environmental and operational advantages with respect to the concrete caissons used up to now. ","skills":[],"start":"1/1/2014","end":null},{"name":"Construction of Cuenca Carbon Fiber Stress-Ribbon Pedestrian Bridge","description":"The Cuenca Carbon Fiber Stress-Ribbon Footbridge, across the Jucar River, is located in Cuenca, Spain. It is owned by Cuenca City and it was designed and constructed by ACCIONA. This bridge was completed and opened to the public in 2011. The Cuenca Stress-Ribbon Footbridge is a stress ribbon bridge with three spans (72 m × 3 m). The bridge width is 3 m and the total length is 216 m, which makes it become the longest stressed ribbon bridge in Spain and the eighth in the world. This bridge has two concrete piers, whose heights are 21.6 m and 16.98 m, respectively. The bridge decks are steel reinforced concrete slabs with the dimension of 3 m × 3.5 m and the stress ribbon supporting them consists of 16 CFRP cables. These CFRP cables were divided into four groups in transverse direction and fixed under the concrete slabs. Longitudinally, the stress ribbon was divided into five sections, and each section is a CFRP cable with a length of 43.7 m and a diameter of 41 mm. These CFRP cables were connected by an “8” shaped pin connection with each other. ","skills":[],"start":"6/1/2011","end":null},{"name":"Construction of Almuñecar Carbon Fiber Pedestrian Bridge (Madrid)","description":"Almuñécar footbridge was built in Madrid in 2010 to substitute an old reinforced concrete footbridge crossing the Manzanares river. It has a span of 44 m, a width of 3.5 m and it is formed by a single FRP girder of 230 kN with a linear piece-wise axis and an inverted “Ω” cross section. The girder, completely made of carbon fibre, presents a series of longitudinal and transversal stiffeners to be able to accomplish with the challenging architectural requirements: a girder with a depth not greater than 1.20 m and with its inner surface completely covered with prefabricated reinforced concrete slabs.","skills":[],"start":"12/1/2010","end":null},{"name":"Advanced concrete technologies implementation in shell footbridges over Madrid river in MRio Project","description":"Two shell footbridges for the MRio (Madrid river) has been built by ACCIONA Infraestructuras. These footbriges are characterized by a double curvature cover with 49.08 m span, and 43.46 m platform span. In this site, the ACCIONA R&D Department has implemented with great success two technologies of Advanced Materials: Application of self-compacting concrete in extreme conditions of temperature and quick formwork removal structures applying the concrete maturity control technology, both technologies developed in the ACCIONA R&D Technological Center in Madrid.","skills":[],"start":"11/1/2010","end":null},{"name":"Development and experimentation of the MLG system (Light Rail Transit of Granada): First spanish slab track system embedded in concrete performed with a mixture of rubber from scrap tires and resins with polymeric matrix","description":"During the construction of the project U.T.E Campus de la Salud Armilla (Granada) ACCIONA has developed and applied successfully in a test pilot of eight hundred meters of simple track a new slab track railway system using rubber from scrap tires and resins with polymeric matrix, which it allows to reduce the high environmental impact caused by the landfills of used tires, distinguishing a high level of airborne noise, a key parameter in an urban railway system, due to presence of closed buildings. ","skills":[],"start":"12/1/2009","end":null},{"name":"Recycling of slurry type material from the excavation of retaining walls in the enlargement of the airfield at Malaga Airport","description":"During the construction of the project “Ampliación del Campo de Vuelos del Aeropuerto de Málaga”, ACCIONA has developed and applied successfully a technology that allows to recycle the mud produced during the excavation works for making concrete diaphragm walls. Applying this technology we reach different goals: we can recycle the mud produced and use it to build the embankment of the landing strip of the airport, avoiding the strong environmental problems that produces mud dumps, reduce the traffic of soil transport vehicles around the site and also we decrease the emission of CO2 gases to the atmosphere because of the reduction of travels between the site and the mud dum.","skills":[],"start":"7/1/2009","end":null},{"name":"Construction of two FRP bridges in M-111 Highway (Madrid)","description":"These two bridges are located on the outskirts of Madrid along the M111 freeway and were built in 2007. These two bridges are identical, made up of three simple supported 14m span of 4 FRP girders each. ","skills":[],"start":"10/1/2007","end":null},{"name":"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto (Madrid)","description":"- From 2005 to 2007: Site Work General Manager of \"Extension Works of 11th Metro Line from Pan Bendito to Carabanchel Alto (Madrid)\" Project for MINTRA, company that belongs to COMUNIDAD DE MADRID. Budget: 103.279.732 €.","skills":[],"start":"1/1/2007","end":null},{"name":"Development of an innovative lime treatment applied to the materials bored with a Tunneling Boring Machine (TBM) used in enlargement of Subway Line 11 Project (Madrid)","description":"This project, submitted in the context of the policy of respect towards the environment shown throughout the duration of the Expansion Works of the Madrid Metro Transit Network, refers to the treatment applied to the materials extracted during the excavation works done by the TBM \"Excavolina\" in Line 11 of the Madrid Metro, carried out by MINTRA (Madrid Infraestructura del Transporte) in the Autonomous Community of Madrid with Dragados acting as Contracton In arder to be able to work under pressure, a prerequisite for all works done in urban environments such as the city of Madrid, it is essential to turn the materials produced at the front end at such high rates that the fill materials turras practically into sludge (material in a liquid state). Transporting tisis material in trucks through urban thoroughfares causes cleaning problems. The real issue, however, arises when taking these materials to the dumpsite, since their fluid nature malees their disposal and drying up difficult, needing large dumping surfaces to alternate load dumping while the drying process takes place.\nThe study carried out verifies that said material, when containing slightly to somewhat clayish sands having low-medium plasticity, can be treated with dehydrated lime (quicklime) in dosages of 1-2% by weight in the same working pit, producing in a few hours a material that is completely different and can be used as embankment fill in other infrastructures, having an acceptable quality that is equivalent to tolerable I suitable soils.\nThe results obtained are not good if the raw material is highly plasticity grey clay (locally known as \"peñuela\").","skills":[],"start":"1/1/2006","end":null},{"name":"Extension of Airstrip of Torrejon Air Military Base and other complementary works","description":"- From 2004 to 2005: Site Work General Manager of \"Extension of Airstrip of Torrejon Air Military Base and other complementary works\" Project for AENA. Budget: 61.498.750 €.","skills":[],"start":"1/1/2005","end":null},{"name":"Construction of New Torrejon Road Link with A-2 Highway","description":"- 2003: Site Work General Manager of \"Construction of New Torrejon Road Link with A-2 Highway\" Project for HENARSA (Autopistas del Henares S.A.) and MINISTERIO DE FOMENTO, during Radial 2 Project. Budget: 5.241.000 €.","skills":[],"start":"1/1/2003","end":null},{"name":"Radial 2 Highway. Madrid M-50 - Guadalajara","description":"- From 2001 to 2003: Site Work Production Manager. Bridges Area during the construction of Radial 2 Highway for HENARSA (Autopistas del Henares S.A.) and MINISTERIO DE FOMENTO. Section 2 Madrid M-50 - Guadalajara. When the project finished I became Site Work General Manager of UTE Radial 2 Project. Budget: 246.452.365 €.","skills":[],"start":"1/1/2003","end":null},{"name":"Underground Hydroelectrical Power Plant of Millares II","description":"- 2000: Site Work Technical Manager at \"Underground Hydroelectrical Power Plant of Millares II\" Project for IBERDROLA. Budget: 15.246.589 €.","skills":[],"start":"1/1/2000","end":null},{"name":"Acceso Sur a Terra Mítica Project from A-7 Highway to Terra Mítica Amusement Park and \"Red Viaria Peatonal de Terra Mítica","description":"- 1999: Site Work Production Manager at \"Acceso Sur a Terra Mítica, Enlace\" Project from A-7 Highway to Terra Mítica Amusement Park and \"Red Viaria Peatonal de Terra Mítica\" Project for SPTA (Sociedad Parque Temático Alicante).","skills":[],"start":"11/1/1999","end":null},{"name":"Acciona Smart Home. Viviendas Inteligentes Acciona Inmobiliaria","description":"ACCIONA da un paso más en la innovación con sus Smarthomes.\nComodidad, sencillez y ecoeficiencia para que disfrutes de tu hogar con los que más quieres. ","skills":[],"start":"1/1/2018","end":"12/1/2019"},{"name":"First 5G Music Festival. 4K 360º Video streaming trasmitted to inmersive headsets in Cruilla Music Festival (Barcelona)","description":"Cruïlla has become one of the first worldwide test banks of 5G technology applied to the entertainment and live music industry thanks to Mobile World Capital Barcelona, ​​Cellnex Telecom, ACCIONA, MASMOVIL and Qwilt, in the framework of the 5G Barcelona initiative. The festival took place between 3 and 6 July at the Parc del Fòrum in Barcelona.\n\nThanks to this initiative, attendees to the tenth edition of the festival have been able to experience what it feels like to enjoy live a concert from the stage, alongside their favorite artists, through an immersive 360º virtual reality experience.\n\nLinks: \n- La Razón: Realidad Virtual en concierto. https://www.larazon.es/sociedad/medio-ambiente/realidad-virtual-en-concierto-JG24221679\n- MWC: Cruïlla Barcelona presume de ser el primer festival 5G de Europa. https://www.mobileworldlive.com/spanish/cruilla-barcelona-presume-de-ser-el-primer-festival-5g-de-europa/\n- El Confidencial: Cuatro días en el primer festival 5G: así es ver a Love of Lesbian en realidad virtual. https://www.elconfidencial.com/tecnologia/2019-07-15/festival-cruilla-barcelona-5g-realidad-virtual-bra_2111895/\n- Timeout: Així és la tecnologia 5G que et porta dalt de l'escenari del Cruïlla. https://www.timeout.cat/barcelona/ca/noticies/aixi-es-la-tecnologia-5g-que-et-porta-dalt-de-lescenari-del-cruilla-070619","skills":["Virtual Reality"],"start":"1/1/2019","end":"7/1/2019"},{"name":"Virtual Reality Event in Acciona Shareholders Meeting. 360º Video shown on 350 Oculus Go VR glasses","description":"On April of 2019, we received a commitment from our Board to use the most innovative Virtual Reality technology in Acciona 2019 Shareholders Annual Meeting.\nThe first challenge was to be able to record a 360º video in more than five countries all around the world of most important Acciona projects. The second challenge was to install a launcher system of 360º video simultaneously during Acciona Shareholders meeting in 350 Oculus Go Virtual Reality glasses.\nThe result was amazing as we achieve the goal due to the excellent collaboration between our partners, Virtual Voyagers, and our Acciona colleagues of IT and Acciona Producciones y Diseño.\n","skills":["Virtual Reality"],"start":"4/1/2019","end":"5/1/2019"},{"name":" Spain’s National Archaeological Museum and Acciona Presented The First Romanesque Arch Printed in 3D","description":"Spain's National Archaeological Museum (MAN) and ACCIONA presented today in Madrid the first architectural item of cultural heritage to be reproduced full-scale by means of 3D printing in concrete. It is a replica of the San Pedro de las Dueñas Arch, the original of which is part of the Museum's collection. As of today, the replica is located in the garden at the National Archaeological Museum.\nThis technological milestone is the result of a collaboration agreement between the National Archaeological Museum and ACCIONA with the aim of applying cutting-edge techniques that contribute to raising awareness and preserving Spain's historical heritage.","skills":["Reality Capture"],"start":"4/1/2018","end":"4/1/2019"},{"name":"First Micro Concrete Large Scale 3D Printed Pedestrian Bridge in Alcobendas (Madrid, Spain)","description":"The city of Alcobendas in Spain has just unveiled the first ever 3D printed pedestrian bridge made of concrete. Measuring 12 metres in length and 1.75 metres in width, the landmark structure represents a milestone in civil engineering, an industry which up until now has been reluctant to use additive manufacturing. The bridge was inaugurated on December of 2016 by Alcobendas city officials in Castilla La Mancha Park.\nMade up of 8 separate pieces that fit together, the architectural design of the walkway was implemented by the Institute of Advanced Architecture of Catalonia, and later constructed by Acciona, a Spanish civil engineering company. Acciona can now claim the renowned status of the first construction company in the world to execute a large scale civil engineering project using 3D printing.\nThe stunning walkway was designed through techniques of organic and biomimetic architecture, according to an official statement from the Alcobendas city council, and resembles naturally occurring forms found in the environment.","skills":[],"start":"8/1/2015","end":"12/1/2016"}],"recommendations":{"received":[{"caption":"October 31, 2022, Darren worked with José Daniel but on different teams","text":"I had the pleasure of meeting Daniel during my time as Acciona Infrastructure's Country Director in Canada.  At the time Daniel managed the Advanced and Digital Innovation Hub, Acciona's centre of excellence for technologies to advance the practice of infrastructure design and delivery.  Daniel supported us on several projects including building a digital twin for a proposed waste water treatment plant, using reality capture to create models of existing facilities, and conducting full scale of testing autonomous heavy equipment for possible deployment a large earthworks project.  Daniel was a pleasure to work with and displayed a deep grasp of both the practical and potential future applications for digital technologies in design and construction.  I would not hesitate to recommend him to anyone seeking to engage him as an expert in this area.","actor":{"first_name":"Darren","last_name":"Sokoloski","provider_id":"ACoAAAAyXgcBHn9LDFIQdPjaPqPSokzXeAjRaaY","public_identifier":"darrensokoloski","headline":"Vice President, Growth Lead - West","public_profile_url":"https://www.linkedin.com/in/darrensokoloski","profile_picture_url":"https://media.licdn.com/dms/image/v2/D5603AQFKpTXreYPOMg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1727923178672?e=1759968000&v=beta&t=MhLUVOewSLIJLvQ3l3Bi3G3sGHSMsYJl_IRpaVQM4mY"}},{"caption":"October 13, 2022, Javier managed José Daniel directly","text":"José Daniel has led the creation of the corporate innovation program at Prosegur by defining a common innovation methodology across business lines, setting up an open innovation program, launching internal intrapreneurship projects and leading the development of some of our innovative products. Hands down, among the best I've known in corporate innovation.","actor":{"first_name":"Javier","last_name":"Cabrerizo","provider_id":"ACoAAAAEWGIBtxHWT7q3DShruGVlhN8Ithf9Wmo","public_identifier":"javiercabrerizo","headline":"Taking some time off","public_profile_url":"https://www.linkedin.com/in/javiercabrerizo","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4E03AQE98RLNBe_byA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516191569692?e=1759968000&v=beta&t=SZUN6m70V788xHczQSwqRIZBq7-qbTXOs-kUg1WzL8s"}},{"caption":"October 9, 2022, Nera reported directly to José Daniel","text":"Daniel combina una gran visión estratégica y profundos conocimientos técnicos, es un referente en innovación, apasionado de la tecnología, y busca su aporte de valor en aplicaciones para los negocios. Con él aprendes cada día, y cada día supone un reto ilusionante. \nDaniel es brillante y hace brillar a la gente que tiene alrededor.","actor":{"first_name":"Nera","last_name":"González Romero","provider_id":"ACoAAAVgD4EBG7aIkr5XSBl7CgQl8RQ0pJVjw58","public_identifier":"nera-gonzalez-romero","headline":"Development and Innovation Director, Prosegur AVOS Tech | Board Member | AI and Digital Transformation Leader | Technovation Regional Ambassador | WiDS Ambassador","public_profile_url":"https://www.linkedin.com/in/nera-gonzalez-romero","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQGjzdX22QV6rw/profile-displayphoto-shrink_100_100/B4DZQoMS1FGgAU-/0/1735841099583?e=1759968000&v=beta&t=OoMIyqBDkQ-30nm9rFClzJ9yNHfE3q0_nUQrSJ2-DVM"}},{"caption":"October 8, 2022, Felix worked with José Daniel but they were at different companies","text":"Daniel es una persona inspiradora, no solo por los grandes proyectos en los que ha participado, ni por los enormes retos que ha iniciado y llevado a buen termino, sino también, y sobre todo lo demás, por la manera que tiene de ilusionar a las personas. Fue toda una suerte ver sus progresos innovadores en Acciona y, más aún, a ver podido co-innovar junto con su equipo en su etapa en Prosegur.\nDaniel tiene las ideas claras y es capaz de analizar y entender la situación y el contexto para alcanzar los objetivos de la manera más diligente y satisfactoria.\nSi alguna vez tienes las suerte de coincidir, charla con él, te recibirá con una sonrisa.","actor":{"first_name":"Felix","last_name":"Tejada","provider_id":"ACoAAAzFmQgBbMZ2OUislkVczMJ8qvDEb6YaJ5o","public_identifier":"felix-tejada-fernandez","headline":"Director Desarrollo de Negocio TYPSA Digital Solutions","public_profile_url":"https://www.linkedin.com/in/felix-tejada-fernandez","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQE0HHuKLob97g/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1708955202273?e=1759968000&v=beta&t=Er613XKj-M0tkC1zeGXQBOvc2tpoqOSP1qfmjr7lzf0"}},{"caption":"October 7, 2022, Diana reported directly to José Daniel","text":"Daniel es uno de los pocos profesionales que conozco capaces de sorprender a cualquiera desde el primer minuto.  Es una persona  con ganas infinitas de continuar desarrollándose y aprendiendo, para Daniel no existen los imposibles, siempre está deseoso de continuar aprendiendo y de crear nuevas oportunidades. \n\nTuve la suerte de trabajar durante mucho tiempo con Daniel, y en ese tiempo creamos, inventamos y nos reinventamos. Sin duda estoy muy agradecida por todo lo que he evolucionado como profesional gracias al aprendizaje continuo que he tenido a su lado.","actor":{"first_name":"Diana","last_name":"Martin Romero","provider_id":"ACoAABljhnUB5LTm16LZ0snFYuz_YgmUwcEwU6Q","public_identifier":"diana-martin-romero","headline":"Innovation Manager","public_profile_url":"https://www.linkedin.com/in/diana-martin-romero","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQH-TcEffgI5vg/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1569530678212?e=1759968000&v=beta&t=EjTtn7nIqc4gcRBGBbdO1zSvIsXEJr2qD9dhpT5H_yI"}},{"caption":"October 7, 2022, Fernando worked with José Daniel but on different teams","text":"José Daniel es una persona con grandes conocimientos tecnológicos y de innovación. Es un gran referente en estos ámbitos y tiene una inmejorable visión del mercado, la innovación y la transformación digital.\nEs una persona que trasmite entusiasmo a su equipo.  \nEs un valor seguro para cualquier organización que apueste por la transformación digital y la innovación.\nY lo más importante es un excelente profesional y mejor persona.","actor":{"first_name":"Fernando","last_name":"Cisneros Villa","provider_id":"ACoAAAOrZ2MBQMH4qUiJ7nWtG8gJdcNapIk-KVM","public_identifier":"fernandocisnerosvilla","headline":"Director Corporativo Digitalización, Automatización y Robótica en Prosegur","public_profile_url":"https://www.linkedin.com/in/fernandocisnerosvilla","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQFfro06SE_3tw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1672967014177?e=1759968000&v=beta&t=j2qZAj4gvsPUdpLlJklMlbLA2my-dxeSAejHsnbcar8"}},{"caption":"April 3, 2022, Emilio was senior to José Daniel but didn't manage José Daniel directly","text":"Daniel es único uniendo la innovación y el negocio, llegando a la implantación de lo que innova. No se queda en la teoría. \nAdemás, siempre está intentando buscar nuevas soluciones. \nY sin dejar, que es una gran persona","actor":{"first_name":"Emilio","last_name":"Arce Alonso","provider_id":"ACoAAASNWfIBlp2YnhxdKun3Vo4sDPzi4P3Jnhk","public_identifier":"emilio-arce-alonso","headline":"Director General Servicios Operativos  en Quirónsalud","public_profile_url":"https://www.linkedin.com/in/emilio-arce-alonso","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQGsArSOh7aHmA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516947150887?e=1759968000&v=beta&t=W7gPzlWGDCmlsxWsWuLdCNFJBqaIEurvmwP2iIIUQTw"}},{"caption":"March 29, 2022, Francisco Javier worked with José Daniel on the same team","text":"Destacaría de Daniel su capacidad de trabajo que es inagotable, la pasión que pone en todos los proyectos, su capacidad de liderar a los equipos y de sacar lo mejor de cada uno de sus miembros, y sobre todo su calidad como persona.\nEs un experto en transformar negocios y crear nuevas oportunidades. esta siempre dispuesto a ayudar a cualquiera, gran comunicador, transmitiendo seguridad a los equipos. Como resumen diría que cualquier empresa que tenga la suerte de contar con su colaboración puede considerarse afortunada, al igual que sus compañeros.","actor":{"first_name":"Francisco Javier","last_name":"Cerrudo Martín","provider_id":"ACoAAAPTLu4BMe6KyFBQP2q7dl3rosv-46R0PEU","public_identifier":"javiercerrudo","headline":"Technology and Innovation Manager. Master Technical Leader in Operational Efficiency in Facility Management","public_profile_url":"https://www.linkedin.com/in/javiercerrudo","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQFmFz_0nqYqag/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516812501690?e=1759968000&v=beta&t=4S5vO8M5sPVjwN72lBgMsTSZDqQA2Tr2npWshoppz_Q"}}],"given":[{"caption":"December 14, 2023, José Daniel was Olivier’s client","text":"I had the pleasure of working with Olivier Lepinoy during his time at Autodesk, and I highly recommend him for his exceptional organizational skills, strong leadership in technology, and innovative mindset.\n\nDuring my experience working with Olivier Lepinoy at Autodesk, I had the opportunity to witness and appreciate his outstanding organizational ability. Olivier demonstrated exceptional skills in structuring and managing initiatives efficiently, ensuring that deadlines and set objectives were met. His meticulous approach and attention to detail were key in ensuring the quality and success of the projects he was involved in.\n\nIn addition to his remarkable organizational skills, Olivier also stood out for his leadership in technology. He was able to inspire and motivate other companies, fostering a collaborative and creative environment. His deep knowledge of the latest technological trends allowed him to guide other companies in implementing innovative and efficient solutions. Olivier always stayed updated on the latest emerging tools and technologies, enabling him to make informed and strategic decisions to drive project success.\n\nOne of Olivier's most admirable qualities is his capacity for innovation. He was always willing to think outside the box and explore new ideas and approaches. His open-mindedness and willingness to take risks allowed him to find creative solutions to complex challenges. Olivier was a true driver of change inspiring organizations, encouraging them to constantly seek new ways to improve existing processes and achieve exceptional results.\n\nIn summary, Olivier Lepinoy is a highly talented and dedicated professional whose organizational skills, leadership in technology, and capacity for innovation are truly impressive.","actor":{"first_name":"Olivier","last_name":"LEPINOY","provider_id":"ACoAAAB0B1cBVhSKo7npSXQfNuI7JD_YbzHz_Fg","public_identifier":"olepinoy","headline":"Strategy, Innovation & Business Development Leader | Trusted Partner to Global Executives | Champion of Ethical Growth, Positive Impact & Long-Term Value | ex-VINCI, Accenture, IBM, and Autodesk","public_profile_url":"https://www.linkedin.com/in/olepinoy","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4E03AQHGZLMT53Ca-A/profile-displayphoto-shrink_100_100/B4EZb8NyFoGcAU-/0/1747988194316?e=1759968000&v=beta&t=PuCc9qXnIHsmrngVTd3mpsrqPAwKdbiOOq3SWPE8erE"}},{"caption":"October 4, 2023, José Daniel managed Iñaki directly","text":"Tuve la oportunidad de trabajar tres años con Iñaki y la verdad es que puedo afirmar que no solo es una excelente persona, sino que es un gran técnico y profesional con un elevado conocimiento en Inteligencia Artificial. Contraté a Iñaki como Manager del Tech Studio de IA en Prosegur, donde desarrolló ambiciosos proyectos para la compañía, como el sistema de IA para la cámara del hogar de Movistar Prosegur Alarmas o la detección de intrusos a través de IA en los fotodetectores de la alarma del hogar. En resumen, Iñaki es la persona con la que me encantaría volver a trabajar y que formara parte de mi equipo. José Daniel García Espinel","actor":{"first_name":"Iñaki","last_name":"San Román Lana, PhD","provider_id":"ACoAABHitWQBL8QARniAQguzsWSf-IFrfQQJNzg","public_identifier":"ignaciosrl","headline":"Startup | Strategy | Innovation | New Technologies || ESADE Executive MBA '23 | AI PhD","public_profile_url":"https://www.linkedin.com/in/ignaciosrl","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQEUZAYQewsThA/profile-displayphoto-shrink_400_400/B4DZRlP1.UHYAo-/0/1736865440017?e=1759968000&v=beta&t=RIMiHlAb6oAQbTlDl2k2qtN6RcKFqwVrARv1Hkd8Q4I"}},{"caption":"November 22, 2022, José Daniel managed Luis directly","text":"He tenido la oportunidad de trabajar con Luis Clemente  tanto en mi etapa en Acciona como en la de Prosegur. Luis es un excelente profesional con unos sólidos conocimientos técnicos y unas elevadas capacidades de gestión. Luis hizo un excelente trabajo en Acciona poniendo en marcha la línea de Negocio de Impresión 3D en Dubai y llevando a cabo el proyecto del primer puente Impreso en 3D del mundo. Todo un reto que Luis concluyó con notable éxito. Luis es una persona empática, afable y a la vez riguroso y meticuloso además de una gran persona y excelente profesional. ¡Sin duda es una persona que siempre querría tener en mi equipo!","actor":{"first_name":"Luis","last_name":"Clemente","provider_id":"ACoAAA46nQYB6ufsF4JGx2pmyjij50HkLhVGTuE","public_identifier":"clemente-luis","headline":"Digital Lead | Emerging Technologies & Innovation Specialist | PropTech | ConTech | Expertise developing and implementing solutions using Generative AI, IoT, Digital twins, BIM, 3D Printing, Mixed Reality","public_profile_url":"https://www.linkedin.com/in/clemente-luis","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQGuLkT91OVf-Q/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1691686147445?e=1759968000&v=beta&t=GYeuOej7ts5e7YFkyCOuMd4FeF3RbAjDRgchbDyndSo"}},{"caption":"November 15, 2022, José Daniel was Esmeralda’s client","text":"Esmeralda es una gran profesional que me ha ayudado a pulir mi perfil de LinkedIn reforzando aquellos campos que más me interesaba destacar. También he podido aprender estrategia de contenidos que me valdrá para posicionar tanto mis publicaciones como las de terceros y que tengan una mayor audiencia. He disfrutado mucho con las sesiones de formación con Esmeralda, por lo que si tenéis oportunidad de tener estas sesiones con ella, seguro que no os vais a arrepentir! Saludos. Daniel","actor":{"first_name":"Esmeralda","last_name":"Díaz-Aroca ▪️PhD","provider_id":"ACoAAAGweQMBtD-EL0dfiJNr1SP2QYVowsyh_tc","public_identifier":"esmeralda-diaz-aroca-marca-personal-socialselling","headline":"Socia fundadora en Diaz-Aroca & Asociados ➡️ Expertos en programas de marca personal para directivos C-Suite 🔸 Estrategias de visibilidad y posicionamiento de alto impacto","public_profile_url":"https://www.linkedin.com/in/esmeralda-diaz-aroca-marca-personal-socialselling","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQGS2REsz6TOAQ/profile-displayphoto-shrink_100_100/B4DZP5ETpZHwAU-/0/1735050476472?e=1759968000&v=beta&t=HTQSNrjW9pP3VRm5Iu4j3IXbfaPRrzbsKo9HqvwJg1w"}},{"caption":"March 28, 2022, José Daniel was Ángel’s client","text":"Angel helped us to launch Tax Credits initiatives in Brazil when I was working in Acciona. He is a great professional always pushing hard limits of innovation.","actor":{"first_name":"Ángel","last_name":"Suárez Iglesias","provider_id":"ACoAAAbkyZ8BDPQ9uB84hqqKs1ztnu0G4cvhfrc","public_identifier":"ángel-suárez-iglesias-25389732","headline":"Business Performance Expert","public_profile_url":"https://www.linkedin.com/in/%C3%A1ngel-su%C3%A1rez-iglesias-25389732","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQEva8P1kDZQ6g/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1695081727117?e=1759968000&v=beta&t=1bVt-0hnr3l7gfxW6y66DlaLUE16TAw_8GoVhryA0II"}},{"caption":"March 28, 2022, José Daniel was Vanessa’s client","text":"Vanessa is a very active professional, always willing to help and solve any problem. I met her when she was working at Israel embassy and I've continued in touch with her.","actor":{"first_name":"Vanessa","last_name":"Ventresca López","provider_id":"ACoAAAIlYv0Bdow6EhsiqCYQy1Dr50edXaj5zdc","public_identifier":"vanessa-ventresca-lópez-bb908310","headline":"#Cybersecurity #HR #Medtech #Edtech #RealEstate #Leadership #Marketing with Purpose #RegenerativeDevelopment #EconomicDevelopment #StrategicAlliances #Entrepreneurship #Innovation #Sustainability #Bcorp #22K+","public_profile_url":"https://www.linkedin.com/in/vanessa-ventresca-l%C3%B3pez-bb908310","profile_picture_url":"https://media.licdn.com/dms/image/v2/D4D03AQF7SKDy7VLRmg/profile-displayphoto-shrink_100_100/B4DZaFxBOcGcAg-/0/1746000943098?e=1759968000&v=beta&t=XpYImk0ees35DRj6_l8xK4SUvUOkDMMsul_SiIaeoT4"}},{"caption":"September 2, 2020, José Daniel worked with Emilio on the same team","text":"Emilio Arce is an excellent General Director, always focused to obtain results and pushing hard teams to obtain most challenging goals. I worked with Emilio very close in Acciona and   he always encourage us in Innovation to push hard projects and achieve our goals. Emilio is a great believer in innovation and he is always open to analyse new ways to do things and apply most advanced technologies to solve problems with \"out of the box\" ideas. It was a pleasure to work with his and his excellent team in Acciona. Daniel","actor":{"first_name":"Emilio","last_name":"Arce Alonso","provider_id":"ACoAAASNWfIBlp2YnhxdKun3Vo4sDPzi4P3Jnhk","public_identifier":"emilio-arce-alonso","headline":"Director General Servicios Operativos  en Quirónsalud","public_profile_url":"https://www.linkedin.com/in/emilio-arce-alonso","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQGsArSOh7aHmA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516947150887?e=1759968000&v=beta&t=W7gPzlWGDCmlsxWsWuLdCNFJBqaIEurvmwP2iIIUQTw"}},{"caption":"September 18, 2019, José Daniel managed Pablo directly","text":"Pablo es una de las personas más sorprendentes que conozco. Su afán por aprender y por superar todos los retos con conocimiento e ingenio son admirables. Pablo es un ejemplo de superación personal y un gran autodidacta. He coincidido con el trabajando en Acciona y sin duda es una de las personas cuyo trabajo más valoro. Enhorabuena Pablo y sigue así muchos años! Daniel","actor":{"first_name":"Pablo","last_name":"Gutiérrez Millares","provider_id":"ACoAACfkk2QBWMBZnupcL4gcgsyWb0-FV39hSIk","public_identifier":"pagumi","headline":"Senior Unity and Native Engineer | Realtime Graphics | Avatars | C++","public_profile_url":"https://www.linkedin.com/in/pagumi","profile_picture_url":"https://media.licdn.com/dms/image/v2/C5603AQFeQgeD9VbcsA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1553082320937?e=1759968000&v=beta&t=aOy1X4gjXlwsw1uAcGXfTR41J4prWBvw4xFqgHdqKZ8"}},{"caption":"August 1, 2012, José Daniel managed Marta directly","text":"Marta es una trabajadora incansable, siempre al \"pie del cañón\" y extremadamente eficiente en su trabajo. Los años que estuvo trabajando conmigo du dedicación fue total y sus labores excedían en mucho el puesto que ocupaba realizando también labores de administración, compras, gestión de proveedores y control de obra. En pocas palabras, Marta es una excelente profesional que rinde siempre al máximo y es muy efectiva en sus tareas, teniendo siempre una clara orientación hacia el éxito y a la consecución de sus objetivos y los del resto de sus compañeros.","actor":{"first_name":"Marta","last_name":"Narvaez García","provider_id":"ACoAAAOo-UcBP03Dv8lJBLQYWVLNV3PrPQrsYKs","public_identifier":"marta-narvaez-garcía-71b69318","headline":"SECRETARIA en MASTER RESEACH BUSSINES,S.L","public_profile_url":"https://www.linkedin.com/in/marta-narvaez-garc%C3%ADa-71b69318","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQFI2BOvK9zFGA/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516788318156?e=1759968000&v=beta&t=tbUphN15Zi6bQGtVJZx-zxQIAMvKlp_GJjrWwFTi7vQ"}},{"caption":"January 16, 2012, José Daniel was José Manuel’s client","text":"He trabajado con Jose Manuel durante su etapa en GAC, en la cual realizó para nosotros una gran labor comercial en el area de consultoría de Gestión de la Innovación, realizando trabajos para nosotros de presentación de proyectos para convocatorias CDTI, puesta en valor de la Innovación y en labores en el ámbito internacional de la I+D.","actor":{"first_name":"José Manuel","last_name":"Martínez Bedia","provider_id":"ACoAAAEPHjUB2WmFlm59twKY-XZHzo4bReXZ1yM","public_identifier":"josemanuelmartinezbedia","headline":"Director de Desarrollo en NOVAÍN Consultores. Experto en estrategia y financiación de la innovación.","public_profile_url":"https://www.linkedin.com/in/josemanuelmartinezbedia","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQHBfoETveFrhw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1523485574509?e=1759968000&v=beta&t=CV8v2fbDgf_FdLcHltte8BRtHnjrjsxfzossIrl6_K0"}},{"caption":"January 31, 2011, José Daniel worked with Manuel on the same team","text":"Manuel Heras es un ejemplo de Jefe de Obra comprometido con el Desarrollo y la Innovación que apuesta por aplicar soluciones novedosas para resolver los problemas habituales en el día a día en la obra. Su relación con el Depto de I+D+i de Acciona fue muy positiva ya que gracias a su trabajo, esfuerzo, dedicación y a su gestión con el Cliente se consiguieron realizar en su obra dos viaductos en Fibra de Carbono que a día de hoy aún son record de longitud en su tipología en el Mundo. Esta colaboración se ha hecho extensiva a su etapa como Técnico de Desarrollo de Negocio y Gestión de Riesgos en el Dpto Internacional de Acciona.","actor":{"first_name":"Manuel","last_name":"Heras Hernandez","provider_id":"ACoAAAOVcSIBIdkV0D2zxtPTxho3yYGg9mjzuYo","public_identifier":"manuelherashernandez","headline":"Director Técnico at Solventia Ingeniería y Construcción","public_profile_url":"https://www.linkedin.com/in/manuelherashernandez","profile_picture_url":"https://media.licdn.com/dms/image/v2/C4D03AQFPKQCxd14-pw/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1516776936888?e=1759968000&v=beta&t=kNGUl-EyvYGoukFhmdydfRzPbSjCZzlETzoeYnNQrR8"}}]},"shared_connections_count":1,"hashtags":[]}}]},"versionId":"5482969f-c4af-47be-8a2a-180d998f9477","triggerCount":2,"shared":[{"createdAt":"2025-09-06T09:31:11.336Z","updatedAt":"2025-09-06T09:31:11.336Z","role":"workflow:owner","workflowId":"P3AEJ9LKmbpygDKz","projectId":"8XYD7Ip26tz9IjW7"}],"tags":[]}