linkedin-people-screening02-PKHLXVg4Tlj662Un.json
{"createdAt":"2025-09-09T05:34:38.541Z","updatedAt":"2025-09-10T20:40:39.888Z","id":"PKHLXVg4Tlj662Un","name":"Linkedin People Screening02","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api15.unipile.com:14591/api/v1/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"request_url","value":"=https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(companyUrn:urn%3Ali%3Afsd_company%3A{{ $json.CompanyID }})&queryId=voyagerJobsTalentBrandDashOrganizationJobs.326e1760d35d0283521e8e3ac72cc747"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,608],"id":"18fcc343-c8e5-4153-917b-c1ca5ec4c600","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"dJuYrMGFX3LMsinT","name":"Header Auth account Linkedin"}}},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1264,384],"id":"7daf9366-adb8-4d92-adeb-7adac9b333cd","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1472,608],"id":"76d38eca-2713-4063-8d51-3ed645846891","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,608],"id":"0d79f52c-22a3-41cb-8ecd-1455ff247cd8","name":"Edit Fields1","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.action }}","rightValue":"LinkedinResearch","operator":{"type":"string","operation":"equals"},"id":"1411d67d-fb99-4d54-b522-859f4424de51"}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedinResearch"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-704,192],"id":"f5836c4f-6501-4af7-8e98-3a9bf46d4ffc","name":"Switch"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-496,608],"id":"b4fb8329-7f2d-431e-a4d8-5fb5563f35a5","name":"Edit Fields3"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5]}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,480],"id":"ad04f1a8-dd18-4744-8b8b-c60fd62ca877","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,608],"id":"a509ddd7-14a2-48dd-bd03-bce35bd420a1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[784,608],"id":"b9f5be6d-960d-4210-85a1-5332f1c4f8f9","name":"Wait","webhookId":"8abcdfb6-7fdc-4664-9169-61604479798b"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1184,64],"id":"ffe8b4e4-a99e-4c6f-b4ae-e59d3bf44a0c","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign, what are each of these companies focusing on, give educated guesses about what the companies are doing in terms of efforts.\n\nFrom the data, give hiring details about every companies.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1344,64],"id":"9e418a27-5ecc-4839-9c9f-a2646c3c094b","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1328,224],"id":"f3b0bec4-dad6-4726-9cca-9590fe80ae9c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,64],"id":"8eaa7a6f-5caf-44ec-8bf3-a4729bfed899","name":"Edit Fields2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1792,64],"id":"7004ba4a-af1c-46c7-8b60-e982c0a91543","name":"Markdown"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,608],"id":"143a91fb-1292-4569-be90-6c2df964a639","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,544],"id":"c2259cb0-ce4b-4a3e-a159-365e7745dfb1","name":"Edit Fields4"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1984,400],"id":"9fb9a7b0-2814-459a-a69a-6abc9129f8ae","name":"Add Department","executeOnce":false},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const linkedinUrl = item.json[\"Linkedin URL\"];\n  if (linkedinUrl) {\n    // Quitar barra final si existe y quedarnos con el último segmento\n    const PeopleName = linkedinUrl.replace(/\\/$/, '').split('/').pop();\n    item.json.PeopleName = PeopleName;\n  }\n}\n\nreturn $input.all();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,384],"id":"e8b7bb50-0ed9-490b-8d85-bd8df236bfc2","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1776,608],"id":"420de768-0e5b-4631-926e-cbe2e38dbd8c","name":"Should create Department"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.name }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true},"id":"61e6888a-52bc-4f75-b9c4-aa141d406e42"}],"combinator":"and"}}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-832,816],"id":"8e150514-b20b-4cae-82b5-2238f241dc33","name":"Switch1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"37a87ab2-6b61-4181-b717-79e51ca6ec63","name":"Drive folder Id","value":"={{ $json.id }}","type":"string"},{"id":"8b643e6c-606c-4544-9d2e-b45f21753630","name":"education","value":"={{ $('Get People Details').item.json.education }}","type":"array"},{"id":"97fa785a-1363-4292-aae7-72d1665b247c","name":"work_experience","value":"={{ $('Get People Details').item.json.work_experience }}","type":"array"},{"id":"d5920738-6e57-43c6-89fc-1b2ff06d4c8d","name":"skills","value":"={{ $('Get People Details').item.json.skills }}","type":"array"},{"id":"098f2ded-e50f-4efc-83e1-fc850abce7c4","name":"languages","value":"={{ $('Get People Details').item.json.languages }}","type":"array"},{"id":"ef494599-8dce-4af3-aaed-73d05c7dccaa","name":"certifications","value":"={{ $('Get People Details').item.json.certifications }}","type":"array"},{"id":"138b2b80-e4cd-4294-8099-510c4df8a013","name":"volunteering_experience","value":"={{ $('Get People Details').item.json.volunteering_experience }}","type":"array"},{"id":"81bcd2e3-b022-468a-970b-26be12cd32d1","name":"projects","value":"={{ $('Get People Details').item.json.projects }}","type":"array"},{"id":"de5761c5-61c8-4b0d-8b5f-a200584e290d","name":"recommendations_received","value":"={{ $('Get People Details').item.json.recommendations.received }}","type":"array"},{"id":"aaa45d34-db9c-4159-8c9f-f7247d8c2942","name":"recommendations_given","value":"={{ $('Get People Details').item.json.recommendations.given }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1088,1008],"id":"d99e60a4-1209-426a-9b68-eb2863dd40b3","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields1').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields1').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields1').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields1').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields1').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields1').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields1').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields1').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields1').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2256,400],"id":"1b79cc0d-0d9a-4141-bb59-7448af17dd73","name":"Edit Fields6"},{"parameters":{"path":"b96e0f58-01ac-40f0-9cb2-d0f6a9df8686","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1120,192],"id":"3ca76e2a-373e-4828-be42-ef118804d42f","name":"Webhook","webhookId":"b96e0f58-01ac-40f0-9cb2-d0f6a9df8686"},{"parameters":{"content":"## Get Company Data","height":2452,"width":1156,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1168,0],"typeVersion":1,"id":"036900d9-ce9d-43d8-ac12-347be5e834e5","name":"Sticky Note"},{"parameters":{"content":"## Job Scraping + Saving Automation [Along with weekly Reporting]","height":544,"width":2972,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,352],"typeVersion":1,"id":"e745071b-42ff-45da-8058-bb9202bea609","name":"Sticky Note1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2176,592],"id":"256fabb6-5e10-4a0e-804f-ea7c40135e60","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1936,560],"id":"86b06dd6-4431-498b-abce-fac9f75f0e70","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"content":"##  weekly Reporting\n","height":340,"width":2520},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"78c5bd61-9f8a-4cd4-86bf-93f4606cbc51","name":"Sticky Note2"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,1552],"id":"7b1ca4a1-2c83-40d4-8756-a8af599a6872","name":"When clicking ‘Test workflow’"},{"parameters":{"base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"id":"={{ $('Webhook').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-848,384],"id":"66f95ad0-f371-495d-b310-d890e2c0a0ad","name":"Get a record","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Get a record').item.json.Name }}","filter":{"folderId":{"__rl":true,"value":"1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"list","cachedResultName":"Competitors People Description Linkedin","cachedResultUrl":"https://drive.google.com/drive/folders/1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1344,640],"id":"194b35f3-bd08-49f8-81de-38663b319e56","name":"Search files and folders","alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"resource":"folder","name":"={{ $('Get a record').item.json.Name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-640,816],"id":"97162677-d71f-4443-b3c1-b062389271e3","name":"Create folder","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}},"disabled":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Get a record').item.json.id }}","Status":"Done","Follower Count":"={{ $('Edit Fields3').item.json.follower_count }}","Connections Count":"={{ $('Edit Fields3').item.json.connections_count }}","provider_id":"={{ $('Edit Fields3').item.json.provider_id }}","public_identifier":"={{ $('Edit Fields3').item.json.public_identifier }}","First Name":"={{ $('Edit Fields3').item.json.first_name }}","Last Name":"={{ $('Edit Fields3').item.json.last_name }}","Full Name":"={{ $('Edit Fields3').item.json.first_name }} {{ $('Edit Fields3').item.json.last_name }}","Headline":"={{ $('Edit Fields3').item.json.headline }}","Location":"={{ $('Edit Fields3').item.json.location }}","Profile Picture":"={{ $('Get People Details').item.json.profile_picture_url }}","Profile Picture Large":"={{ $('Get People Details').item.json.profile_picture_url_large }}","Country":"={{ $('Edit Fields3').item.json.primary_locale.country }}","Email 01":"={{ $('Edit Fields3').item.json.contact_info.emails[0] }}","Email 03":"={{ $('Edit Fields3').item.json.contact_info.emails[2] }}","Email 02":"={{ $('Edit Fields3').item.json.contact_info.emails[3] }}","Phone 01":"={{ $('Edit Fields3').item.json.contact_info.phones[0] }}","Phone 02":"={{ $('Edit Fields3').item.json.contact_info.phones[1] }}","Phone 03":"={{ $('Edit Fields3').item.json.contact_info.phones[2] }}","Website 01":"={{ $('Get People Details').item.json.websites[0] }}","Website 02":"={{ $('Get People Details').item.json.websites[1] }}","Website 03":"={{ $('Get People Details').item.json.websites[2] }}","Summary":"={{ $('Get People Details').item.json.summary }}","Background Picture":"={{ $('Get People Details').item.json.background_picture_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-368,816],"id":"a346f57f-f579-4db3-a76e-1fe311ea76b1","name":"Update record","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblmvH3SawXaCpgWZ","mode":"list","cachedResultName":"Company","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblmvH3SawXaCpgWZ"},"filterByFormula":"{Status} = \"Done\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[448,608],"id":"18c82f6d-fe5d-4af3-8780-7418120896a3","name":"Search records","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=Competitor Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1936,64],"id":"41780954-32ab-401a-af21-23b845ca0610","name":"Send a message","webhookId":"3c878f25-8c16-47ed-8ba1-75eb938ffa2a","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown').item.json.Details }}","Date":"={{ $('Aggregate').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2096,64],"id":"5345d803-302c-43a4-9a3d-1879733a2306","name":"Create a record","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields6').item.json.Title }}","Description":"={{ $('Edit Fields6').item.json.Description }}","Applicants":"={{ $('Edit Fields6').item.json.Applicants }}","Location":"={{ $('Edit Fields6').item.json.Location }}","CompanyLink":"={{ $('Edit Fields6').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields6').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields6').item.json.expiresAt }}","Department":"={{ $('Edit Fields6').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2496,672],"id":"15459c49-d32e-47c9-aa20-95025bb37563","name":"Create a record1","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields6').item.json.CompanyName }}_{{ $('Edit Fields6').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2480,400],"id":"b07ff230-586c-4e73-83e1-f0d9f5db4bd6","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields6').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2336,672],"id":"eb08e9b5-6c76-4203-8249-87103dd9dc73","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbltkSL4xcSTkMgU0","mode":"list","cachedResultName":"Education","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbltkSL4xcSTkMgU0"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.school }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Degree":"={{ $json.degree }}","School":"={{ $json.school }}","School ID":"={{ $json.school_id }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Linkedin URL (from Person)","displayName":"Linkedin URL (from Person)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Degree","displayName":"Degree","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School","displayName":"School","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"School ID","displayName":"School ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-352,1040],"id":"c69a8069-77d2-4477-9111-23403e6c5643","name":"Create a record Education","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=education","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1040],"id":"7fe0e598-268b-4dcf-8abd-5a282f0cb23e","name":"Split Out Education"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblLbXsCG8LXCmxuP","mode":"list","cachedResultName":"Work Experience","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblLbXsCG8LXCmxuP"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.company }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Company Name":"={{ $json.company }}","Company ID":"={{ $json.company_id }}","Position":"={{ $json.position }}","Location":"={{ $json.location }}","Description":"={{ $json.description }}","Skills":"={{ JSON.stringify($json.skills || []) }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Company ID","displayName":"Company ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1200],"id":"44971415-196e-4bd2-b3f6-581190033f6e","name":"Create a record Work Experience","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"=work_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1200],"id":"f96324c3-6ce9-4e34-a6d3-2ba10888fc45","name":"Split Out Work Experience"},{"parameters":{"fieldToSplitOut":"=skills","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1376],"id":"7d486cdc-dd1b-451c-8a01-d7795b788df6","name":"Split Out Skills"},{"parameters":{"fieldToSplitOut":"=certifications","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1520],"id":"cbbe777b-2095-47b0-996d-d2a79fd41664","name":"Split Out Certifications"},{"parameters":{"fieldToSplitOut":"=languages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1648],"id":"29b7ad91-166a-4e59-95f3-2df2d361cc9c","name":"Split Out Language"},{"parameters":{"fieldToSplitOut":"=volunteering_experience","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1792],"id":"a7bdef89-e29a-43fe-b3cd-3719e7d66460","name":"Split Out Volunteering Experience"},{"parameters":{"fieldToSplitOut":"=projects","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,1936],"id":"fa29c0a3-f47d-4cd7-bb3c-b520b97fecc0","name":"Split Out Projects"},{"parameters":{"fieldToSplitOut":"=recommendations_received","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,2064],"id":"3fabae28-ef36-4d4b-a0d8-aa07081b1c4d","name":"Split Out Recomendation Received"},{"parameters":{"fieldToSplitOut":"=recommendations_given","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-704,2240],"id":"4fc5d613-2efa-4a7a-8cd3-c0cbf27dae63","name":"Split Out Recomendation Given"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleWK1t5zUfHDGCZ","mode":"list","cachedResultName":"Skill","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleWK1t5zUfHDGCZ"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Skill Name":"={{ $json.name }}","Endorsement Count":"={{ $json.endorsement_count }}","Insights":"={{ JSON.stringify($json.insights || []) }}","Endorsement ID":"={{ $json.endorsement_id }}","Endorsed":"={{ $json.endorsed }}"},"matchingColumns":[],"schema":[{"id":"Skill Name","displayName":"Skill Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Endorsement Count","displayName":"Endorsement Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Insights","displayName":"Insights","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Endorsement ID","displayName":"Endorsement ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Endorsed","displayName":"Endorsed","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-352,1376],"id":"6c954a2f-7ba2-455e-b727-8a91bef51ad7","name":"Create a record Skills","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbllLAWxyfu8g0Usc","mode":"list","cachedResultName":"Certification","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbllLAWxyfu8g0Usc"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Certification Name":"={{ $json.name }}","Organization":"={{ $json.organization }}","URL":"={{ $json.url }}"},"matchingColumns":[],"schema":[{"id":"Certification Name","displayName":"Certification Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Organization","displayName":"Organization","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1520],"id":"0427efad-f8fa-468e-b033-8616a30090b8","name":"Create a record Certifications","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblNNVEAMt0qbulXT","mode":"list","cachedResultName":"Language","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblNNVEAMt0qbulXT"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Language Name":"={{ $json.name }}","Proficiency":"={{ $json.proficiency }}"},"matchingColumns":[],"schema":[{"id":"Language Name","displayName":"Language Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Proficiency","displayName":"Proficiency","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,1648],"id":"a7385a07-fbd2-43a8-ae55-6f1c8b13950a","name":"Create a record Work Language","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblckAg3Zs9OiC4E7","mode":"list","cachedResultName":"Volunteering Experience","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblckAg3Zs9OiC4E7"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.company }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Company Name":"={{ $json.company }}","Description":"={{ $json.description }}","Cause":"={{ $json.cause }}","Role":"={{ $json.role }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Cause","displayName":"Cause","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-496,1792],"id":"6afb03a6-b30d-4343-870b-1917cf0c781d","name":"Create a record Work Volunteering Experience","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblX2Bb4BQHe17Hf2","mode":"list","cachedResultName":"Project","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblX2Bb4BQHe17Hf2"},"columns":{"mappingMode":"defineBelow","value":{"Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Start Date":"={{ $json.start }}","End Date":"={{ $json.end }}","Description":"={{ $json.description }}","Skills":"={{ JSON.stringify($json.skills || []) }}","Project Name":"={{ $json.name }}"},"matchingColumns":[],"schema":[{"id":"Project Name","displayName":"Project Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Skills","displayName":"Skills","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,1936],"id":"515d7510-fa3b-4017-bd4e-04e6016d28be","name":"Create a record Work Projects","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbljGz4uEQvTyfkGR","mode":"list","cachedResultName":"Recommendation","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbljGz4uEQvTyfkGR"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.actor.first_name }} {{ $json.actor.last_name }}","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}","Text":"={{ $json.text }}","Direction":"Received","Actor First Name":"={{ $json.actor.first_name }}","Actor Last Name":"={{ $json.actor.last_name }}","Actor Headline":"={{ $json.actor.headline }}","Actor LinkedIn URL":"={{ $json.actor.public_profile_url }}","Actor Photo URL":"={{ $json.actor.profile_picture_url }}","Caption":"={{ $json.caption }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Direction","displayName":"Direction","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Received","value":"Received"},{"name":"Given","value":"Given"}],"readOnly":false,"removed":false},{"id":"Actor First Name","displayName":"Actor First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Last Name","displayName":"Actor Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Headline","displayName":"Actor Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor LinkedIn URL","displayName":"Actor LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Photo URL","displayName":"Actor Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-480,2080],"id":"a72c9466-32f7-4130-813a-8afb2f06a099","name":"Create a record Recomendation received","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbljGz4uEQvTyfkGR","mode":"list","cachedResultName":"Recommendation","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbljGz4uEQvTyfkGR"},"columns":{"mappingMode":"defineBelow","value":{"Record Name":"={{ $json.actor.first_name }} {{ $json.actor.last_name }}","Actor First Name":"={{ $json.actor.first_name }}","Text":"={{ $json.text }}","Actor Last Name":"={{ $json.actor.last_name }}","Actor Headline":"={{ $json.actor.headline }}","Actor LinkedIn URL":"={{ $json.actor.public_profile_url }}","Actor Photo URL":"={{ $json.actor.profile_picture_url }}","Caption":"={{ $json.caption }}","Direction":"Given","Person":"={{ $('Get a record').item.json.id ? [ $('Get a record').item.json.id ] : [] }}"},"matchingColumns":[],"schema":[{"id":"Record Name","displayName":"Record Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Person","displayName":"Person","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Text","displayName":"Text","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Direction","displayName":"Direction","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Received","value":"Received"},{"name":"Given","value":"Given"}],"readOnly":false,"removed":false},{"id":"Actor First Name","displayName":"Actor First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Last Name","displayName":"Actor Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Headline","displayName":"Actor Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor LinkedIn URL","displayName":"Actor LinkedIn URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Actor Photo URL","displayName":"Actor Photo URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Caption","displayName":"Caption","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-336,2240],"id":"cd9eb061-be42-453e-9e2c-b34ccb90a553","name":"Create a record Recomendation Given","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"Status":"In progress","id":"={{ $json.query.recordId }}","Connections Count":0,"Follower Count":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Report","displayName":"Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No Report","value":"No Report"},{"name":"To be Done","value":"To be Done"},{"name":"In Progress","value":"In Progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Report Doc","displayName":"Report Doc","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-992,384],"id":"ad7f949f-42f1-4de0-900c-2164b6cfb4f7","name":"Update record \"In Progress\"","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api15.unipile.com:14591/api/v1/linkedin","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"request_url","value":"=https://www.linkedin.com/voyager/api/graphql?includeWebMetadata=true&variables=(companyUrn:urn%3Ali%3Afsd_company%3A{{ $json.CompanyID }})&queryId=voyagerJobsTalentBrandDashOrganizationJobs.326e1760d35d0283521e8e3ac72cc747"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3200,1616],"id":"ce409ec5-3967-43cf-8a47-e367ec430b9c","name":"HTTP Request1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"79d3fdf9-98d7-4f68-b450-c5ebb51df201","name":"JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3552,1392],"id":"0fa06bc0-bde1-4d75-9528-0bb832df8f11","name":"Edit Fields7"},{"parameters":{"fieldToSplitOut":"JobItem","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3760,1616],"id":"b11a8183-bca9-4f6b-9767-eb516a3da068","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"efb488c9-ced1-43f8-88b4-d107ff2a472f","name":"Title","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.title }}","type":"string"},{"id":"dcbef1b5-28c9-402e-bee2-b0093558b7b3","name":"Description","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.description.text }}","type":"string"},{"id":"7559ea25-0e4a-439a-ad77-e22c04dce48a","name":"Applicants","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.numApplies }}","type":"string"},{"id":"328577df-24be-407c-9a33-5219dadf8a33","name":"CompanyName","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.companyDetails.jobCompany.company.name }}","type":"string"},{"id":"47f6cd54-bf87-46c7-8b0e-4f70b3555baa","name":"Location","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.location.fullLocalizedName }}","type":"string"},{"id":"599b6a91-62ee-4e6a-a4d2-b1e315f3a60c","name":"companyRecordID","value":"=[\"{{ $('Loop Over Items1').item.json.id }}\"]","type":"array"},{"id":"800837fc-a25d-40c5-9348-4faf61787832","name":"listedAt","value":"={{ $json.jobPostingCardWrapper.jobPostingCard.jobPosting.listedAt.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"6a6d65fe-8916-40d6-b2bf-4f194e8766ce","name":"expiresAt","value":"={{ ($json.jobPostingCardWrapper.jobPostingCard.jobPosting.expireAt.toDateTime()).format('yyyy-MM-dd') }}","type":"string"},{"id":"716cb0b8-474b-4cb0-80a3-fe6c954f355f","name":"message.content.department","value":"={{ $json.message.content.department }}","type":"string"},{"id":"fbcf78f3-29d2-41b2-843a-7f36182dd262","name":"Drive Folder Id","value":"={{ $('Loop Over Items1').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3920,1616],"id":"a88d340f-9266-472b-ac84-946ee786dc59","name":"Edit Fields8","alwaysOutputData":true},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,1552],"id":"175d9779-825b-4e88-b5be-028882210271","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3056,1616],"id":"5457a764-bf1d-420f-9d5a-6fba13a6a60f","name":"Wait1","webhookId":"ae25dcc9-724e-451f-9d56-a82920c0b9fa"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,1008],"id":"3bf2bad8-052e-45fa-a6b4-c5797934bbb1","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=Create a Report analysis of the entire campaign of people profile scrapping in Linkedin, what are each of these people currently working on, their education, and give educated guesses about what the people has acomplished.\n\nFrom the data, give rich details about every person.\n\nIMPORTANT: start your answer with the report. Don't start with an introduction"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1328,1008],"id":"1b8b701f-b148-4d6a-a900-fd3a8ebddd4e","name":"Basic LLM Chain1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1312,1168],"id":"35586a03-eb8f-474c-9e3e-7f5c843d1018","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"8jCefcOdtz7hX7CU","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6b571e74-043b-4364-8514-8161d8dba1ad","name":"Details","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,1008],"id":"28ab7699-cfce-4e97-a5a5-1160767bf554","name":"Edit Fields9"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.Details }}","options":{"simpleLineBreaks":true,"smartIndentationFix":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1776,1008],"id":"055b77f4-6a40-46a4-9dd2-038859589935","name":"Markdown1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04699636-458e-4997-be9e-ccd6dcbb2258","leftValue":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[0].organizationJobItem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3360,1616],"id":"a5cc944d-e918-4dc9-9817-93bc74db65f4","name":"If1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"39465144-bdda-42a8-ba64-c5537c7e4288","name":"=JobItem","value":"={{ $json.data.data.jobsTalentBrandDashOrganizationJobsByCompany.elements[2].organizationJobItem }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3568,1552],"id":"17e02557-64ef-4bb9-b9ac-6c4b0cf59438","name":"Edit Fields10"},{"parameters":{"promptType":"define","text":"=Job description:\n{{ $json.Description }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert job-role classifier. Given a job description, output the single most relevant **department name**.  \nReturn **only** the department name as plain text—no extra words, punctuation, or line breaks.  \nUse Title Case exactly as shown in the canonical list; never invent variants (e.g., use “Human Resources” not “HR”).  \n\nIf none of the listed departments fit, create a concise, Title-Case department name of ≤3 words that best groups the role; reuse that exact name for any future similar roles.  \nOnly output **FAILED** when the input is empty or contains no discernible job information.\n\n**Canonical Departments**\n\n- Accounting  \n- Administration  \n- Business Development  \n- Customer Support  \n- Data Science  \n- Design  \n- Engineering  \n- Finance  \n- Human Resources  \n- Information Technology  \n- Legal  \n- Marketing  \n- Operations  \n- Product Management  \n- Project Management  \n- Public Relations  \n- Quality Assurance  \n- Research and Development  \n- Sales  \n- Security  \n- Supply Chain  \n- Training  \n\n**Examples**\n\n- *Input*: “Design and optimise user journeys for our mobile app.”  \n  *Output*: Design  \n\n- *Input*: “Oversee quarterly financial statements and ensure GAAP compliance.”  \n  *Output*: Accounting  \n\n- *Input*: “ ”  \n  *Output*: FAILED  \n\nNow classify the role."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4272,1408],"id":"2510b10b-07b7-487d-b1bf-7f4c06c45ac5","name":"Add Department1","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa44b145-12f9-4d8f-88d0-fc0be6bbf706","leftValue":"={{ $json.Title }}","rightValue":"={{ null }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4064,1616],"id":"298338b3-9c49-4cba-822a-4e3f25e0423f","name":"Should create Department1"},{"parameters":{"assignments":{"assignments":[{"id":"37f943e2-5564-4ae8-b827-a76b918e6876","name":"Department","value":"={{ $json.output }}","type":"string"},{"id":"8c488514-8315-4024-a019-b4c537de1b93","name":"Title","value":"={{ $('Edit Fields8').item.json.Title }}","type":"string"},{"id":"5b420583-e341-4a17-b6f3-db14e57688b2","name":"Description","value":"={{ $('Edit Fields8').item.json.Description }}","type":"string"},{"id":"3cdc6986-34fe-455e-9b42-b6803cd5d0fe","name":"Applicants","value":"={{ $('Edit Fields8').item.json.Applicants }}","type":"string"},{"id":"4e6e0ae2-e47f-4dcd-8c2e-b1e485ee7c74","name":"CompanyName","value":"={{ $('Edit Fields8').item.json.CompanyName }}","type":"string"},{"id":"b94a25b2-1342-4ba8-a191-79755e08f373","name":"Location","value":"={{ $('Edit Fields8').item.json.Location }}","type":"string"},{"id":"c932cbed-61ab-45b1-b3f6-648d3d647d0e","name":"companyRecordID","value":"={{ $('Edit Fields8').item.json.companyRecordID }}","type":"array"},{"id":"9d63ad93-f0fe-49a1-8d8e-cc3d8eb27671","name":"listedAt","value":"={{ $('Edit Fields8').item.json.listedAt }}","type":"string"},{"id":"166031d3-d4f5-4550-8783-e5399db2bd49","name":"expiresAt","value":"={{ $('Edit Fields8').item.json.expiresAt }}","type":"string"},{"id":"c859adbb-d10e-445f-96d1-2d8297744ab3","name":"message","value":"={{ $('Edit Fields8').item.json.message }}","type":"object"},{"id":"5a178a95-6aae-4cdb-b5d8-99c4efde342d","name":"DriveFolderId","value":"={{ $('Edit Fields8').item.json[\"Drive Folder Id\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4544,1408],"id":"81f5637b-25d6-48c1-bda9-12fe57e07701","name":"Edit Fields11"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"job_department\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"job_description\": {\n        \"type\": \"string\",\n        \"description\": \"Description of the job role.\"\n      },\n      \"department_name\": {\n        \"type\": \"string\",\n        \"description\": \"The name of the department for the given job role.\"\n      }\n    },\n    \"required\": [\n      \"job_description\",\n      \"department_name\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4464,1600],"id":"b645df75-e1e4-4b6f-ba87-28d2aa971a3e","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4224,1568],"id":"8801f261-c7c8-40d2-8311-b699909464e1","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Nalia168hExYSGD3","name":"OpenAi account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"filterByFormula":"{Report} = \"To be Done\" ","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[432,1552],"id":"78f64fb5-af78-43f8-9d18-c04f337be667","name":"Search records1","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"sendTo":"jdgarcia@ferrovial.com","subject":"=People Linkedin Scrapper Analysis {{ $now.format('yyyy-MM-dd') }}","message":"={{ $json.data }}","options":{"appendAttribution":false,"senderName":"Linkedin Competitor Summary"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1920,1008],"id":"bdb8053a-3fe7-4f3d-b7e2-13bfbb4e76af","name":"Send a message1","webhookId":"a5539395-83c0-492e-9350-9c7652ac5fe7","credentials":{"gmailOAuth2":{"id":"mKIFBPJPxjQfRVQk","name":"Gmail account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblfobZmRgNCEkbgj","mode":"list","cachedResultName":"Reports","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblfobZmRgNCEkbgj"},"columns":{"mappingMode":"defineBelow","value":{"Competitor Report Analysis":"={{ $('Markdown1').item.json.Details }}","Date":"={{ $('Aggregate1').item.json.data[0].createdTime }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Competitor Report Analysis","displayName":"Competitor Report Analysis","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2080,1008],"id":"5857bc3f-9cd8-4663-8531-575f946f99df","name":"Create a record2","credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tbleMvskrdKKY49ko","mode":"list","cachedResultName":"Job Postings","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tbleMvskrdKKY49ko"},"columns":{"mappingMode":"defineBelow","value":{"Title":"={{ $('Edit Fields11').item.json.Title }}","Description":"={{ $('Edit Fields11').item.json.Description }}","Applicants":"={{ $('Edit Fields11').item.json.Applicants }}","Location":"={{ $('Edit Fields11').item.json.Location }}","CompanyLink":"={{ $('Edit Fields11').item.json.companyRecordID }}","listedAt":"={{ $('Edit Fields11').item.json.listedAt }}","expiresAt":"={{ $('Edit Fields11').item.json.expiresAt }}","Department":"={{ $('Edit Fields11').item.json.Department }}","FileUrl":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Applicants","displayName":"Applicants","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"listedAt","displayName":"listedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"expiresAt","displayName":"expiresAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"FileUrl","displayName":"FileUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Department","displayName":"Department","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"CompanyLink","displayName":"CompanyLink","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4784,1680],"id":"37717a8d-2c44-4765-b687-cd2a58199ca2","name":"Create a record3","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"folderId":"={{ $json.DriveFolderId }}","title":"={{ $('Edit Fields11').item.json.CompanyName }}_{{ $('Edit Fields11').item.json.Title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4768,1408],"id":"a6b89e44-efe2-4a00-8260-b340c682f187","name":"Create a document1","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=## Job Description\n\n{{ $('Edit Fields11').item.json.Description }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4624,1680],"id":"1fc6cee5-cc3f-456a-a5bd-a8e68dfec714","name":"Update a document1","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"folderId":"=1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","title":"={{ $json['Full Name'] }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[944,1568],"id":"711a9ce8-5b1b-4461-9325-97ea9995381e","name":"Create a document2","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=### {{ $('Loop Over Items1').item.json.Name }}\n\n## Linkedin URL:\n{{ $('Loop Over Items1').item.json['Linkedin URL'] }}\n\n## Headline:\n{{ $('Loop Over Items1').item.json.Headline }}\n\n## Summary:\n{{ $('Loop Over Items1').item.json.Summary }}\n\n## Work Experience:\n{{ $('Loop Over Items1').item.json['Work Experience'] }}\n\n## Education:\n{{ $('Loop Over Items1').item.json.Education }}\n\n"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1136,1568],"id":"a51c7f7d-9f12-4cdb-8b0e-2246f2358d6c","name":"Update a document2","credentials":{"googleDocsOAuth2Api":{"id":"gf27dkVFKl3YtOnN","name":"Google Docs account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appZyksYIbD36iCKn","mode":"list","cachedResultName":"Linkedin Competitor Hiring Spyware","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn"},"table":{"__rl":true,"value":"tblZi4WSrmHjmwcTj","mode":"list","cachedResultName":"People","cachedResultUrl":"https://airtable.com/appZyksYIbD36iCKn/tblZi4WSrmHjmwcTj"},"columns":{"mappingMode":"defineBelow","value":{"Follower Count":0,"Connections Count":0,"Report Doc":"=https://docs.google.com/document/d/{{ $json.documentId }}/view?usp=sharing"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Linkedin URL","displayName":"Linkedin URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Report","displayName":"Report","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"No Report","value":"No Report"},{"name":"To be Done","value":"To be Done"},{"name":"In Progress","value":"In Progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Idle","value":"Idle"},{"name":"In progress","value":"In progress"},{"name":"Research","value":"Research"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"provider_id","displayName":"provider_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"public_identifier","displayName":"public_identifier","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 01","displayName":"Email 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 02","displayName":"Email 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email 03","displayName":"Email 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 01","displayName":"Phone 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 02","displayName":"Phone 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone 03","displayName":"Phone 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 01","displayName":"Website 01","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 02","displayName":"Website 02","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website 03","displayName":"Website 03","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Follower Count","displayName":"Follower Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Connections Count","displayName":"Connections Count","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Profile Picture","displayName":"Profile Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Profile Picture Large","displayName":"Profile Picture Large","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Background Picture","displayName":"Background Picture","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Education","displayName":"Education","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Work Experience","displayName":"Work Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Skill","displayName":"Skill","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Certification","displayName":"Certification","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Volunteering Experience","displayName":"Volunteering Experience","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Project","displayName":"Project","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Created time","displayName":"Created time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Last Modified time","displayName":"Last Modified time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Report Doc","displayName":"Report Doc","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1360,1568],"id":"b2b2e22e-5a72-49fb-a0b9-3b89aee6ed90","name":"Create a record4","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KsmtEy8oXUyDEBKt","name":"Airtable Personal Access Token account"}}},{"parameters":{"content":"Report of the People Scrapping Campaign\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":864,"width":2960},"type":"n8n-nodes-base.stickyNote","position":[0,944],"typeVersion":1,"id":"9070e690-68e5-43d1-9f13-f656346f5df3","name":"Sticky Note3"},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.PeopleName }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"linkedin_sections","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1568,640],"id":"a9719a51-f0bb-460c-817f-3fddf070db0b","name":"Get People Details - Original","credentials":{"httpHeaderAuth":{"id":"GswbFND9dcq69ZzF","name":"Header Auth account"}}},{"parameters":{"url":"=https://api15.unipile.com:14591/api/v1/users/{{ $json.PeopleName }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"BbeGtrQ4TgaaUdVdTBoz-Q"},{"name":"linkedin_sections","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"lDKy8gOC.sOJnfynOcBZ54BqO4gm1mdlNQDTx5kqK6CANWZEhsnM="},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,608],"id":"c6e2f9d1-1e8c-4b4f-ad71-083eb90c0b77","name":"Get People Details","retryOnFail":true,"maxTries":5,"waitBetweenTries":2000},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Get a record').item.json.Name }}","filter":{"folderId":{"__rl":true,"value":"1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97","mode":"list","cachedResultName":"Competitors People Description Linkedin","cachedResultUrl":"https://drive.google.com/drive/folders/1dN83CetUQtAVBQw3MGiwvhLFCdyjfB97"}},"options":{"fields":[]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1568,864],"id":"6950534b-6adb-4413-b28a-1b89b365ef2a","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('Get a record').item.json.Name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1040,816],"id":"c29cc608-0079-4a01-8ae6-0ad6ecc79b37","name":"Search files and folders2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleDriveOAuth2Api":{"id":"AUylR0L2Pfn5EyOc","name":"Google Drive account"}},"disabled":true}],"connections":{"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Should create Department","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update record \"In Progress\"","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search files and folders2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Search records","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Edit Fields2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Add Department":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get People Details","type":"main","index":0}]]},"Should create Department":{"main":[[{"node":"Add Department","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Split Out Education","type":"main","index":0},{"node":"Split Out Work Experience","type":"main","index":0},{"node":"Split Out Skills","type":"main","index":0},{"node":"Split Out Certifications","type":"main","index":0},{"node":"Split Out Language","type":"main","index":0},{"node":"Split Out Volunteering Experience","type":"main","index":0},{"node":"Split Out Projects","type":"main","index":0},{"node":"Split Out Recomendation Received","type":"main","index":0},{"node":"Split Out Recomendation Given","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Add Department","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Add Department","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Search records1","type":"main","index":0}]]},"Get a record":{"main":[[{"node":"Code","type":"main","index":0}]]},"Search files and folders":{"main":[[]]},"Create folder":{"main":[[{"node":"Update record","type":"main","index":0},{"node":"Edit Fields5","type":"main","index":0}]]},"Search records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Create a record","type":"main","index":0}]]},"Create a record1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Create a record1","type":"main","index":0}]]},"Split Out Education":{"main":[[{"node":"Create a record Education","type":"main","index":0}]]},"Split Out Work Experience":{"main":[[{"node":"Create a record Work Experience","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Split Out Skills":{"main":[[{"node":"Create a record Skills","type":"main","index":0}]]},"Split Out Certifications":{"main":[[{"node":"Create a record Certifications","type":"main","index":0}]]},"Split Out Language":{"main":[[{"node":"Create a record Work Language","type":"main","index":0}]]},"Split Out Volunteering Experience":{"main":[[{"node":"Create a record Work Volunteering Experience","type":"main","index":0}]]},"Split Out Projects":{"main":[[{"node":"Create a record Work Projects","type":"main","index":0}]]},"Split Out Recomendation Received":{"main":[[{"node":"Create a record Recomendation received","type":"main","index":0}]]},"Split Out Recomendation Given":{"main":[[{"node":"Create a record Recomendation Given","type":"main","index":0}]]},"Update record \"In Progress\"":{"main":[[{"node":"Get a record","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Should create Department1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"Create a document2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Edit Fields9":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Add Department1":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Should create Department1":{"main":[[{"node":"Add Department1","type":"main","index":0}],[]]},"Edit Fields11":{"main":[[{"node":"Create a document1","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Add Department1","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Add Department1","type":"ai_languageModel","index":0}]]},"Search records1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Create a record2","type":"main","index":0}]]},"Create a record3":{"main":[[]]},"Create a document1":{"main":[[{"node":"Update a document1","type":"main","index":0}]]},"Update a document1":{"main":[[{"node":"Create a record3","type":"main","index":0}]]},"Create a document2":{"main":[[{"node":"Update a document2","type":"main","index":0}]]},"Update a document2":{"main":[[{"node":"Create a record4","type":"main","index":0}]]},"Create a record4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get People Details - Original":{"main":[[]]},"Get People Details":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Search files and folders2":{"main":[[{"node":"Switch1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"2a763fce-24e2-4a60-a778-12b8be6b5b8c","triggerCount":2,"shared":[{"createdAt":"2025-09-09T05:34:38.541Z","updatedAt":"2025-09-09T05:34:38.541Z","role":"workflow:owner","workflowId":"PKHLXVg4Tlj662Un","projectId":"8XYD7Ip26tz9IjW7"}],"tags":[]}