rag-system---cloud-GSnuldTCRMERodah.json
{"createdAt":"2025-08-21T08:43:18.005Z","updatedAt":"2025-08-21T08:43:18.005Z","id":"GSnuldTCRMERodah","name":"rag-system---cloud","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"49de9ac3-5fda-4181-a62b-bd266d591aa2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[144,432]},{"parameters":{"operation":"pdf","options":{}},"id":"5fcc7b08-2ea4-4dcf-a396-14a954750c38","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[720,464]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chunks = [];\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\nconst text = $('Extract from File').item.json.text.replace(/\\n/, '');\n\nfor (let i=0,j=Math.round(text.length/chunkSize)+1;i<j;i++) {\n  chunks.push(\n    text.substr(\n      Math.max(0,(i * chunkSize)-chunkOverlap),\n      chunkSize\n    )\n  );\n}\n\nreturn { chunks };"},"id":"e01e71c3-517d-4402-b356-223a78109cc4","name":"Create Chunks From Doc","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,544]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{\n{\n  \"content\": `${$json.text }\\n---\\n${$json.chunk}`\n}\n}}","options":{"metadata":{"metadataValues":[{"name":"title","value":"={{ $json.title }}"}]}}},"id":"6d44f525-b542-474d-a8d7-4b80bab11fa1","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3248,752]},{"parameters":{"chunkSize":2000,"options":{}},"id":"4ebee9ee-181a-45da-8e5f-908f878d3d19","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3248,864]},{"parameters":{"options":{}},"id":"137c3a29-7b41-4fb4-b2a4-641f9ac09b95","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[592,1376],"webhookId":"436ca65c-46ca-4f8c-86e2-b8633b428eea"},{"parameters":{"options":{}},"id":"82207d16-8d92-4504-9104-e27b07eae450","name":"Anthropic Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[608,1616]},{"parameters":{},"id":"dad6f6e0-84d7-47e1-838b-8f531997c029","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[912,1552]},{"parameters":{"content":"## 2. Split Document Into Chunks\nUnlike traditional vector store workflows, we want to split our document prior to embedding and this is easily achieved using the Code node. Feel free to adjust the text splitting params or replace it entirely to suit the needs of your data.\n\nYou may need to play around and adjust the chunksize for your particular data. Contextual retrieval as described in the article is expected to return 20 results so best to keep these small.","height":513.3089035768523,"width":553.1909664515983,"color":7},"id":"061d6f7b-0e6b-4a8b-9556-da25b4a88a4f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,288]},{"parameters":{"content":"## 3. Generate Sparse Vector and Contextual Text For Chunk\nWith our chunks, we'll want to achieve the following:\n(1) **Generate a contextual summary of what the chunk is about relative to the whole document**.\nFor this, we'll use the basic LLM node using Antrophic's Claude Haiku model with the recommended prompt as shared in the article.\n(2) **Generate a sparse vector for the chunk and summary**\nWe can use the python code node to generate TF-IDF sparse vectors with the scikit-learn library. Good to know, this library doesn't require external dependency setup steps and auto-installs on first time use.\n\nOnce we have our generated values, we'll combine them with the chunk object using the Edit Fields node.","height":748.1255853485875,"width":1019.742667955435,"color":7},"id":"b15db8c2-1fe9-4314-a52b-5346e21d2bae","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1872,288]},{"parameters":{"content":"## 4. Insert Docs to Qdrant (via Langchain Code Node)\nUnfortunately, n8n (or rather langchain) doesn't support inserting sparse vectors so we'll have to build our own \"Insert Documents\" node using a Langchain Code Node. In this Langchain code node, we'll forego the langchain vectorstore node and use the Qdrant client SDK directly instead.\n\n**Note** To avoid duplication, this node will also delete existing vectors by document title. It does so by tagging each vector with the document title we extracted earlier then when run again, performs a Qdrant delete by filter before upserting.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Ensure your Qdrant instance is running and set the URL in the node\n* Create the Qdrant collection as instructed (see yellow sticky)\n","height":783.6896392386983,"width":828.7526122872351,"color":7},"id":"849031ce-d84b-4f49-8c6a-ec4044f34981","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2928,256]},{"parameters":{"content":"## 5. Retrieval using Sparse Vectors and ReRanker (Chat Agent Example)\nFor retrieval, we want to be able to (1) query with both dense and sparse vectors and (2) apply a rerank algorithm to our vector store docs. We can setup a custom vector store tool which does both using a custom Langchain Code node.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Installed the updated version of the @Qdrant/js-client-rest module\n* Ensure your Qdrant instance is running and set the URL in the \"Qdrant with Cohere ReRank\" subnode\n* Add your Cohere API key in the \"Qdrant with Cohere ReRank\" subnode.","height":828.8619472986827,"width":973.8052093023243,"color":7},"id":"36b9e30a-122f-465c-bf30-6b9d74eb82da","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,1072]},{"parameters":{},"id":"240e718a-941e-4e79-b89e-b028012ca0be","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1504,1888]},{"parameters":{"name":"get_sparse_vector","description":"Generates TD-IDF sparse vector for query","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"fields":{"values":[{"name":"route","stringValue":"get_sparse_vectors"}]}},"id":"aefaad37-20c9-4a7d-8595-9d32f99afaea","name":"Get Sparse Vector Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1184,1680]},{"parameters":{"assignments":{"assignments":[{"id":"87bc3071-4179-4aed-aa88-37c6381d8b73","name":"query","value":"Who created Bitcoin?","type":"string"}]},"options":{}},"id":"ac890998-f17b-4662-ab9a-ea055958d51b","name":"Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1344]},{"parameters":{"name":"get_sparse_vector","description":"Generates TD-IDF sparse vector for query","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"}},"id":"299e720b-d97f-42fd-8953-88795acc3c75","name":"Get Sparse Vector Tool1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2000,1520]},{"parameters":{"content":"## 6. Retrieval using Sparse Vectors and ReRanker (Retrieval Example)\nThis demonstration is similar to the previous step but is not using an AI Agent.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Installed the updated version of the @Qdrant/js-client-rest module\n* Ensure your Qdrant instance is running and set the URL in the \"Qdrant with Cohere ReRank1\" node\n* Add your Cohere API key in the \"Qdrant with Cohere ReRank1\" node.","height":683.3722976015338,"width":838.4124151865863,"color":7},"id":"3cad276b-ed86-4c79-b0c4-30032ef3c3d7","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,1072]},{"parameters":{"model":"claude-3-haiku-20240307","options":{}},"id":"0dbfe6f4-b813-4841-acea-570bdf65a586","name":"Anthropic Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[2032,864]},{"parameters":{"content":"### Create Collection!\nYou need to create a Qdrant Collection as follows:\n\n* Go to http[s]:\\//<qdrant_url>/dashboard#/console\nIf you are hosting locally, this is usually http://localhost:6333/dashboard#/console\n* Copy the following into the left panel. This will tell Qdrant to create a new collection called “contextual_retrieval_example”. You can change this of course but you’ll also need to change all “collectionName” references in the template as well!\n\n```\nPUT collections/contextual_retrieval_example\n{\n  \"vectors\": {\n    \"default\": {\n      \"distance\": \"Cosine\",\n      \"size\": 1024\n    }\n  },\n  \"sparse_vectors\": {\n    \"bm42\": {\n      \"modifier\": \"idf\"\n    }\n  }\n}\n```","height":505.701259707935,"width":516.3129732020735},"id":"be0d8616-a592-4bbf-b864-4d7a01631d6f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3648,592]},{"parameters":{"fieldToSplitOut":"chunks","options":{"destinationFieldName":"chunk"}},"id":"e68e7700-cc4a-4189-929e-ff587c6e4fb7","name":"Chunks To List","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1984,608]},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"texts = [f\"{_('Generate Contextual Text').item.json.text}\\n---\\n{_('Chunks To List').item.json.chunk}\"]\n\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Create TF-IDF vectorizer\nvectorizer = TfidfVectorizer()\n\n# Fit and transform the texts to generate TF-IDF vectors\nX = vectorizer.fit_transform(texts)\n\nreturn {\n  \"sparse\": {\n    \"indices\": X.indices.tolist(),\n    \"values\": X.data.tolist()\n  }\n}"},"id":"c7fd8400-58df-4c37-a20d-18de86986d2e","name":"Generate TF-IDF Sparse Vectors","type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,608]},{"parameters":{"assignments":{"assignments":[{"id":"069d067c-3534-4939-8ff4-34dee02a9436","name":"chunk","value":"={{ $('Chunks To List').item.json.chunk }}","type":"string"},{"id":"24e01f4f-e156-47e9-a89e-9cbdccda6bd4","name":"text","value":"={{ $('Generate Contextual Text').item.json.text }}","type":"string"},{"id":"fa48ddaa-4658-463a-b1af-8308c24e325a","name":"sparse","value":"={{ $json.sparse }}","type":"object"},{"id":"442efe87-a826-402c-aadc-909923915d30","name":"title","value":"={{ $('Get Doc Attributes').first().json.output.title }}","type":"string"}]},"options":{}},"id":"4a7bfb9c-5d64-4911-b07b-180ef4c88b7e","name":"Get Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2688,608]},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"import json\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Create TF-IDF vectorizer\nvectorizer = TfidfVectorizer()\n\n# Fit and transform the texts to generate TF-IDF vectors\ntexts = [_input.item.json.query]\nX = vectorizer.fit_transform(texts)\n\nreturn {\n  \"response\": {\n    \"indices\": X.indices.tolist(),\n    \"values\": X.data.tolist()\n  }\n}"},"id":"87823421-5363-41d2-9df2-6b5c7f5ece20","name":"Generate Sparse Vectors","type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,1888]},{"parameters":{"content":"## Implementing Antrophic's Contextual Retrieval \n\nThis workflow is inspired by the Antrophic article, [\"Introducing Contextual Retrieval\"](https://www.anthropic.com/news/contextual-retrieval), and tries to replicate the instructions given.\n\n**Original post here**: https://community.n8n.io/t/building-the-ultimate-rag-setup-with-contextual-summaries-sparse-vectors-and-reranking/54861/1\n\n### Changelog\n2024-10-10 Updated to 1.62.1\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n","height":634.9891793542789,"width":405.66570496276904},"id":"173136a9-6530-49cf-a3db-c416bac70d36","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"modelName":"embed-english-v3.0"},"id":"ac8defaf-4a31-4538-b913-509dfcfe17de","name":"Embeddings Cohere","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[3104,752]},{"parameters":{"modelName":"embed-english-v3.0"},"id":"dd2dadd6-49ed-40b4-8bf7-25295eb7af1a","name":"Embeddings Cohere1","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[1024,1696]},{"parameters":{"modelName":"embed-english-v3.0"},"id":"455e7753-dd11-40c8-9121-da9221953011","name":"Embeddings Cohere2","type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[1808,1520]},{"parameters":{"content":"### PART 1 of 2\nThis part generates and inserts into the vector store. You only have to do this once per document.","height":102.577757187954,"width":389.2978313113204,"color":5},"id":"2fcb4f44-a321-4de3-ad53-142e31c1fd50","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,160]},{"parameters":{"content":"### PART 2 of 2\nThis part demostrates 2 examples of retrieve or query your sparse vectors.","height":80,"width":524.5591143796955,"color":5},"id":"f4b7dc09-f590-42df-a9ef-129ce6cb9b3a","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,960]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"get_sparse_vectors","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get sparse vectors"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84ac9b84-0e46-45da-b719-843d947ea429","leftValue":"={{ $json.route }}","rightValue":"my_other_thing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"my other thing"}]},"options":{"fallbackOutput":"none"}},"id":"38da8ba7-db81-4272-8bf7-b9fad2d2b169","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1664,1888]},{"parameters":{"promptType":"define","text":"=<document> \n{{ $('Extract from File').first().json.text }} \n</document>\nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.chunk }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. "},"id":"bcfc911a-c11c-4ddb-b495-5c7c88669cea","name":"Generate Contextual Text","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2160,608]},{"parameters":{"options":{}},"id":"2c7839cc-68d5-465b-a543-cb558fa20044","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[784,1376]},{"parameters":{"content":"### Sparse Vector Tool for Agent\nUnfortunately there is a bug linking code tool to custom langchain code node so this is the only approach until that is fixed!","height":287.1680736478712,"width":652.0156501726113,"color":6},"id":"b9bad0c0-54f8-4c8a-bf8e-918d1443d4da","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,1776]},{"parameters":{"url":"https://www.jaai.net/vol1/JAAI-V1N2-6.pdf","options":{}},"id":"4e73d98b-bebc-4192-bb8a-d692438ccec9","name":"Get Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,464]},{"parameters":{"model":"claude-3-haiku-20240307","options":{}},"id":"6cd49c1d-67d4-403b-9009-44caebdf1bd9","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[864,672]},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"title","description":"The title of the document.","required":true}]},"options":{}},"id":"7cde37ba-a096-4672-84fa-fc54a11ceed5","name":"Get Doc Attributes","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[912,464]},{"parameters":{"content":"## 1. Import Document PDF\n\nFor this demonstration, we'll use the Bitcoin Whitepaper from bitcoin.org.\nWe'll take this time to also extract specific document attributes which we can use as metadata.","height":513.3089035768523,"width":807.2147979360316,"color":7},"id":"e2d76dc0-eecc-4744-abf8-7edcf38e1172","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,288]},{"parameters":{"code":{"execute":{"code":"const { randomUUID } = require('crypto') // Enable the crypto lib using env var NODE_FUNCTION_ALLOW_BUILTIN=crypto\nconst { QdrantClient } = require('@qdrant/js-client-rest');\n\n// 1. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\n\n// 2. Inputs\nconst inputData = this.getInputData();\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst documentLoader = await this.getInputConnectionData('ai_document', 0);\n\n// 3. Run document loader\nconst docs = await documentLoader.processAll(inputData);\n\n// 4. generate points with sparse vectors\nconst points = [];\nlet vector = {};\nfor (let i=0,j=docs.length;i<j;i++) {\n  points.push({\n    id: randomUUID(),\n    vector: {\n      default: await embeddings.embedQuery(docs[i].pageContent),\n      bm42: inputData[i].json.sparse,\n    },\n    payload: {\n      content: docs[i].pageContent,\n      metadata: docs[i].metadata,\n    }\n  })\n}\n\n// 5. Delete existing vectors by title\nawait client.delete(collectionName, {\n  filter: {\n    must: [\n      {\n        key: \"metadata.title\",\n        match: { \"value\": docs[0].metadata.title }\n      }\n    ]\n  }\n});\n\n// 6. Upsert into Qdrant\nconst res = await client.upsert(collectionName, { points });\n\nreturn res;"}},"inputs":{"input":[{"type":"main","maxConnections":1,"required":true},{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_document","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"62f9ab55-6764-4729-9f1c-bed3fdeb5ca0","name":"Insert Documents with Sparse Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[3152,560]},{"parameters":{"code":{"supplyData":{"code":"const { QdrantClient } = require('@qdrant/js-client-rest');\nconst { CohereRerank } = require(\"@langchain/cohere\");\nconst { DynamicTool } = require(\"@langchain/core/tools\");\n\n// 1. Tool Config\nconst name = 'bitcoin_whitepaper_tool';\nconst description = 'Call this tool to get information and/or context from the Bitcoin Whitepaper';\n\n// 2. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\nconst limit = 20;\n\n// 3. Cohere config\nconst cohereRerank = new CohereRerank({\n  apiKey: '<MY_COHERE_API_KEY>', // Default\n  model: \"rerank-english-v3.0\", // Default\n});\n\n// 4. Inputs\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst sparseVectorTool = await this.getInputConnectionData('ai_tool', 0);\n\n// 5. Tool definition\nconst vectorStoreTool = new DynamicTool({\n  name,\n  description,\n  func: async (input) => {\n    const denseVector = await embeddings.embedQuery(input);\n    const sparseVector = JSON.parse(await sparseVectorTool.invoke(input));\n\n    const response = await client.query(collectionName, {\n      prefetch: [\n        {\n          query: denseVector,\n          using: 'default',\n          limit: 100\n        },\n        {\n          query: sparseVector,\n          using: 'bm42',\n          limit: 100\n        }\n     ],\n     query: { fusion: 'rrf' },\n     with_payload: true,\n     limit,\n    });\n    \n    const docs = response.points.map(res => ({\n      pageContent: res.payload.content,\n      metadata: res.payload.metadata\n    }));\n    const rankings = await cohereRerank.rerank(docs, input);\n    rankings.forEach(rank => { docs[rank.index].score = rank.relevanceScore });\n\n    const rankedDocs = docs.toSorted((a,b) => b.score-a.score);\n    return JSON.stringify(rankedDocs);\n  }\n});\n\nreturn vectorStoreTool;"}},"inputs":{"input":[{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_tool","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"ai_tool"}]}},"id":"b2c43e6e-8774-4d34-a48d-60cfbdc002e6","name":"Qdrant with Cohere ReRank","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1024,1552]},{"parameters":{"code":{"execute":{"code":"const { QdrantClient } = require('@qdrant/js-client-rest');\nconst { CohereRerank } = require(\"@langchain/cohere\");\nconst { DynamicTool } = require(\"@langchain/core/tools\");\n\n// 1. Tool Config\nconst name = 'bitcoin_whitepaper_tool';\nconst description = 'Call this tool to get information and/or context from the Bitcoin Whitepaper';\n\n// 2. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\nconst limit = 20;\n\n// 3. Cohere config\nconst cohereRerank = new CohereRerank({\n  apiKey: '<MY_COHERE_API_KEY>', // Default\n  model: \"rerank-english-v3.0\", // Default\n});\n\n// 4. Inputs\nconst inputData = await this.getInputData();\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst sparseVectorTool = await this.getInputConnectionData('ai_tool', 0);\n\n// 5. Execute\nconst query = inputData[0].json.query;\n\nconst denseVector = await embeddings.embedQuery(query);\nconst sparseVector = JSON.parse(await sparseVectorTool.invoke(query));\n\nconst response = await client.query(collectionName, {\n  prefetch: [\n    {\n      query: denseVector,\n      using: 'default',\n      limit: 100\n    },\n    {\n      query: sparseVector,\n      using: 'bm42',\n      limit: 100\n    }\n ],\n query: { fusion: 'rrf' },\n with_payload: true,\n limit,\n});\n\nconst docs = response.points.map(res => ({\n  pageContent: res.payload.content,\n  metadata: res.payload.metadata\n}));\nconst rankings = await cohereRerank.rerank(docs, query);\nrankings.forEach(rank => { docs[rank.index].score = rank.relevanceScore });\n\nconst rankedDocs = docs.toSorted((a,b) => b.score-a.score);\nreturn rankedDocs;"}},"inputs":{"input":[{"type":"main","maxConnections":1,"required":true},{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_tool","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"652872fc-8ef3-4aab-a621-f1ddd91acace","name":"Qdrant with Cohere ReRank1","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1808,1344]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1008,672],"id":"f4932610-33ef-426e-a1f6-a57867957351","name":"OpenAI Chat Model"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2208,864],"id":"a6fb0dd8-628d-466b-b916-d88c26284ef0","name":"OpenAI Chat Model1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[768,1552],"id":"a171f2aa-e1b3-485a-9bb5-13c6eb97d826","name":"OpenAI Chat Model2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Document","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Get Doc Attributes","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Documents with Sparse Vectors","type":"ai_document","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Router","type":"main","index":0}]]},"Get Sparse Vector Tool":{"ai_tool":[[{"node":"Qdrant with Cohere ReRank","type":"ai_tool","index":0}]]},"Query":{"main":[[{"node":"Qdrant with Cohere ReRank1","type":"main","index":0}]]},"Chunks To List":{"main":[[{"node":"Generate Contextual Text","type":"main","index":0}]]},"Generate TF-IDF Sparse Vectors":{"main":[[{"node":"Get Values","type":"main","index":0}]]},"Get Values":{"main":[[{"node":"Insert Documents with Sparse Vectors","type":"main","index":0}]]},"Get Sparse Vector Tool1":{"ai_tool":[[{"node":"Qdrant with Cohere ReRank1","type":"ai_tool","index":0}]]},"Embeddings Cohere":{"ai_embedding":[[{"node":"Insert Documents with Sparse Vectors","type":"ai_embedding","index":0}]]},"Embeddings Cohere1":{"ai_embedding":[[{"node":"Qdrant with Cohere ReRank","type":"ai_embedding","index":0}]]},"Embeddings Cohere2":{"ai_embedding":[[{"node":"Qdrant with Cohere ReRank1","type":"ai_embedding","index":0}]]},"Create Chunks From Doc":{"main":[[{"node":"Chunks To List","type":"main","index":0}]]},"Router":{"main":[[{"node":"Generate Sparse Vectors","type":"main","index":0}]]},"Generate Contextual Text":{"main":[[{"node":"Generate TF-IDF Sparse Vectors","type":"main","index":0}]]},"Get Document":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Get Doc Attributes":{"main":[[{"node":"Create Chunks From Doc","type":"main","index":0}]]},"Qdrant with Cohere ReRank":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Get Doc Attributes","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Generate Contextual Text","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3d869a19-ce3f-4134-acb4-c5c67549bec8","triggerCount":0,"shared":[{"createdAt":"2025-08-21T08:43:18.005Z","updatedAt":"2025-08-21T08:43:18.005Z","role":"workflow:owner","workflowId":"GSnuldTCRMERodah","projectId":"e8gWqGDyBxcRtjym"}],"tags":[]}