rag---nico-cmw-GfJBMt0PqTGofs8E.json
{"createdAt":"2025-08-21T09:06:13.900Z","updatedAt":"2025-08-21T09:06:13.900Z","id":"GfJBMt0PqTGofs8E","name":"RAG - Nico CMW","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"b84b0876-81e8-4dd4-aa33-02c6f7abd4f9","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1584,1312]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"},{"name":"file_url","value":"={{ $('Set File ID').first().json.file_url }}"}]}}},"id":"209bb807-3929-435e-99c8-eb274112cc1c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[896,320]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ca566ba0-1a61-47d1-a43d-232881a30697","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[656,352]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"3f221356-d97a-4aae-b200-d76f810b7ff1","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-720,384],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cwGv5pkNp0d2-B4bsly7P7_lWP1rgH6E","mode":"list","cachedResultName":"RAG - n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1cwGv5pkNp0d2-B4bsly7P7_lWP1rgH6E"},"event":"fileCreated","options":{}},"id":"357423e6-b0e5-4918-a801-10f93c030f23","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2016,224]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1cwGv5pkNp0d2-B4bsly7P7_lWP1rgH6E","mode":"list","cachedResultName":"RAG - n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1cwGv5pkNp0d2-B4bsly7P7_lWP1rgH6E"},"event":"fileUpdated","options":{}},"id":"5048d446-2a6f-4f41-85ae-3b65bd3175c0","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2016,384]},{"parameters":{"operation":"text","options":{}},"id":"b1ea4a55-27f2-447c-a71b-8787054f5fd5","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[16,592],"alwaysOutputData":true},{"parameters":{},"id":"3373387e-f1af-452a-976a-edbfa84625ef","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-1424,1312],"notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"1c682399-7a83-4667-b794-cf5b1db1c777","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1616,352]},{"parameters":{"options":{}},"id":"d5db0719-546d-494d-8fe9-722878699354","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-928,1040]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"e0b93aad-d319-43f5-944c-6b2ac886b6b4","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1488,1040]},{"parameters":{"public":true,"options":{}},"id":"f76c4ada-3bbf-461c-b139-33ca444689f7","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1744,1040],"webhookId":"4c4ca707-f772-4826-94cd-963bf632076b"},{"parameters":{"httpMethod":"POST","path":"ba2c554a-67a2-452a-861c-e303d2141bbf","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"c8d4ab1d-991f-4df1-b37d-9d65fa10afd4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1792,1216],"webhookId":"ba2c554a-67a2-452a-861c-e303d2141bbf"},{"parameters":{"operation":"pdf","options":{}},"id":"2c8b16f3-ffa0-4994-9d46-1d03a98e5e14","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,0]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"2855f30e-1741-44af-9597-4c7edf2b8f79","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[112,192]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"44937269-2853-4d97-a821-68eea2410d04","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[304,272]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra"}},"id":"742d30e8-51f7-4533-8167-f0151ab10fc0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-480,352]},{"parameters":{"operation":"xlsx","options":{}},"id":"e4a2d6b5-42c2-4e6a-9495-642d5f61beb0","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-112,192]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,544],"id":"9d28a058-6fdf-4814-ab78-de0bded53b7f","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-112,368],"id":"093a28ad-6fa7-4c50-b621-2c70361982cb","name":"Extract from CSV"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-368,1488],"id":"e7d5c55d-f419-4ba0-b0c0-d6cd3c10e558","name":"Embeddings OpenAI2"},{"parameters":{"batchSize":10,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1792,224],"id":"2b3bc995-84a2-4223-9c2e-13ed65e605fc","name":"Loop Over Items"},{"parameters":{"chunkSize":400,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[768,352],"id":"4647c7f3-3a96-40c4-b1e9-9efcb18ae7d2","name":"Recursive Character Text Splitter"},{"parameters":{"jsonSchemaExample":"{\n\t\"memories\": [\"Memory 1\", \"Memory 2\", \"Memory 3\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-448,1184],"id":"cf6d37e8-4314-4dcf-a965-9c97e58241bc","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[368,1424],"id":"00a6f5ea-bca4-4c25-bba7-e8891f1f7639","name":"Embeddings OpenAI"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Basic LLM Chain').item.json.output.memories }}","options":{"metadata":{"metadataValues":[{"name":"timestamp","value":"={{ $now }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[416,1248],"id":"75fd8c65-6e2c-4df6-b771-f1fa0aff8a9d","name":"Default Data Loader1"},{"parameters":{"chunkSize":400},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[576,1440],"id":"9bed7d9c-75cb-44f1-9667-3275350f1a9b","name":"Character Text Splitter"},{"parameters":{"assignments":{"assignments":[{"id":"636ddfda-13fd-4f21-ad30-fa21472ed9e7","name":"output","value":"={{ $('Agente RAG').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,1120],"id":"8ffefff5-6e52-4745-a310-0b32b44646ec","name":"Edit Fields1","executeOnce":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1056,1568],"id":"09f85ba5-d99b-4a99-a00a-1c486edbe88a","name":"Embeddings OpenAI3"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,1408],"id":"9b8c80d5-dbd6-4a0f-ac8a-3ef30da68e12","name":"OpenAI Chat Model2"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"memories","mode":"list","cachedResultName":"memories"},"options":{"queryName":"match_memories"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[400,1008],"id":"c0ac94d8-abdf-4e70-9a48-94996db69717","name":"Supabase Vector Store","executeOnce":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[272,1776],"id":"2871c866-d3ce-4ba4-a114-ed657abb45a4","name":"Embeddings OpenAI4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb436122-f430-4ea5-98d8-b99e8c52eeaa","leftValue":"={{ $json.output.memories }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,1024],"id":"10ce55a6-e4b6-4918-b6c0-e574ab111ca2","name":"If"},{"parameters":{"promptType":"define","text":"=Eres un experto en extraer información clave de las conversaciones para almacenarla como memoria a largo plazo para RAG.\n\nEl usuario dijo:\n\n{{ $('Edit Fields').item.json.chatInput }}\n\nTu objetivo es generar una lista de memorias clave para extraer de la conversación.\n\nSimplemente devuelve una lista vacía si no hay nada que valga la pena guardar, como cuando el usuario solo hace una pregunta básica sin proporcionar contexto adicional.\n","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-688,1024],"id":"2e2095db-84a0-43b5-8604-d064b4f3edf2","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-624,1184],"id":"60490565-1bd4-41b6-9063-1291e348e7ba","name":"OpenAI Chat Model1"},{"parameters":{"jsonSchemaExample":"[\"Memory 1\", \"Memory 2\", \"Memory 3\"]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[128,1248],"id":"317848b4-566d-4f2c-99c9-bf750cf5e11e","name":"Structured Output Parser1"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM memories\nWHERE content IN ({{ $json.output.concat($('Basic LLM Chain').item.json.output.memories).map(item => `'${item.replace(/'/g, \"''\")}'`).join(', ') || '__IMPOSSIBLE_VALUE__' }})","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,1024],"id":"3f7877ac-eba3-4253-bce0-00cfd7264e9b","name":"Postgres"},{"parameters":{"name":"execute_code","description":"Call this tool to execute JavaScript code that you create with parameters that you specify too. All code must be a single line and must be JavaScript code.","jsCode":"/**\n * Execute arbitrary JavaScript code and capture its console output\n * @param {string} codeString - JavaScript code to execute\n * @returns {string} The captured console output\n */\nfunction executeCode(codeString) {\n  // Save the original console.log function\n  const originalLog = console.log;\n  \n  // Create an array to store the output\n  const outputLines = [];\n  \n  // Override console.log to capture output\n  console.log = function(...args) {\n    // Convert all arguments to strings and join them\n    const output = args.map(arg => \n      typeof arg === 'object' ? JSON.stringify(arg) : String(arg)\n    ).join(' ');\n    \n    // Add to our captured output\n    outputLines.push(output);\n  };\n  \n  // Variable to store the result\n  let result;\n  \n  try {\n    // Execute the code\n    result = eval(codeString);\n  } catch (error) {\n    // Restore the original console.log\n    console.log = originalLog;\n    return `Error executing code: ${error.message}`;\n  } finally {\n    // Restore the original console.log\n    console.log = originalLog;\n  }\n  \n  // Join all captured output lines\n  const output = outputLines.join('\\n');\n  \n  // If there's a result but no console output, return the result\n  if (output === '' && result !== undefined) {\n    return String(result);\n  }\n  \n  return output;\n}\n\nreturn executeCode(query.code_to_execute);","specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"code_to_execute\": \"console.log('test')\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-1200,1376],"id":"459fd11f-b151-4b98-a241-27b771c7893b","name":"Code Tool"},{"parameters":{"name":"web_search","description":"Llama a esta herramienta para realizar una búsqueda web avanzada basada en una consulta que definas.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}","tool_type":"web_search"},"matchingColumns":[],"schema":[{"id":"tool_type","displayName":"tool_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-1312,1328],"id":"ae51083d-e094-4adb-aae5-c0f9a69664a2","name":"Búsqueda en Internet"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=Eres un asistente de inteligencia artificial con capacidades avanzadas de investigación y análisis. Sobresales en recuperar, procesar y sintetizar información de diversos tipos de documentos para proporcionar respuestas precisas y completas. Eres intuitivo, amable y proactivo, siempre con el objetivo de ofrecer la información más relevante manteniendo claridad y precisión.\n\nObjetivo:\n\nTu objetivo es proporcionar información precisa, relevante y bien fundamentada utilizando tu conjunto de herramientas. Buscas agilizar el proceso de investigación del usuario, ofrecer análisis con valor añadido y asegurarte de que reciban respuestas fiables a sus consultas. Ayudas a los usuarios proporcionando respuestas reflexivas, bien investigadas, que les ahorran tiempo y mejoran su comprensión de temas complejos.\n\nInstrucciones sobre el uso de herramientas:\n\n- Siempre comienza con la Memoria:Antes de hacer cualquier cosa, usa la herramienta de memoria para recuperar información relevante. Prioriza siempre esta herramienta y úsala siempre si la respuesta necesita estar personalizada para el usuario de cualquier forma.\n\n- Estrategia de recuperación de documentos:\n  Para consultas de información general: usa RAG primero. Luego analiza documentos individuales si RAG no es suficiente.\n  Para análisis numérico o consultas de datos: usa SQL sobre datos tabulares.\n\n- Límites del conocimiento:Reconoce explícitamente cuando no puedes encontrar una respuesta en los recursos disponibles.\n\nPara el resto de herramientas, úsalas según sea necesario basándote en sus descripciones.\n\nFormato de salida:\n\nEstructura tus respuestas de forma clara, concisa y bien organizada. Comienza con una respuesta directa a la consulta del usuario cuando sea posible, seguida de la información de apoyo y el razonamiento detrás de tu respuesta.\n\nInstrucciones adicionales:\n\n- Aclaración de consultas:\n  Solicita aclaraciones cuando las consultas sean ambiguas,pero revisa la memoria primero, ya que eso puede aclarar las cosas.\n\n- Buenas prácticas en análisis de datos:\n\n  Explica tu enfoque analítico al ejecutar código o consultas SQL\n  Presenta los resultados numéricos con el contexto y las unidades adecuadas\n\n- Priorización de fuentes:\n  Prioriza los documentos más recientes y autorizados cuando la información varíe.\n\n- Transparencia sobre limitaciones:\n  Deja claro cuando la información parezca desactualizada o incompleta.\n  Reconoce cuándo una búsqueda en la web podría proporcionar información más actual que tu corpus documental."}},"id":"e626da1a-e103-4e5d-a90c-da82cc248d72","name":"Agente RAG","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1264,1040]},{"parameters":{"promptType":"define","text":"=Eres un experto en mantener una base de datos de memorias para un usuario, asegurándote de que no haya memorias duplicadas o contradictorias.\n\nLas memorias actuales que se están añadiendo a la base de datos son:\n\n{{ $json.output.memories }}\n\nTu tarea es:\n\n- Buscar en la base de datos de memorias para encontrar cualquier memoria duplicada o contradictoria. La herramienta devolverá memorias como resultado de la búsqueda, pero tú debes decidir si son duplicadas o contradictorias con respecto a las memorias que se están añadiendo.\n- Si encuentras alguna memoria duplicada o contradictoria, devuelve una lista de memorias a eliminar (el contenido exacto de la memoria). En caso contrario, si no encuentras ninguna memoria para eliminar, devuelve una lista vacía. Debes tomar la decisión basándote en todas las memorias devueltas por la búsqueda. Las memorias que indiques deben coincidir EXACTAMENTE con el contenido recibido.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,1024],"id":"3c37bec1-3b7f-4929-8a20-1c8a326a36f0","name":"Agente Memoria"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-928,240],"id":"fffc47d2-ac1b-4312-8fd5-71306c03a259","name":"Insertar Metadata","executeOnce":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"7097b132-5175-45db-9e19-33e332f09b5f","name":"Eliminiar Docs Antiguos de Filas","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1392,224],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1168,384],"id":"e5a77cf5-8bec-4004-b5eb-39063ba11129","name":"Eliminar Filas Antiguas","alwaysOutputData":true,"executeOnce":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[112,368],"id":"8cf57610-ce3c-4115-b324-6fdf814ae6b4","name":"Insertar Filas de Tablas"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[992,544],"id":"9def1eaf-5db3-449d-b41e-2914f1aca7f3","name":"Actualizar Esquema Metadata"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"a90f1960-98d9-4244-b5bb-0dffa921d701","name":"Subir a Base Vectorial","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[784,128]},{"parameters":{"url":"=https://api.search.brave.com/res/v1/web/search?q={{ $('Inicip Herramienta').item.json.query }} }}&summary=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Accept-Encoding","value":"gzip"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,2000],"id":"4bce886a-5f58-4351-806e-29a1680886fa","name":"Búsqueda en Brave"},{"parameters":{"url":"=https://api.search.brave.com/res/v1/summarizer/search?key={{ $json.summarizer.key }}&entity_info=1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Accept-Encoding","value":"gzip"}]},"options":{}},"id":"4e192ccc-a748-4345-b2b8-1545c6d4bb81","name":"Resumir Búsqueda","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,2000]},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1488,2000],"id":"905b9af7-0a07-4952-a24d-e377c3c1d055","name":"Crear tabla de documentos y función para Match"},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table memories (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_memories (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (memories.embedding <=> query_embedding) as similarity\n  from memories\n  where metadata @> filter\n  order by memories.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1232,2000],"id":"c48daf92-807e-4bdf-807e-2e57f6f7277d","name":"Crear tabla de memoria y función para Match"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-992,2000],"id":"f8fc9df4-fc60-47d8-bff9-507723949def","name":"Crear Tabla de Metadata"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-752,2000],"id":"8401631c-f2c2-4ad1-9c38-435bc7751939","name":"Crear tabla de filas de documentos (para datos tabulares)"},{"parameters":{"workflowInputs":{"values":[{"name":"tool_type"},{"name":"query"},{"name":"image_url"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,2000],"id":"a2d253dc-bd76-408b-a620-f45434b65ce7","name":"Inicip Herramienta"},{"parameters":{"mode":"retrieve-as-tool","toolName":"memories","toolDescription":"Usa esta herramienta para obtener memorias de conversaciones anteriores si es necesario para responder una pregunta del usuario o continuar la conversación.","tableName":{"__rl":true,"value":"memories","mode":"list","cachedResultName":"memories"},"options":{"queryName":"match_memories"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-1056,1376],"id":"a158f258-89b3-48f2-a6e1-5d534cc5adcc","name":"Buscar Memorias"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Usa RAG para buscar información en la base de conocimiento.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-496,1328],"id":"560dfd86-a76c-47ea-8b79-bd49010d50d5","name":"Herramienta RAG"},{"parameters":{"mode":"retrieve-as-tool","toolName":"memories","toolDescription":"Use this tool to retrieve memories from the database. You specifically want to use this to find similar memories to what you are planning on adding so that you can do what it takes to remove duplicates.","tableName":{"__rl":true,"value":"memories","mode":"list","cachedResultName":"memories"},"topK":8,"options":{"queryName":"match_memories"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-48,1408],"id":"a8bebe6f-ed44-4086-a6ae-480e48e6b8b8","name":"Memorias Similares"},{"parameters":{"descriptionType":"manual","toolDescription":"Dado un ID de archivo, obtiene el texto del documento.\n","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-688,1328],"id":"cc8d5118-aefe-4229-b314-9e23bad433cd","name":"Obtener contenido"},{"parameters":{"descriptionType":"manual","toolDescription":"Usa esta herramienta para obtener todos los documentos disponibles, incluyendo el esquema de la tabla si el archivo es un CSV o un archivo de Excel.\n","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-768,1440],"id":"fe5d94e5-24e3-4365-a6ac-778ec22cbd3f","name":"Lista Documentos"},{"parameters":{"descriptionType":"manual","toolDescription":"Ejecuta una consulta SQL: utiliza esta herramienta para consultar la tabla `document_rows` una vez que conozcas el ID del archivo que estás consultando. `dataset_id` corresponde al `file_id`, y siempre debes usar el campo `row_data` para filtrar. Este campo es de tipo `jsonb` y contiene todas las claves definidas en el esquema del archivo, que se encuentra en la tabla `document_metadata`.\n\nEjemplo de consulta 1:\n\n```sql\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n```\n\nEjemplo de consulta 2:\n\n```sql\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';\n```\n","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-592,1440],"id":"1aaf9880-abb3-4531-8140-ed41238cabca","name":"Consultar filas del documento"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente RAG","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Subir a Base Vectorial","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Subir a Base Vectorial","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Subir a Base Vectorial","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente RAG","type":"ai_memory","index":0}]]},"Set File ID":{"main":[[{"node":"Eliminiar Docs Antiguos de Filas","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Agente RAG","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Subir a Base Vectorial","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Subir a Base Vectorial","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insertar Filas de Tablas","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Actualizar Esquema Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insertar Filas de Tablas","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Herramienta RAG","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Buscar Memorias","type":"ai_embedding","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Agente Memoria","type":"ai_languageModel","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Embeddings OpenAI4":{"ai_embedding":[[{"node":"Memorias Similares","type":"ai_embedding","index":0}]]},"If":{"main":[[{"node":"Agente Memoria","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Agente Memoria","type":"ai_outputParser","index":0}]]},"Postgres":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Búsqueda en Internet":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Agente RAG":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Agente Memoria":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Insertar Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Eliminiar Docs Antiguos de Filas":{"main":[[{"node":"Eliminar Filas Antiguas","type":"main","index":0}]]},"Eliminar Filas Antiguas":{"main":[[{"node":"Insertar Metadata","type":"main","index":0}]]},"Subir a Base Vectorial":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Búsqueda en Brave":{"main":[[{"node":"Resumir Búsqueda","type":"main","index":0}]]},"Inicip Herramienta":{"main":[[{"node":"Búsqueda en Brave","type":"main","index":0}]]},"Buscar Memorias":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Herramienta RAG":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Memorias Similares":{"ai_tool":[[{"node":"Agente Memoria","type":"ai_tool","index":0}]]},"Obtener contenido":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Lista Documentos":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]},"Consultar filas del documento":{"ai_tool":[[{"node":"Agente RAG","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cf4faaa9-9a41-417d-a782-257e68464bcf","triggerCount":0,"shared":[{"createdAt":"2025-08-21T09:06:13.900Z","updatedAt":"2025-08-21T09:06:13.900Z","role":"workflow:owner","workflowId":"GfJBMt0PqTGofs8E","projectId":"e8gWqGDyBxcRtjym"}],"tags":[]}