rag-system---local-ollama-EcUe4dP0b1U2hWCD.json
{"createdAt":"2025-08-21T08:42:34.508Z","updatedAt":"2025-08-21T08:42:34.508Z","id":"EcUe4dP0b1U2hWCD","name":"rag-system---local-ollama","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"ce8d98c5-b0e8-4bcb-b568-e76eb61e2ac4","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[192,496]},{"parameters":{"operation":"pdf","options":{}},"id":"b842958f-4800-407a-a209-f051ccad8157","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[768,528]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chunks = [];\nconst chunkSize = 1000;\nconst chunkOverlap = 200;\nconst text = $('Extract from File').item.json.text.replace(/\\n/, '');\n\nfor (let i=0,j=Math.round(text.length/chunkSize)+1;i<j;i++) {\n  chunks.push(\n    text.substr(\n      Math.max(0,(i * chunkSize)-chunkOverlap),\n      chunkSize\n    )\n  );\n}\n\nreturn { chunks };"},"id":"41f77787-1692-47bf-8196-02f0ae8ada9a","name":"Create Chunks From Doc","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,608]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{\n{\n  \"content\": `${$json.text }\\n---\\n${$json.chunk}`\n}\n}}","options":{"metadata":{"metadataValues":[{"name":"title","value":"={{ $json.title }}"}]}}},"id":"c70e9796-8773-450d-a762-fc46ac6481c4","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3296,816]},{"parameters":{"chunkSize":2000,"options":{}},"id":"38346434-192e-4ffd-93cc-3589d05afabe","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3296,928]},{"parameters":{"options":{}},"id":"a9e13b07-fa79-4852-a7e2-f8d3469d4325","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[640,1424],"webhookId":"436ca65c-46ca-4f8c-86e2-b8633b428eea"},{"parameters":{},"id":"31de7a4e-cda0-4181-ab4e-2da828467806","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[960,1616]},{"parameters":{"content":"## 2. Split Document Into Chunks\nUnlike traditional vector store workflows, we want to split our document prior to embedding and this is easily achieved using the Code node. Feel free to adjust the text splitting params or replace it entirely to suit the needs of your data.\n\nYou may need to play around and adjust the chunksize for your particular data. Contextual retrieval as described in the article is expected to return 20 results so best to keep these small.","height":513.3089035768523,"width":553.1909664515983,"color":7},"id":"e77c5f06-b574-440e-8247-aa96ec4bbb62","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1328,352]},{"parameters":{"content":"## 3. Generate Sparse Vector and Contextual Text For Chunk\nWith our chunks, we'll want to achieve the following:\n(1) **Generate a contextual summary of what the chunk is about relative to the whole document**.\nFor this, we'll use the basic LLM node using Antrophic's Claude Haiku model with the recommended prompt as shared in the article.\n(2) **Generate a sparse vector for the chunk and summary**\nWe can use the python code node to generate TF-IDF sparse vectors with the scikit-learn library. Good to know, this library doesn't require external dependency setup steps and auto-installs on first time use.\n\nOnce we have our generated values, we'll combine them with the chunk object using the Edit Fields node.","height":748.1255853485875,"width":1019.742667955435,"color":7},"id":"9c6cc336-86df-4ff9-915d-e09d0d75ffe8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,352]},{"parameters":{"content":"## 4. Insert Docs to Qdrant (via Langchain Code Node)\nUnfortunately, n8n (or rather langchain) doesn't support inserting sparse vectors so we'll have to build our own \"Insert Documents\" node using a Langchain Code Node. In this Langchain code node, we'll forego the langchain vectorstore node and use the Qdrant client SDK directly instead.\n\n**Note** To avoid duplication, this node will also delete existing vectors by document title. It does so by tagging each vector with the document title we extracted earlier then when run again, performs a Qdrant delete by filter before upserting.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Ensure your Qdrant instance is running and set the URL in the node\n* Create the Qdrant collection as instructed (see yellow sticky)\n","height":783.6896392386983,"width":828.7526122872351,"color":7},"id":"7c87afc7-0178-4022-b741-480fa71a401d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2976,320]},{"parameters":{"content":"## 5. Retrieval using Sparse Vectors and ReRanker (Chat Agent Example)\nFor retrieval, we want to be able to (1) query with both dense and sparse vectors and (2) apply a rerank algorithm to our vector store docs. We can setup a custom vector store tool which does both using a custom Langchain Code node.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Installed the updated version of the @Qdrant/js-client-rest module\n* Ensure your Qdrant instance is running and set the URL in the \"Qdrant with Cohere ReRank\" subnode\n* Add your Cohere API key in the \"Qdrant with Cohere ReRank\" subnode.","height":828.8619472986827,"width":973.8052093023243,"color":7},"id":"00ebd651-62a6-48ec-b4d1-0f2ac5d1b1b0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,1136]},{"parameters":{},"id":"f79255f3-aea6-4f09-9486-52d5d0cf3b3a","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[1552,1952]},{"parameters":{"name":"get_sparse_vector","description":"Generates TD-IDF sparse vector for query","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"fields":{"values":[{"name":"route","stringValue":"get_sparse_vectors"}]}},"id":"b1365d39-4cf4-4bfe-ad21-ea59796452cc","name":"Get Sparse Vector Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1232,1744]},{"parameters":{"assignments":{"assignments":[{"id":"87bc3071-4179-4aed-aa88-37c6381d8b73","name":"query","value":"Who created Bitcoin?","type":"string"}]},"options":{}},"id":"c3b98e1e-71c3-4362-bc0a-9d0e1a4b1f21","name":"Query","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,1408]},{"parameters":{"name":"get_sparse_vector","description":"Generates TD-IDF sparse vector for query","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"}},"id":"b8cf4454-778f-461b-984c-12324afa2c41","name":"Get Sparse Vector Tool1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2048,1584]},{"parameters":{"content":"## 6. Retrieval using Sparse Vectors and ReRanker (Retrieval Example)\nThis demonstration is similar to the previous step but is not using an AI Agent.\n\n**Required:**\nTo use this demonstration, you must complete the following:\n* Installed the updated version of the @Qdrant/js-client-rest module\n* Ensure your Qdrant instance is running and set the URL in the \"Qdrant with Cohere ReRank1\" node\n* Add your Cohere API key in the \"Qdrant with Cohere ReRank1\" node.","height":683.3722976015338,"width":838.4124151865863,"color":7},"id":"9a844426-e213-4e22-ae68-ae4310f3a3f2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1488,1136]},{"parameters":{"content":"### Create Collection!\nYou need to create a Qdrant Collection as follows:\n\n* Go to http[s]:\\//<qdrant_url>/dashboard#/console\nIf you are hosting locally, this is usually http://localhost:6333/dashboard#/console\n* Copy the following into the left panel. This will tell Qdrant to create a new collection called “contextual_retrieval_example”. You can change this of course but you’ll also need to change all “collectionName” references in the template as well!\n\n```\nPUT collections/contextual_retrieval_example\n{\n  \"vectors\": {\n    \"default\": {\n      \"distance\": \"Cosine\",\n      \"size\": 1024\n    }\n  },\n  \"sparse_vectors\": {\n    \"bm42\": {\n      \"modifier\": \"idf\"\n    }\n  }\n}\n```","height":505.701259707935,"width":516.3129732020735},"id":"a4eebc97-72b5-4275-a917-ea7604fd8ec5","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3696,656]},{"parameters":{"fieldToSplitOut":"chunks","options":{"destinationFieldName":"chunk"}},"id":"69768257-92fa-40df-8cb5-16c9ac31f82b","name":"Chunks To List","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2032,672]},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"texts = [f\"{_('Generate Contextual Text').item.json.text}\\n---\\n{_('Chunks To List').item.json.chunk}\"]\n\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Create TF-IDF vectorizer\nvectorizer = TfidfVectorizer()\n\n# Fit and transform the texts to generate TF-IDF vectors\nX = vectorizer.fit_transform(texts)\n\nreturn {\n  \"sparse\": {\n    \"indices\": X.indices.tolist(),\n    \"values\": X.data.tolist()\n  }\n}"},"id":"0cb2532c-c277-4a10-ad59-961b4d3db5f9","name":"Generate TF-IDF Sparse Vectors","type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,672]},{"parameters":{"assignments":{"assignments":[{"id":"069d067c-3534-4939-8ff4-34dee02a9436","name":"chunk","value":"={{ $('Chunks To List').item.json.chunk }}","type":"string"},{"id":"24e01f4f-e156-47e9-a89e-9cbdccda6bd4","name":"text","value":"={{ $('Generate Contextual Text').item.json.text }}","type":"string"},{"id":"fa48ddaa-4658-463a-b1af-8308c24e325a","name":"sparse","value":"={{ $json.sparse }}","type":"object"},{"id":"442efe87-a826-402c-aadc-909923915d30","name":"title","value":"={{ $('Get Doc Attributes').first().json.output.title }}","type":"string"}]},"options":{}},"id":"3c23bdeb-af1b-4d92-a304-fc8a6a38a76b","name":"Get Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,672]},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"import json\nfrom sklearn.feature_extraction.text import TfidfVectorizer\n\n# Create TF-IDF vectorizer\nvectorizer = TfidfVectorizer()\n\n# Fit and transform the texts to generate TF-IDF vectors\ntexts = [_input.item.json.query]\nX = vectorizer.fit_transform(texts)\n\nreturn {\n  \"response\": {\n    \"indices\": X.indices.tolist(),\n    \"values\": X.data.tolist()\n  }\n}"},"id":"bdffa8ce-beef-4a3b-b584-018e368590b7","name":"Generate Sparse Vectors","type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,1952]},{"parameters":{"content":"## Implementing Antrophic's Contextual Retrieval \n\nThis workflow is inspired by the Antrophic article, [\"Introducing Contextual Retrieval\"](https://www.anthropic.com/news/contextual-retrieval), and tries to replicate the instructions given.\n\n**Original post here**: https://community.n8n.io/t/building-the-ultimate-rag-setup-with-contextual-summaries-sparse-vectors-and-reranking/54861/1\n\n### Changelog\n2024-10-10 Updated to 1.62.1\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n","height":634.9891793542789,"width":405.66570496276904},"id":"573118bc-d2a2-40a2-a0a2-1749d4222e4d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,64]},{"parameters":{"content":"### PART 1 of 2\nThis part generates and inserts into the vector store. You only have to do this once per document.","height":102.577757187954,"width":389.2978313113204,"color":5},"id":"12cef49c-6e06-43b7-ab15-4474341b52d1","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,224]},{"parameters":{"content":"### PART 2 of 2\nThis part demostrates 2 examples of retrieve or query your sparse vectors.","height":80,"width":524.5591143796955,"color":5},"id":"53f7101a-89e8-43df-a101-1d62d2cbf674","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,1024]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"get_sparse_vectors","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"get sparse vectors"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"84ac9b84-0e46-45da-b719-843d947ea429","leftValue":"={{ $json.route }}","rightValue":"my_other_thing","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"my other thing"}]},"options":{"fallbackOutput":"none"}},"id":"9f18fd0c-faee-4ffd-aea1-3873b2f459e0","name":"Router","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1712,1952]},{"parameters":{"promptType":"define","text":"=<document> \n{{ $('Extract from File').first().json.text }} \n</document>\nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.chunk }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. "},"id":"ffafaaac-4709-4c77-9b0b-dd438cf9d59e","name":"Generate Contextual Text","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2208,672]},{"parameters":{"options":{}},"id":"0c0888e1-7ea8-440b-aca2-00b1e45eb144","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[832,1424]},{"parameters":{"content":"### Sparse Vector Tool for Agent\nUnfortunately there is a bug linking code tool to custom langchain code node so this is the only approach until that is fixed!","height":287.1680736478712,"width":652.0156501726113,"color":6},"id":"84411008-8d4c-4a48-b3a5-0aa7c9fb4cbb","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,1840]},{"parameters":{"url":"https://bitcoin.org/bitcoin.pdf","options":{}},"id":"0e2dbbf5-e77c-4179-968f-e5fa3dcf69cc","name":"Get Document","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,528]},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"title","description":"The title of the document.","required":true}]},"options":{}},"id":"325de70e-ba12-48ef-97ff-8c8405603edc","name":"Get Doc Attributes","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[960,528]},{"parameters":{"content":"## 1. Import Document PDF\n\nFor this demonstration, we'll use the Bitcoin Whitepaper from bitcoin.org.\nWe'll take this time to also extract specific document attributes which we can use as metadata.","height":513.3089035768523,"width":807.2147979360316,"color":7},"id":"47122f18-a304-4f71-bce2-34d65a25f03a","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,352]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"9a6a7eb9-7662-4f2a-9a55-d6139e605443","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[960,704]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"cf4ca0c1-97b3-4813-bbbd-0b1eef543722","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2208,896]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"f61c33f0-4d28-4490-9a52-272fe1cc5811","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[3152,816]},{"parameters":{"model":"llama3.2:latest"},"id":"7fff18b5-8108-44b7-9eb9-dcc3f61d981f","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1072,1744]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"e4772749-7a01-4f94-8078-48a8941a28c7","name":"Embeddings Ollama2","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1856,1584]},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"abf4419f-d4c5-4aec-b220-dbf6c9d187ce","name":"Ollama Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[832,1616]},{"parameters":{"content":"### NO SUPPORT PROVIDED\nUnfortunately, local models are still currently prone to a lot of stability and accurracy issues which are near impossible for me to reproduce or explain. If you use this template, you do so understanding that I can't help with fixing your issues and you just have to figure it out for yourself.","height":140.02059752369627,"width":509.7219334301004,"color":3},"id":"851fe11a-97bd-46b7-9a35-bec3f4696acc","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,64]},{"parameters":{"code":{"supplyData":{"code":"const { QdrantClient } = require('@qdrant/js-client-rest');\nconst { BM25Retriever } = require(\"@langchain/community/retrievers/bm25\");\nconst { DynamicTool } = require(\"@langchain/core/tools\");\n\n// 1. Tool Config\nconst name = 'bitcoin_whitepaper_tool';\nconst description = 'Call this tool to get information and/or context from the Bitcoin Whitepaper';\n\n// 2. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\nconst limit = 20;\n\n// 3. Inputs\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst sparseVectorTool = await this.getInputConnectionData('ai_tool', 0);\n\n// 4. Tool definition\nconst vectorStoreTool = new DynamicTool({\n  name,\n  description,\n  func: async (input) => {\n    const denseVector = await embeddings.embedQuery(input);\n    const sparseVector = JSON.parse(await sparseVectorTool.invoke(input));\n\n    const response = await client.query(collectionName, {\n      prefetch: [\n        {\n          query: denseVector,\n          using: 'default',\n          limit: 100\n        },\n        {\n          query: sparseVector,\n          using: 'bm42',\n          limit: 100\n        }\n     ],\n     query: { fusion: 'rrf' },\n     with_payload: true,\n     limit,\n    });\n    \n    const docs = response.points.map(res => ({\n      pageContent: res.payload.content,\n      metadata: res.payload.metadata\n    }));\n    const retriever = BM25Retriever.fromDocuments(docs, { k: limit });\n    const rankedDocs = await retriever.invoke(query);\n    return JSON.stringify(rankedDocs);\n  }\n});\n\nreturn vectorStoreTool;"}},"inputs":{"input":[{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_tool","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"ai_tool"}]}},"id":"87af3a34-1b64-4d84-acec-2e4407502af3","name":"Qdrant with BM25 ReRank","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1072,1616]},{"parameters":{"code":{"execute":{"code":"const { QdrantClient } = require('@qdrant/js-client-rest');\nconst { BM25Retriever } = require(\"@langchain/community/retrievers/bm25\");\nconst { DynamicTool } = require(\"@langchain/core/tools\");\n\n// 1. Tool Config\nconst name = 'bitcoin_whitepaper_tool';\nconst description = 'Call this tool to get information and/or context from the Bitcoin Whitepaper';\n\n// 2. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\nconst limit = 20;\n\n// 3. Inputs\nconst inputData = await this.getInputData();\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst sparseVectorTool = await this.getInputConnectionData('ai_tool', 0);\n\n// 4. Execute\nconst query = inputData[0].json.query;\n\nconst denseVector = await embeddings.embedQuery(query);\nconst sparseVector = JSON.parse(await sparseVectorTool.invoke(query));\n\nconst response = await client.query(collectionName, {\n  prefetch: [\n    {\n      query: denseVector,\n      using: 'default',\n      limit: 100\n    },\n    {\n      query: sparseVector,\n      using: 'bm42',\n      limit: 100\n    }\n ],\n query: { fusion: 'rrf' },\n with_payload: true,\n limit,\n});\n\nconst docs = response.points.map(res => ({\n  pageContent: res.payload.content,\n  metadata: res.payload.metadata\n}));\nconst retriever = BM25Retriever.fromDocuments(docs, { k: limit });\nconst rankedDocs = await retriever.invoke(query);\nreturn rankedDocs;"}},"inputs":{"input":[{"type":"main","maxConnections":1,"required":true},{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_tool","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"becfc2ad-d25f-4f36-893a-e90c7cd37474","name":"Qdrant with BM25 ReRank1","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1856,1408]},{"parameters":{"code":{"execute":{"code":"const { randomUUID } = require('crypto') // Enable the crypto lib using env var NODE_FUNCTION_ALLOW_BUILTIN=crypto\nconst { QdrantClient } = require('@qdrant/js-client-rest');\n\n// 1. Qdrant config\nconst client = new QdrantClient({ url: 'http://qdrant:6333' });\nconst collectionName = 'contextual_retrieval_example';\n\n// 2. Inputs\nconst inputData = this.getInputData();\nconst embeddings = await this.getInputConnectionData('ai_embedding', 0);\nconst documentLoader = await this.getInputConnectionData('ai_document', 0);\n\n// 3. Run document loader\nconst docs = await documentLoader.processAll(inputData);\n\n// 4. generate points with sparse vectors\nconst points = [];\nlet vector = {};\nfor (let i=0,j=docs.length;i<j;i++) {\n  points.push({\n    id: randomUUID(),\n    vector: {\n      default: await embeddings.embedQuery(docs[i].pageContent),\n      bm42: inputData[i].json.sparse,\n    },\n    payload: {\n      content: docs[i].pageContent,\n      metadata: docs[i].metadata,\n    }\n  })\n}\n\n// 5. Delete existing vectors by title\nawait client.delete(collectionName, {\n  filter: {\n    must: [\n      {\n        key: \"metadata.title\",\n        match: { \"value\": docs[0].metadata.title }\n      }\n    ]\n  }\n});\n\n// 6. Upsert into Qdrant\nconst res = await client.upsert(collectionName, { points });\n\nreturn res;"}},"inputs":{"input":[{"type":"main","maxConnections":1,"required":true},{"type":"ai_embedding","maxConnections":1,"required":true},{"type":"ai_document","maxConnections":1,"required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"f9f1ba06-5be4-484e-957d-54a5ec462e29","name":"Insert Documents with Sparse Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[3200,624]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Document","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Get Doc Attributes","type":"main","index":0}]]},"Create Chunks From Doc":{"main":[[{"node":"Chunks To List","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert Documents with Sparse Vectors","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Router","type":"main","index":0}]]},"Get Sparse Vector Tool":{"ai_tool":[[{"node":"Qdrant with BM25 ReRank","type":"ai_tool","index":0}]]},"Query":{"main":[[{"node":"Qdrant with BM25 ReRank1","type":"main","index":0}]]},"Get Sparse Vector Tool1":{"ai_tool":[[{"node":"Qdrant with BM25 ReRank1","type":"ai_tool","index":0}]]},"Chunks To List":{"main":[[{"node":"Generate Contextual Text","type":"main","index":0}]]},"Generate TF-IDF Sparse Vectors":{"main":[[{"node":"Get Values","type":"main","index":0}]]},"Get Values":{"main":[[{"node":"Insert Documents with Sparse Vectors","type":"main","index":0}]]},"Router":{"main":[[{"node":"Generate Sparse Vectors","type":"main","index":0}]]},"Generate Contextual Text":{"main":[[{"node":"Generate TF-IDF Sparse Vectors","type":"main","index":0}]]},"Get Document":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Get Doc Attributes":{"main":[[{"node":"Create Chunks From Doc","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Get Doc Attributes","type":"ai_languageModel","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Generate Contextual Text","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Insert Documents with Sparse Vectors","type":"ai_embedding","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant with BM25 ReRank","type":"ai_embedding","index":0}]]},"Embeddings Ollama2":{"ai_embedding":[[{"node":"Qdrant with BM25 ReRank1","type":"ai_embedding","index":0}]]},"Ollama Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Qdrant with BM25 ReRank":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e9367932-a4df-4cf5-abe1-596ae02e737a","triggerCount":0,"shared":[{"createdAt":"2025-08-21T08:42:34.508Z","updatedAt":"2025-08-21T08:42:34.508Z","role":"workflow:owner","workflowId":"EcUe4dP0b1U2hWCD","projectId":"e8gWqGDyBxcRtjym"}],"tags":[]}